<div *ngIf="importing" class="cx-padding-5">
  <h2>{{ "comic-files.busy-title" | translate }}</h2>
  <h3>{{ "comic-files.processing-comics." + stepName | translate }}</h3>
  <h3>
    {{
      "comic-files.processing-comics.subtitle"
        | translate
          : {
              total: total,
              processed: processed,
              percentage: progress | number: "1.0-2"
            }
    }}
  </h3>
  <mat-progress-bar
    mode="determinate"
    [value]="progress"
    color="accent"
  ></mat-progress-bar>
</div>
<div *ngIf="!importing">
  <cx-comic-file-covers
    *ngIf="!!user"
    [user]="user"
    [files]="files"
    [selectedFiles]="selectedFiles"
  ></cx-comic-file-covers>
</div>
