<mat-drawer-container class="app-container">
  <mat-drawer-content>
    <mat-toolbar>
      @if (!!(user$ | async)) {
        <button
          matIconButton
          routerLink="/"
          [matTooltip]="'app.toolbar.tooltip.home' | translate"
        >
          <mat-icon>home</mat-icon>
        </button>

        <button
          matIconButton
          routerLink="/library/all"
          [matTooltip]="'app.toolbar.tooltip.library' | translate"
        >
          <mat-icon>local_library</mat-icon>
        </button>
      }

      @if (isAdmin$ | async) {
        <button
          matIconButton
          routerLink="/library/import"
          [matTooltip]="'app.toolbar.tooltip.import' | translate"
        >
          <mat-icon>upload_2</mat-icon>
        </button>

        <button
          matIconButton
          routerLink="/settings"
          [matTooltip]="'app.toolbar.tooltip.settings' | translate"
        >
          <mat-icon>settings</mat-icon>
        </button>
      }

      <div class="cx-spacer"></div>

      <span>
        ComiXed
        @if ((isAdmin$ | async) && latestRelease?.newer) {
          <button
            id="view-latest-release-button"
            mat-icon-button
            [matTooltip]="
              'app.toolbar.tooltip.new-release-available'
                | translate
                  : {
                      version: latestRelease?.version,
                      released: latestRelease?.updated | date: 'mediumDate'
                    }
            "
            [disabled]="checkingLatestVersion"
            (click)="onViewLatestRelease()"
          >
            <mat-icon>new_releases</mat-icon>
          </button>
        }
      </span>

      <div class="cx-spacer"></div>

      @if (!!(user$ | async)) {
        <img
          loading="lazy"
          ngxGravatar
          [alt]="(user$ | async)?.email"
          [email]="(user$ | async)?.email"
          [matTooltip]="'app.toolbar.tooltip.user-icon' | translate"
          routerLink="/account"
        />
      }

      <button
        matIconButton
        [matMenuTriggerFor]="options"
        [matTooltip]="'app.toolbar.tooltip.browser-options' | translate"
      >
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #options="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="languages">
          {{ "app.toolbar.text.language" | translate }}
        </button>
        <button mat-menu-item [matMenuTriggerFor]="logging">
          {{ "app.toolbar.text.logging" | translate }}
        </button>
      </mat-menu>

      <mat-menu #languages="matMenu">
        @for (language of languageOptions; track language) {
          <button mat-menu-item (click)="onLanguageChange(language.value)">
            <span>{{ language.name | translate }}</span>
          </button>
        }
      </mat-menu>

      <mat-menu #logging="matMenu">
        @for (level of loggingOptions; track level) {
          <button mat-menu-item (click)="onLoggingChange(level.value)">
            {{ level.name | translate }}
          </button>
        }
      </mat-menu>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
