<div *ngIf="busy" class="cx-overlay cx-width-100 cx-height-100">
  <div class="cx-centered cx-position-absolute">
    <mat-progress-spinner
      diameter="100"
      mode="indeterminate"
      color="accent"
    ></mat-progress-spinner>
  </div>
</div>

<cx-navigation-bar
  id="cx-navigation-bar"
  [user]="user"
  [sidebarOpened]="sidenav.opened"
  (toggleSidebar)="sidenav.toggle($event)"
  (toggleAccountBar)="accountBar.toggle($event)"
></cx-navigation-bar>

<mat-sidenav-container class="cx-width-100 cx-height-100">
  <mat-sidenav #sidenav mode="over" (click)="sidenav.close()">
    <cx-side-navigation [user]="user"></cx-side-navigation>
  </mat-sidenav>

  <mat-sidenav
    #accountBar
    class="cx-accent-dark-background cx-width-50 cx-min-width-50 cx-padding-5"
    mode="over"
    position="end"
  >
    <cx-edit-account-bar
      *ngIf="!!user"
      class="cx-padding-5"
      [user]="user"
      (closeSidebar)="accountBar.close()"
    ></cx-edit-account-bar>
  </mat-sidenav>

  <mat-sidenav-content #sidebar>
    <div class="cx-width-100 cx-overflow-y-scroll cx-footer-margin">
      <router-outlet></router-outlet>
    </div>
    <cx-footer
      id="cx-footer"
      class="cx-padding-left-5"
      [user]="user"
    ></cx-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
