@use 'variables' as *;
@use '@angular/material' as mat;
@use 'variables' as *;

#cx-busy-overlay {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.286);
  z-index: 100;
}

@mixin app-theme($theme) {
  .container-home {
    background-color: mat.get-theme-color($theme, background, background);
  }
}

#cx-app-container {
  display: flex;
  flex-flow: column;
}

#cx-app-toolbar,
#cx-app-footer {
  overflow: hidden;
  position: fixed;
  flex-grow: 0;
  width: 100%;
  z-index: 99;
}

#cx-app-toolbar {
  top: 0;
  left: 0;
}

#cx-app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
}

#cx-app-content {
  flex-grow: 1;
  margin-top: 60px;
  margin-bottom: 70px;
  width: 100%;
}
