@use '@angular/material' as mat;

@mixin app-theme($theme) {
  .container-home {
    background-color: mat.get-theme-color($theme, background, background);
  }
}

#app-primary-space {
  padding-top: 75px;
}

mat-sidenav {
  width: 33%;
  min-width: 225px;
  max-width: 275px;
}
