#app-topbar-container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 99;
}

router-outlet {
  position: relative;
  margin-top: 55px;
  margin-bottom: 55px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: 99;
}
