@use "variables" as *;

@use '@angular/material' as mat;

@use 'variables' as *;

#cx-busy-overlay {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.286);
  z-index: 100;
}

@mixin app-theme($theme) {
  .container-home {
    background-color: mat.get-theme-color($theme, background, background);
  }
}

#app-primary-space {
  margin-top: 4rem;
}

#app-sidenav-container {
  width: min(50vw, max(20vw, $cx-smallest-width));
  margin-bottom: $cx-bottom-margin;
}

#app-account-bar-container {
  width: min(100vw, max(25vw, 500px));
  margin-bottom: $cx-bottom-margin;
}

#app-content-container {
  width: calc(100% - $cx-margin-space);
  margin: $cx-margin-width;
}
