<mat-toolbar *ngIf="isAdmin" class="cx-accent-light-background">
  <button
    id="save-comic-changes"
    class="cx-toolbar-button cx-margin-left-5"
    mat-icon-button
    color="primary"
    [matTooltip]="'comic-book.tooltip.save-changes' | translate"
    [disabled]="!comicBookForm.valid"
    (click)="onSaveChanges()"
  >
    <mat-icon>save</mat-icon>
  </button>
  <button
    id="undo-comic-changes"
    class="cx-toolbar-button cx-margin-left-5"
    mat-icon-button
    color="warn"
    [matTooltip]="'comic-book.tooltip.undo-changes' | translate"
    [disabled]="comicBookForm.untouched"
    (click)="onUndoChanges()"
  >
    <mat-icon>undo</mat-icon>
  </button>
</mat-toolbar>

<form class="cx-width-100" [formGroup]="comicBookForm">
  <mat-form-field class="cx-width-100" required>
    <mat-label>{{ "comic-book.label.publisher" | translate }}</mat-label>
    <input matInput formControlName="publisher" [readonly]="!isAdmin" />
  </mat-form-field>

  <mat-form-field class="cx-width-50" required>
    <mat-label>{{ "comic-book.label.series" | translate }}</mat-label>
    <input matInput formControlName="series" [readonly]="!isAdmin" />
  </mat-form-field>

  <mat-form-field class="cx-width-25" required>
    <mat-label>{{ "comic-book.label.volume" | translate }}</mat-label>
    <input matInput formControlName="volume" [readonly]="!isAdmin" />
  </mat-form-field>

  <mat-form-field class="cx-width-25" required>
    <mat-label>{{ "comic-book.label.comic-type" | translate }}</mat-label>
    <mat-select
      id="comic-type-select"
      formControlName="comicType"
      (selectionChange)="onComicTypeSelected($event.value)"
    >
      <mat-option
        *ngFor="let option of comicTypeOptions"
        [value]="option.value"
      >
        {{ option.label | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="cx-width-100" required>
    <mat-label>{{ "comic-book.label.title" | translate }}</mat-label>
    <input matInput formControlName="title" [readonly]="!isAdmin" />
  </mat-form-field>

  <mat-form-field class="cx-width-50" required>
    <mat-label>{{ "comic-book.label.imprint" | translate }}</mat-label>
    <mat-select
      id="imprint-select"
      formControlName="imprint"
      (selectionChange)="onImprintSelected($event.value)"
    >
      <mat-option
        *ngFor="let option of imprintOptions"
        [value]="option.value.name"
      >
        {{ option.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="cx-width-50" required>
    <mat-label>{{ "comic-book.label.sort-name" | translate }}</mat-label>
    <input matInput formControlName="sortName" [readonly]="!isAdmin" />
  </mat-form-field>

  <mat-form-field class="cx-width-25" required>
    <mat-label>{{ "comic-book.label.issue-number" | translate }}</mat-label>
    <input matInput formControlName="issueNumber" [readonly]="!isAdmin" />
  </mat-form-field>

  <mat-form-field class="cx-width-25">
    <mat-label>{{ "comic-book.label.comic-state" | translate }}</mat-label>
    <input matInput formControlName="comicState" readonly />
  </mat-form-field>

  <mat-form-field class="cx-width-25">
    <mat-label>{{ "comic-book.label.cover-date" | translate }}</mat-label>
    <input
      matInput
      formControlName="coverDate"
      [matDatepicker]="coverDatePicker"
      [readonly]="!isAdmin"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="coverDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #coverDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="cx-width-25">
    <mat-label>{{ "comic-book.label.store-date" | translate }}</mat-label>
    <input
      matInput
      formControlName="storeDate"
      [matDatepicker]="storeDatePicker"
      [readonly]="!isAdmin"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="storeDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #storeDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="cx-width-25">
    <mat-label>{{ "comic-book.label.filesize" | translate }}</mat-label>
    <input matInput formControlName="fileSize" readonly />
  </mat-form-field>

  <mat-form-field class="cx-width-100">
    <mat-label>{{ "comic-book.label.filename" | translate }}</mat-label>
    <input matInput formControlName="filename" readonly />
  </mat-form-field>

  <mat-form-field class="cx-width-100">
    <mat-label>{{ "comic-book.label.scraping-notes" | translate }}</mat-label>
    <textarea
      matInput
      matTextareaAutosize
      formControlName="notes"
      [readonly]="!isAdmin"
    ></textarea>
  </mat-form-field>
</form>

<pre>{{ comicBookForm.controls.imprint.value }}</pre>
