<p-panel [header]='"account-page.label.edit-details"|translate'
         [toggleable]='false'>
    <app-user-details-editor [user]='user'
                             (save)='saveUser($event)'></app-user-details-editor>
</p-panel>
<p-panel [header]='"account-page.label.details"|translate'
         [toggleable]='false'>
    <app-user-details *ngIf='user'
                      [user]='user'></app-user-details>
</p-panel>
<p-panel [header]='"account-page.label.preferences"|translate'
         [toggleable]='false'>
    <app-account-preferences *ngIf='user'
                             [user]='user'></app-account-preferences>
</p-panel>
