<div class='ui-g'>
    <div class='ui-g-12'>
        <div class='p-grid'>
            <div class='p-col-fixed'
                 [style.width]='same_height ? "auto" : cover_size + "px"'
                 [style.height]='same_height ? cover_size + "px" : "auto"'>
                <app-comic-cover [id]='"comic-file-cover-${comic_file.id}"'
                                 [comic_file]='comic_file'
                                 [cover_url]='comic_file|comic_file_cover_url'
                                 [title]='comic_file.base_filename'
                                 [cover_size]='cover_size'
                                 [same_height]='same_height'
                                 [selected]='selected'
                                 [use_selected_class]='use_selected_class'
                                 (click)='click.next(comic_file)'></app-comic-cover>
            </div>
            <div class='p-col'>
                <div class='ui-g'>
                    <div class='ui-g-12 ui-sm-12'>
                        <h2>{{comic_file.base_filename}}</h2>
                    </div>
                    <div class='ui-g'>
                        <div class='ui-g-12'>
                            <strong>{{'comic-file-list-item.label.filename'|translate}}</strong>
                        </div>
                        <div class='ui-g-12'>{{comic_file.filename}}</div>
                        <div class='ui-g-12'>
                            <strong>{{'comic-file-list-item.label.filesize'|translate}}</strong>
                        </div>
                        <div class='ui-g-12'>
                            {{comic_file.size|number: '0.0'}} bytes
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
