<mat-toolbar class="cx-primary-light-background">
  <mat-paginator
    class="cx-primary-light-background cx-height-100"
    showFirstLastButtons
    [pageIndex]="queryParameterService.pageIndex$ | async"
    [pageSize]="queryParameterService.pageSize$ | async"
    [pageSizeOptions]="queryParameterService.pageSizeOptions"
    (page)="
      queryParameterService.onPageChange(
        $event.pageSize,
        $event.pageIndex,
        $event.previousPageIndex
      )
    "
  ></mat-paginator>
</mat-toolbar>

<h2>
  {{
    "deleted-page-list.page-title"
      | translate
        : { hashCount: dataSource.data.length, comicCount: totalComicCount }
  }}
</h2>

<mat-table
  [dataSource]="dataSource"
  matSort
  [matSortActive]="queryParameterService.sortBy$ | async"
  [matSortDirection]="queryParameterService.sortDirection$ | async"
  (matSortChange)="
    queryParameterService.onSortChange($event.active, $event.direction)
  "
>
  <ng-container matColumnDef="thumbnail">
    <mat-header-cell *matHeaderCellDef>
      {{ "deleted-page-list.header.thumbnail" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-text-nowrap">
        <img
          [src]="entry.hash | pageHashUrl"
          [alt]="entry.hash"
          width="100%"
          height="auto"
        />
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="hash">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "deleted-page-list.header.hash" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-text-nowrap">{{ entry.hash }}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="comic-count">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "deleted-page-list.header.comic-count" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-text-nowrap">{{ entry.comicCount }}</span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
