<mat-toolbar class="cx-primary-light-background">
  <mat-paginator
    class="cx-primary-light-background cx-height-100"
    showFirstLastButtons
    [pageIndex]="urlParameterService.pageIndex$ | async"
    [pageSize]="urlParameterService.pageSize$ | async"
    [pageSizeOptions]="pageSizeOptions"
    (page)="
      urlParameterService.onPageChange(
        $event.pageSize,
        $event.pageIndex,
        $event.previousPageIndex
      )
    "
  ></mat-paginator>
</mat-toolbar>

<h2>
  {{
    "deleted-page-list.page-title"
      | translate: { count: dataSource.data.length }
  }}
</h2>

<mat-table
  [dataSource]="dataSource"
  matSort
  [matSortActive]="urlParameterService.sortBy$ | async"
  [matSortDirection]="urlParameterService.sortDirection$ | async"
  (matSortChange)="
    urlParameterService.onSortChange($event.active, $event.direction)
  "
>
  <ng-container matColumnDef="comic">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "deleted-page-list.header.comic" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-text-nowrap">
        <a [routerLink]="['/comics', entry.comic.id]">
          {{ entry.comic | comicTitle }}
        </a>
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="filename">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "deleted-page-list.header.filename" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-text-nowrap">{{ entry.page.filename }}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="hash">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "deleted-page-list.header.hash" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-text-nowrap">{{ entry.page.hash }}</span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
