@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~primeicons/primeicons.css';

/* displaying a comic cover and its overlay details */

.ui-sidebar {
  margin-top: 44px;
}

.comic-card-cover, .comic-cover-overlay {
  border-radius: 5px;
}

.comic-cover-container, .comic-cover-card {
  background: transparent;
}

.comic-cover-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.comic-cover-overlay-text {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.comic-cover-details-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.comic-cover-container:hover .comic-cover-overlay {
  opacity: 0.8;
}

.comic-cover-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comic-selected {
	background-color: #339933;
}

.card-img-top {
  opacity: 1;
  border-radius: 0;
}

.comic-cover-title-container {
  opacity: 1;
}

.card:hover .card-img-top,
.card:hover .comic-cover-title-container {
	opacity: 0.1;
}

.card:hover .card-img-overlay-content {
	opacity: 0.9;
}

.card-img-overlay-content {
	opacity: 0;
}

.comixed-scrollable-div {
	overflow-y: auto;
	height: 100%;
	margin-left: 25%;
}