<div class='ui-g'>
  <div class='ui-g-9 ui-sm-9'>
    <p-table #dt
             [value]='volumeOptions'
             [paginator]='true'
             [rows]='10'
             [paginatorPosition]='"both"'
             selectionMode='single'
             [sortField]='"matchability"'
             [(selection)]='currentVolume'
             [dataKey]='"id"'
             [globalFilterFields]='["volume.name"]'
             (onRowSelect)='selectVolume($event.data)'
             (onRowUnselect)='selectVolume(null)'>
      <ng-template pTemplate='caption'>
        <div class='ui-inputgroup'
             style='width:100%'>
          <span class='ui-inputgroup-addon'><em class='fa fa-fw fa-search'></em></span>
          <input type='text'
                 class='cx-input-field'
                 pInputText
                 [placeholder]='"volume-list.text.search-placeholder" | translate'
                 (input)='dt.filterGlobal($event.target.value, "contains")'
                 style='width:100%'/>
        </div>
      </ng-template>
      <ng-template pTemplate='colgroup'>
        <colgroup>
          <col class='cx-table-column-small'/>
          <col class='cx-table-column-medium'/>
          <col/>
          <col class='cx-table-column-medium'/>
          <col/>
        </colgroup>
      </ng-template>
      <ng-template pTemplate='header'>
        <tr>
          <th id='matchability'
              class='cx-no-wrap-text'
              [pSortableColumn]='"matchability"'
              pResizableColumn>
            <p-sortIcon [field]='"matchability"'></p-sortIcon>
          </th>
          <th id='start-year'
              class='cx-no-wrap-text'
              [pSortableColumn]='"volume.startYear"'
              pResizableColumn>
            <p-sortIcon [field]='"volume.startYear"'></p-sortIcon>
            {{ "volume-list.columns.start-year" | translate }}
          </th>
          <th id='volume-name'
              class='cx-no-wrap-text'
              [pSortableColumn]='"volume.name"'>
            <p-sortIcon [field]='"volume.name"'></p-sortIcon>
            {{ "volume-list.columns.series" | translate }}
          </th>
          <th id='issue-count'
              class='cx-no-wrap-text'
              [pSortableColumn]='"volume.issueCount"'
              pResizableColumn>
            <p-sortIcon [field]='"volume.issueCount"'></p-sortIcon>
            {{ "volume-list.columns.issues" | translate }}
          </th>
          <th id='publisher'
              class='cx-no-wrap-text'
              [pSortableColumn]='"volume.publisher"'>
            <p-sortIcon [field]='"volume.publisher"'></p-sortIcon>
            {{ "volume-list.columns.publisher" | translate }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate='body'
                   let-option>
        <tr [pSelectableRow]='option.volume'>
          <td class='cx-table-column-align-center'>
                        <span class='fa fa-fw fas'
                              [class.fa-greater-than]='isGoodMatch(option.volume)'
                              [class.fa-greater-than-equal]='isPerfectMatch(option.volume)'></span>
          </td>
          <td class='cx-table-column-align-center'>{{ option.volume.startYear }}</td>
          <td class='cx-no-wrap-text'>
            <span pTooltip='{{ option.volume.name }}'>{{option.volume.name}}</span>
          </td>
          <td class='cx-no-wrap-text'>{{ option.volume.issueCount }}</td>
          <td class='cx-no-wrap-text'>{{ option.volume.publisher }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class='ui-g-3 ui-sm-3'>
    <p-card *ngIf='currentIssue'>
      <p-header>
        <h3>
          <span pTooltip='{{ currentIssue | scrapingIssueTitle }}'
                tooltipPosition='top'>{{ currentIssue | scrapingIssueTitle }}</span>
        </h3>
      </p-header>
      <img alt='scraping cover'
           src='{{currentIssue|scrapingIssueCoverUrl:apiKey}}}'
           [style.width]='"100%"'/>
    </p-card>
    <div class='cx-button-box-vertical'>
      <button *ngIf='!multiComicMode'
              type='button'
              pButton
              class='cx-selection-button ui-button-danger'
              icon='fa fa-fw fa-step-backward'
              [label]='"volume-list.button.back" | translate'
              (click)='cancelVolumeSelection()'></button>
      <button *ngIf='currentIssue'
              pButton
              type='button'
              class='cx-selection-button ui-button-primary'
              icon='fa fa-fw fa-play'
              [label]='"volume-list.button.select" | translate'
              (click)='selectCurrentIssue()'></button>
    </div>
  </div>
</div>
