<mat-toolbar>
  <button
    id="go-back-to-list-button"
    mat-icon-button
    routerLink="/lists/stories/names"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <mat-paginator
    class="cx-height-100"
    showFirstLastButtons="true"
    [pageSize]="queryParameterService.pageSize$ | async"
    [pageSizeOptions]="pageSizeOptions"
    (page)="
      queryParameterService.onPageChange(
        $event.pageSize,
        $event.pageIndex,
        $event.previousPageIndex
      )
    "
  ></mat-paginator>
  <div class="cx-spacer"></div>
</mat-toolbar>

<h2>
  {{ "story-list-for-name.page-title" | translate: { name: storyName } }}
</h2>

<mat-table
  [dataSource]="dataSource"
  matSort
  [matSortActive]="queryParameterService.sortBy$ | async"
  [matSortDirection]="queryParameterService.sortDirection$ | async"
  (matSortChange)="
    queryParameterService.onSortChange($event.active, $event.direction)
  "
>
  <ng-container matColumnDef="story-name">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "story-list.label.story-name" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">
        {{ entry.name }}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="publisher">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "story-list.label.publisher" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">
        {{ entry.publisher }}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="entry-count">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "story-list.label.entry-count" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">
        {{ entry.entries.length }}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell mat-sort-header *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <button
        *ngIf="!entry.id"
        mat-icon-button
        [matTooltip]="'story-list.tooltip.scrape-story' | translate"
      >
        <mat-icon>cloud_circle</mat-icon>
      </button>
      <button
        *ngIf="!!entry.id"
        mat-icon-button
        [matTooltip]="'story-list.tooltip.view-story' | translate"
        [routerLink]="['/lists', 'stories', entry.id]"
      >
        <mat-icon>info</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
