@import 'styles';

.mat-column-name {
}

.mat-column-language {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}

.mat-column-property-count {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}
