<div *ngIf='comic'
     class='ui-g'>
    <div class='ui-g-12 ui-sm-12'>
        <p-panel header='{{"comic-story.label.summary"|translate}}'
                 [toggleable]='true'
                 [collapsed]='true'>
            <div [innerHTML]='comic.summary||"comic-story.text.no-summary"|translate'></div>
        </p-panel>
        <p-panel header='{{"comic-story.label.description"|translate}}'
                 [toggleable]='true'
                 [collapsed]='true'>
            <div [innerHTML]='comic.description||"comic-story.text.no-description"|translate'></div>
        </p-panel>
        <p-panel header='{{"comic-story.label.characters"|translate}}'
                 [toggleable]='true'
                 [collapsed]='true'>
            <div class='ui-g'>
                <p-dataView [value]='comic.characters'
                            [layout]='"grid"'>
                    <ng-template let-character
                                 pTemplate='gridItem'>
                        <app-comic-grouping-card [name]='character'
                                                 [parentRoute]='"/comics/characters"'>
                        </app-comic-grouping-card>
                    </ng-template>
                </p-dataView>
            </div>
        </p-panel>
        <p-panel header='{{"comic-story.label.teams"|translate}}'
                 [toggleable]='true'
                 [collapsed]='true'>
            <div class='ui-g'>
                <p-dataView [value]='comic.teams'
                            [layout]='"grid"'>
                    <ng-template let-team
                                 pTemplate='gridItem'>
                        <app-comic-grouping-card [name]='team'
                                                 [parentRoute]='"/comics/teams"'>
                        </app-comic-grouping-card>
                    </ng-template>
                </p-dataView>
            </div>
        </p-panel>
        <p-panel header='{{"comic-story.label.locations"|translate}}'
                 [toggleable]='true'
                 [collapsed]='true'>
            <div class='ui-g'>
                <p-dataView [value]='comic.locations'
                            [layout]='"grid"'>
                    <ng-template let-location
                                 pTemplate='gridItem'>
                        <app-comic-grouping-card [name]='location'
                                                 [parentRoute]='"/comics/locations"'></app-comic-grouping-card>
                    </ng-template>
                </p-dataView>
            </div>
        </p-panel>
        <p-panel header='{{"comic-story.label.stories"|translate}}'
                 [toggleable]='true'
                 [collapsed]='true'>
            <div class='ui-g'>
                <p-dataView [value]='comic.storyArcs'
                            [layout]='"grid"'>
                    <ng-template let-story
                                 pTemplate='gridItem'>
                        <app-comic-grouping-card [name]='story'
                                                 [parentRoute]='"/comics/stories"'></app-comic-grouping-card>
                    </ng-template>
                </p-dataView>
            </div>
        </p-panel>
    </div>
</div>
