
<div class='card'>
  <div class='card-header'>
    <button id='issue-details-close-button' type='button' class='close'
      (click)='close_details()'>
      <span class='fa fa-times'></span>
    </button>
    <h5 id='issue-details-title' class='text-nowrap text-truncate'>{{
      title }}</h5>
    <h6 id='issue-details-subtitle' class='text-nowrap text-truncate'>{{
      subtitle }}</h6>
  </div>
  <div class='card-body'>
    <img id='issue-details-cover' class='card-img-bottom img-fluid'
      [src]='cover_url'>
  </div>
  <div class='card-footer'>
    <ng-content></ng-content>
  </div>
</div>
