<cx-metadata-process-toolbar
  [selectedIds]="selectedIds"
></cx-metadata-process-toolbar>

<h2 *ngIf="processState?.active">
  {{ "metadata-process.page-title" | translate: { count: selectedIds.length } }}
</h2>

<cx-metadata-process-status
  *ngIf="processState?.active"
  class="cx-width-100 cx-height-100"
  [processState]="processState"
></cx-metadata-process-status>

<cx-comic-detail-list-view
  *ngIf="!processState || !processState.active"
  class="cx-width-100"
  [comics]="comicDetails"
  [selectedIds]="selectedIds"
></cx-comic-detail-list-view>
