<mat-toolbar class="cx-primary-light-background">
  <mat-toolbar-row>
    <mat-paginator
      class="cx-primary-light-background cx-height-100"
    ></mat-paginator>
    <div class="cx-spacer"></div>
    <button
      id="add-reading-list-button"
      mat-icon-button
      color="primary"
      [matTooltip]="'reading-lists.tooltip.add-reading-list' | translate"
      routerLink="/lists/reading/new"
    >
      <mat-icon>add</mat-icon>
    </button>
    <button
      id="upload-button"
      mat-icon-button
      color="primary"
      [matTooltip]="'reading-list.tooltip.upload-file' | translate"
      (click)="onShowUploadRow()"
    >
      <mat-icon>upload</mat-icon>
    </button>
    <button
      id="remove-button"
      mat-icon-button
      color="warn"
      [disabled]="!hasSelections"
      [matTooltip]="'reading-lists.tooltip.delete-reading-lists' | translate"
      (click)="onDeleteReadingLists()"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="showUploadRow">
    <input
      id="fileUpload"
      type="file"
      (change)="onFileSelected($event.target.files[0])"
      (click)="$event.stopPropagation()"
    />
  </mat-toolbar-row>
</mat-toolbar>

<mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="selection">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      <mat-checkbox
        [checked]="allSelected"
        (change)="onSelectAll($event.checked)"
        (click)="$event.stopPropagation()"
      ></mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">
        <mat-checkbox
          [checked]="entry.selected"
          (change)="onSelectOne(entry, $event.checked)"
          (click)="$event.stopPropagation()"
        ></mat-checkbox>
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="list-name">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "reading-lists.label.name" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">
        {{ entry.item.name }}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="summary">
    <mat-header-cell *matHeaderCellDef>
      {{ "reading-lists.label.summary" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">
        {{ entry.item.summary }}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="comic-count">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "reading-lists.label.comic-count" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">
        {{ entry.item.comicBooks?.length | number }}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="created-on">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "reading-lists.label.created-on" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">
        {{ entry.item.createdOn | date: "medium" }}
      </span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns"
    [routerLink]="['/lists', 'reading', row.item.id]"
  ></mat-row>
</mat-table>
