@import '~colors.scss';

.cx-comic-page-thumbnail {
  max-height: 50px;
  overflow: hidden;
}

.cx-deleted-page-row {
  background-color: $cx-deleted-page-row-background-color !important;
  color: $cx-deleted-page-row-text-color !important;
}
