<mat-toolbar class="cx-width-100">
  <mat-form-field class="cx-width-50">
    <input
      matInput
      #filterInput
      id="volume-search-text-input"
      [placeholder]="'collection-list.placeholder.filter-entries' | translate"
      (keyup)="dataSource.filter = filterInput.value"
    />
  </mat-form-field>
  <div class="cx-spacer"></div>
  <mat-paginator
    showFirstLastButtons
    class="cx-height-100"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="pageOptions"
    (page)="
      queryParameterService.onPageChange(
        $event.pageSize,
        $event.pageIndex,
        $event.previousPageIndex
      )
    "
  ></mat-paginator>
</mat-toolbar>

<h2>
  {{
    "collection-list.page-title"
      | translate
        : {
            collection: collectionType,
            shown: dataSource.filteredData.length,
            total: dataSource.data.length
          }
  }}
</h2>

<mat-table
  [dataSource]="dataSource"
  matSort
  [matSortActive]="queryParameterService.sortBy$ | async"
  [matSortDirection]="queryParameterService.sortDirection$ | async"
  (matSortChange)="
    queryParameterService.onSortChange($event.active, $event.direction)
  "
>
  <ng-container matColumnDef="name">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "collection-list.label.name" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">
        {{ entry.name || "collection-list.text.undefined" | translate }}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="comic-count">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "collection-list.label.comic-count" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">
        {{ entry.comicCount | number }}
      </span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns"
    (click)="onShowCollection(row)"
  ></mat-row>
</mat-table>
