<mat-paginator
  showFirstLastButtons="true"
  class="cx-height-100"
  [length]="totalEntries"
  [pageIndex]="queryParameterService.pageIndex$ | async"
  [pageSize]="queryParameterService.pageSize$ | async"
  [pageSizeOptions]="queryParameterService.pageSizeOptions"
  (page)="
    queryParameterService.onPageChange(
      $event.pageSize,
      $event.pageIndex,
      $event.previousPageIndex
    )
  "
></mat-paginator>

<h2>
  {{
    "collection-list.page-title"
      | translate
        : {
            collection: collectionType,
            shown: dataSource.filteredData.length,
            total: dataSource.data.length
          }
  }}
</h2>

<mat-table
  [dataSource]="dataSource"
  matSort
  [matSortActive]="queryParameterService.sortBy$ | async"
  [matSortDirection]="queryParameterService.sortDirection$ | async"
  (matSortChange)="
    queryParameterService.onSortChange($event.active, $event.direction)
  "
>
  <ng-container matColumnDef="name">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "collection-list.label.name" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">
        {{ entry.tagValue || "collection-list.text.undefined" | translate }}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="comic-count">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "collection-list.label.comic-count" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">
        {{ entry.comicCount | number }}
      </span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns"
    (click)="onShowCollection(row)"
  ></mat-row>
</mat-table>
