<h2>
  {{
    "collection-list.page-title"
      | translate
        : {
            collection: collectionType,
            shown: dataSource.filteredData.length
          }
  }}
</h2>

<div class="cx-width-100">
  <form [formGroup]="filterTextForm">
    <mat-form-field class="cx-width-100" appearance="outline">
      <button
        id="filter-text-button"
        mat-icon-button
        matPrefix
        (click)="onApplyFilter(filterTextInput.value)"
      >
        <mat-icon>filter</mat-icon>
      </button>
      <input
        id="collection-filter-text-input"
        #filterTextInput
        matInput
        type="text"
        formControlName="filterTextInput"
        [placeholder]="'collection-list.text.filter-text' | translate"
      />
    </mat-form-field>
  </form>
</div>

<mat-paginator
  showFirstLastButtons="true"
  class="cx-height-100"
  [length]="totalEntries"
  [pageIndex]="queryParameterService.pageIndex$ | async"
  [pageSize]="queryParameterService.pageSize$ | async"
  [pageSizeOptions]="queryParameterService.pageSizeOptions"
  (page)="
    queryParameterService.onPageChange(
      $event.pageSize,
      $event.pageIndex,
      $event.previousPageIndex
    )
  "
></mat-paginator>

<mat-table
  [dataSource]="dataSource"
  matSort
  [matSortActive]="queryParameterService.sortBy$ | async"
  [matSortDirection]="queryParameterService.sortDirection$ | async"
  (matSortChange)="
    queryParameterService.onSortChange($event.active, $event.direction)
  "
>
  <ng-container matColumnDef="tag-value">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "collection-list.label.tag-value" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">
        {{ entry.tagValue || "collection-list.text.undefined" | translate }}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="comic-count">
    <mat-header-cell *matHeaderCellDef>
      {{ "collection-list.label.comic-count" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">
        {{ entry.comicCount | number }}
      </span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns"
    (click)="onShowCollection(row)"
  ></mat-row>
</mat-table>
