@import 'styles';

.mat-column-cover {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}

.mat-column-publisher {
  width: $cx-column-large;
  max-width: $cx-column-large;
  resize: none;
}

.mat-column-series {
}

.mat-column-volume {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}

.mat-column-issue-number {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}

.mat-column-cover-date {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}

.mat-column-store-date {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}
