<mat-grid-list cols="4" rowHeight="25px">
  <mat-grid-tile class="cx-accent-light-background" colspan="4" rowspan="1">
    {{ "comic-book.label.issue-details" | translate }}
  </mat-grid-tile>
  <mat-grid-tile class="cx-accent-light-background" colspan="1" rowspan="1">
    <span class="cx-align-text-right cx-text-nowrap">
      {{ "comic-book.label.publisher" | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
    <span
      class="cx-width-100 cx-text-nowrap cx-align-text-left cx-padding-left-5"
    >
      <a
        [routerLink]="[
          '/library/collections/publishers',
          comic.detail.publisher
        ]"
      >
        {{ comic.detail.publisher }}
      </a>
    </span>
  </mat-grid-tile>

  <mat-grid-tile class="cx-accent-light-background" colspan="1" rowspan="1">
    <span class="cx-align-text-right">
      {{ "comic-book.label.series" | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
    <span
      class="cx-width-100 cx-text-nowrap cx-align-text-left cx-padding-left-5"
    >
      <a
        [routerLink]="[
          '/library/collections/publishers',
          comic.detail.publisher,
          'series',
          comic.detail.series,
          'volumes',
          comic.detail.volume
        ]"
      >
        {{ comic.detail.series }}
      </a>
    </span>
  </mat-grid-tile>

  <mat-grid-tile class="cx-accent-light-background" colspan="1" rowspan="1">
    <span class="cx-align-text-right">
      {{ "comic-book.label.volume" | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
    <span
      class="cx-width-100 cx-text-nowrap cx-align-text-left cx-padding-left-5"
    >
      {{ comic.detail.volume }}
    </span>
  </mat-grid-tile>

  <mat-grid-tile class="cx-accent-light-background" colspan="1" rowspan="1">
    <span class="cx-align-text-right">
      {{ "comic-book.label.issue-number" | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
    <span
      class="cx-width-100 cx-text-nowrap cx-align-text-left cx-padding-left-5"
    >
      {{ comic.detail.issueNumber }}
    </span>
  </mat-grid-tile>

  <mat-grid-tile class="cx-accent-light-background" colspan="1" rowspan="1">
    <span class="cx-align-text-right">
      {{ "comic-book.label.cover-date" | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
    <span
      class="cx-width-100 cx-text-nowrap cx-align-text-left cx-padding-left-5"
    >
      {{ comic.detail.coverDate | date: "MMMM yyyy" }}
    </span>
  </mat-grid-tile>

  <mat-grid-tile class="cx-accent-light-background" colspan="1" rowspan="1">
    <span class="cx-align-text-right">
      {{ "comic-book.label.store-date" | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
    <span
      class="cx-width-100 cx-text-nowrap cx-align-text-left cx-padding-left-5"
    >
      {{ comic.detail.storeDate | date: "longDate" }}
    </span>
  </mat-grid-tile>

  <mat-grid-tile class="cx-accent-light-background" colspan="4" rowspan="1">
    {{ "comic-book.label.file-details" | translate }}
  </mat-grid-tile>

  <mat-grid-tile class="cx-accent-light-background" colspan="1" rowspan="1">
    <span class="cx-align-text-right">
      {{ "comic-book.label.comic-state" | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
    <span
      class="cx-width-100 cx-text-nowrap cx-align-text-left cx-padding-left-5"
    >
      {{ "comic-book.text.state-" + comic.detail.comicState | translate }}
    </span>
  </mat-grid-tile>

  <mat-grid-tile class="cx-accent-light-background" colspan="1" rowspan="1">
    <span class="cx-align-text-right">
      {{ "comic-book.label.filename" | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
    <span
      class="cx-width-100 cx-text-nowrap cx-align-text-left cx-padding-left-5"
      [matTooltip]="comic.detail.filename"
    >
      {{ comic.detail.filename }}
    </span>
  </mat-grid-tile>

  <mat-grid-tile class="cx-accent-light-background" colspan="1" rowspan="1">
    <span class="cx-align-text-right">
      {{ "comic-book.label.filesize" | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
    <span
      class="cx-width-100 cx-text-nowrap cx-align-text-left cx-padding-left-5"
    >
      {{ "comic-book.text.filesize" | translate: { size: 0 } }}
    </span>
  </mat-grid-tile>

  <mat-grid-tile class="cx-accent-light-background" colspan="1" rowspan="1">
    <span class="cx-align-text-right">
      {{ "comic-book.label.added-date" | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
    <span
      class="cx-width-100 cx-text-nowrap cx-align-text-left cx-padding-left-5"
    >
      {{ comic.detail.addedDate | date: "medium" }}
    </span>
  </mat-grid-tile>

  <mat-grid-tile
    *ngIf="!!lastRead"
    class="cx-accent-light-background"
    colspan="1"
    rowspan="1"
  >
    <span class="cx-align-text-right">
      {{ "comic-book.label.last-read-date" | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="!!lastRead" colspan="3" rowspan="1">
    <span
      class="cx-width-100 cx-text-nowrap cx-align-text-left cx-padding-left-5"
    >
      {{ lastRead.lastRead | date: "medium" }}
    </span>
  </mat-grid-tile>

  <mat-grid-tile
    *ngIf="comic.detail.notes?.length > 0"
    class="cx-accent-light-background"
    colspan="1"
    rowspan="1"
  >
    <span class="cx-align-text-right">
      {{ "comic-book.label.scraping-notes" | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="comic.detail.notes?.length > 0" colspan="3" rowspan="1">
    <span
      class="cx-width-100 cx-text-nowrap cx-align-text-left cx-padding-left-5"
    >
      {{ comic.detail.notes }}
    </span>
  </mat-grid-tile>

  <mat-grid-tile class="cx-accent-light-background" colspan="4" rowspan="1">
    {{ "comic-book.label.other-details" | translate }}
  </mat-grid-tile>

  <mat-grid-tile
    *ngIf="comic.sortName?.length > 0"
    class="cx-accent-light-background"
    colspan="1"
    rowspan="1"
  >
    <span class="cx-align-text-right">
      {{ "comic-book.label.sort-name" | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="comic.sortName?.length > 0" colspan="3" rowspan="1">
    <span
      class="cx-width-100 cx-text-nowrap cx-align-text-left cx-padding-left-5"
    >
      {{ comic.sortName }}
    </span>
  </mat-grid-tile>

  <mat-grid-tile
    *ngIf="!!comic.detail.imprint"
    class="cx-accent-light-background"
    colspan="1"
    rowspan="1"
  >
    <span class="cx-align-text-right">
      {{ "comic-book.label.imprint" | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="!!comic.detail.imprint" colspan="3" rowspan="1">
    <span
      class="cx-width-100 cx-text-nowrap cx-align-text-left cx-padding-left-5"
    >
      {{ comic.detail.imprint }}
    </span>
  </mat-grid-tile>
</mat-grid-list>
