:host ::ng-deep .cx-layout-dropdown {
  width: 100% !important;
}

:host ::ng-deep .cx-filter-comic-filenames {
  width: 100%;
}

button {
  width: 150px;
  margin-right: 5px;
}

:host ::ng-deep .ui-dropdown {
  max-width: 150px;
  margin-right: 5px;
}

:host ::ng-deep .ui-slider {
  margin-top: 15px;
}
