<h2>{{ "dashboard.page-title" | translate }}</h2>

<div id="dashboard-container" class="cx-container-flow-horizontal cx-padding-5">
  @for (panel of displayPanels; track panel) {
    @if (panel === "runtime-status") {
      <div class="cx-container-flow-component-grow-1">
        <cx-server-health
          [title]="'dashboard.title.server-health' | translate"
          [health]="health"
          (closePanel)="closePanel(panel)"
        ></cx-server-health>
      </div>
    }
    @if (panel === "storage-status") {
      <div class="cx-container-flow-component-grow-1">
        <cx-storage-health
          [title]="'dashboard.title.storage-health' | translate"
          [health]="health"
          (closePanel)="closePanel(panel)"
        ></cx-storage-health>
      </div>
    }
    @if (panel === "publisher-list") {
      <div class="cx-container-flow-component-grow-1">
        <cx-collection-list
          [title]="'dashboard.title.publisher-title' | translate"
          [data]="libraryState?.publishers || []"
          [rows]="5"
          (closePanel)="closePanel(panel)"
        ></cx-collection-list>
      </div>
    }
    @if (panel === "series-list") {
      <div class="cx-container-flow-component-grow-1">
        <cx-collection-list
          [title]="'dashboard.title.series-title' | translate"
          [data]="libraryState?.series || []"
          [rows]="5"
          (closePanel)="closePanel(panel)"
        ></cx-collection-list>
      </div>
    }
    @if (panel === "character-list") {
      <div class="cx-container-flow-component-grow-1">
        <cx-collection-list
          [title]="'dashboard.title.character-title' | translate"
          [data]="libraryState?.characters || []"
          [rows]="5"
          (closePanel)="closePanel(panel)"
        ></cx-collection-list>
      </div>
    }
    @if (panel === "team-list") {
      <div class="cx-container-flow-component-grow-1">
        <cx-collection-list
          [title]="'dashboard.title.team-title' | translate"
          [data]="libraryState?.teams || []"
          [rows]="5"
          (closePanel)="closePanel(panel)"
        ></cx-collection-list>
      </div>
    }
    @if (panel === "location-list") {
      <div class="cx-container-flow-component-grow-1">
        <cx-collection-list
          [title]="'dashboard.title.location-title' | translate"
          [data]="libraryState?.locations || []"
          [rows]="5"
          (closePanel)="closePanel(panel)"
        ></cx-collection-list>
      </div>
    }
    @if (panel === "story-list") {
      <div class="cx-container-flow-component-grow-1">
        <cx-collection-list
          [title]="'dashboard.title.story-title' | translate"
          [data]="libraryState?.stories || []"
          [rows]="5"
          (closePanel)="closePanel(panel)"
        ></cx-collection-list>
      </div>
    }
    @if (panel === "library-stats") {
      <div class="cx-container-flow-component-grow-2">
        <cx-library-stats
          [title]="'dashboard.title.library-stats' | translate"
          [data]="statistics | async"
          (closePanel)="closePanel(panel)"
        ></cx-library-stats>
      </div>
    }
    @if (panel === "state-list") {
      <div class="cx-container-flow-component-grow-2">
        <cx-comic-states
          [title]="'dashboard.title.comic-states-title' | translate"
          [data]="libraryState?.states || []"
          [rows]="5"
          (closePanel)="closePanel(panel)"
        ></cx-comic-states>
      </div>
    }
    @if (panel === "archive-type-list") {
      <div class="cx-container-flow-component-grow-1">
        <cx-archive-types
          [title]="'dashboard.title.archive-type-title' | translate"
          [data]="libraryState?.archiveTypes || []"
          [rows]="5"
          (closePanel)="closePanel(panel)"
        ></cx-archive-types>
      </div>
    }
    @if (panel === "publisher-year-graph") {
      <div class="cx-container-flow-component-grow-2">
        <cx-publisher-year-graph
          [title]="'dashboard.title.publisher-year-title' | translate"
          [data]="libraryState?.byPublisherAndYear || []"
          [rows]="5"
          (closePanel)="closePanel(panel)"
        ></cx-publisher-year-graph>
      </div>
    }
  }
</div>
