@import 'styles';

.mat-column-thumbnail {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}

.mat-column-publisher {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}

.mat-column-series {
}

.mat-column-volume {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}

.mat-column-issue-number {
  width: $cx-column-small;
  max-width: $cx-column-small;
  resize: none;
}

.mat-column-actions {
  width: $cx-column-small;
  max-width: $cx-column-small;
  resize: none;
}
