<script src='comic-file-grid-item.component.ts'></script>
<div [id]='"comic-file-" + comic_file.id'>
    <app-comic-cover [id]='"comic-file-cover-" + comic_file.id'
                     [comicFile]="comic_file"
                     [coverUrl]="comic_file | comic_file_cover_url"
                     [title]='comic_file.baseFilename'
                     [coverSize]="cover_size"
                     [useSameHeight]="same_height"
                     [selected]='selected'
                     [selectSelectedClass]="use_selected_class"
                     (click)='click.next($event)'></app-comic-cover>
</div>
