<div class='ui-g'>
  <div class='ui-g-12 ui-fluid'>
    <p-scrollPanel>
      <p-table [value]='entries'>
        <ng-template pTemplate='colgroup'>
          <colgroup>
            <col class='cx-table-column-smallest'>
            <col class='cx-table-column-large'>
            <col class='cx-table-column-medium'>
            <col class='cx-table-column-medium'>
          </colgroup>
        </ng-template>
        <ng-template pTemplate='header'>
          <tr>
            <th id='cx-file-entry-number-header'>{{'file-entry-list.table.header.file-number'|translate}}</th>
            <th id='cx-file-entry-name-header'>{{'file-entry-list.table.header.file-name'|translate}}</th>
            <th id='cx-file-entry-size-header'>{{'file-entry-list.table.header.file-size'|translate}}</th>
            <th id='cx-file-entry-type-header'>{{'file-entry-list.table.header.file-type'|translate}}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate='body'
                     let-entry>
          <tr>
            <td class='cx-table-column-align-center'>{{entry.fileNumber}}</td>
            <td>{{entry.fileName}}</td>
            <td>{{"file-entry-list.table.column.file-size"|translate:{size: entry.fileSize|number} }}</td>
            <td class='cx-table-column-align-center'>{{entry.fileType}}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-scrollPanel>
  </div>
  <div class='ui-g-12 ui-'>
    <button pButton
            type='button'
            icon='fa fa-fw fa-window-close'
            (click)='close.emit(true)'
            [label]='"button.close"|translate'></button>
  </div>
</div>
