<p-blockUI [blocked]="single_comic_scraping.busy">
  <p-progressBar
    mode="indeterminate"
    [style]="{ height: '6px' }"
  ></p-progressBar>
</p-blockUI>
<form [formGroup]="form">
  <div
    *ngIf="single_comic_scraping && !single_comic_scraping.volumes.length"
    class="ui-g"
  >
    <div class="ui-g-2 ui-sm-2">
      <label for="api_key">
        <b>{{ 'comic-details-editor.label.comicvine-api-key' | translate }}</b>
      </label>
    </div>
    <div class="ui-g-10 ui-sm-6">
      <p-inplace closable="closable">
        <span
          pInplaceDisplay
          pTooltip="{{
            'comic-details-editor.tooltip.comicvine-api-key' | translate
          }}"
        >
          {{
            'comic-details-editor.text.comicvine-api-key-placeholder'
              | translate
          }}
        </span>
        <span pInplaceContent>
          <input
            id="api_key_input"
            type="text"
            formControlName="api_key"
            pInputText
          />
          <button
            pButton
            type="button"
            icon="pi pi-check"
            [disabled]="!is_api_key_valid()"
            (click)="save_api_key()"
          ></button>
        </span>
      </p-inplace>
    </div>
    <div class="ui-g-2 ui-sm-2">
      <label for="series">
        <b>{{ 'comic-details-editor.label.series' | translate }}</b>
      </label>
    </div>
    <div class="ui-g-10 ui-sm-6">
      <input
        id="series_input"
        type="text"
        formControlName="series"
        pInputText
      />
    </div>
    <div class="ui-g-2 ui-sm-6">
      <label for="volume">
        <b>{{ 'comic-details-editor.label.volume' | translate }}</b>
      </label>
    </div>
    <div class="ui-g-10 ui-sm-6">
      <input
        id="volume_input"
        type="text"
        formControlName="volume"
        pInputText
      />
    </div>
    <div class="ui-g-2 ui-sm-6">
      <label for="issue_number">
        <b>{{ 'comic-details-editor.label.issue-number' | translate }}</b>
      </label>
    </div>
    <div class="ui-g-10 ui-sm-6">
      <input
        id="issue_number_input"
        type="text"
        formControlName="issue_number"
        pInputText
      />
    </div>
    <div class="ui-g-12 ui-sm-12">
      <button
        pButton
        id="save_data_button"
        type="button"
        pInplaceContent
        label="{{ 'button.save' | translate }}"
        icon="fa fa-save"
        [disabled]="!form.dirty"
        (click)="save_changes()"
      ></button>
      <p-splitButton
        id="fetch_volumes_button"
        label="Fetch"
        icon="fa fa-search"
        [model]="fetch_options"
        [disabled]="!form.valid"
      ></p-splitButton>
      <button
        pButton
        id="reset_comic_button"
        type="button"
        label="{{ 'button.reset' | translate }}"
        icon="fa fa-undo"
        [disabled]="!form.dirty"
        (click)="reset_changes()"
      ></button>
    </div>
  </div>
</form>
<div
  *ngIf="single_comic_scraping && single_comic_scraping.volumes?.length"
  class="ui-g"
>
  <div class="ui-g-12">
    <app-volume-list
      [api_key]="single_comic_scraping.api_key"
      [comic]="single_comic_scraping.comic"
      [volumes]="single_comic_scraping.volumes"
      [current_volume]="single_comic_scraping.current_volume"
      [current_issue]="single_comic_scraping.current_issue"
      (selectVolume)="select_volume($event)"
      (selectIssue)="select_issue()"
      (cancelSelection)="cancel_selection()"
    ></app-volume-list>
  </div>
</div>
