<div class='ui-g'>
  <div class='ui-g-4'>
    <div class='ui-g'>
      <div class='ui-g-12'>
        <strong>Publisher</strong>
      </div>
      <div class='ui-g-12'>
        {{ comic.imprint || comic.publisher || 'Unknown'}}<span
          *ngIf='comic.imprint'> ({{ comic.publisher }})</span>
      </div>
      <div class='ui-g-12'>
        <strong>Series</strong>
      </div>
      <div class='ui-g-12'>{{ comic.series || 'Unknown'}}</div>
      <div class='ui-g-12'>
        <strong>Volume</strong>
      </div>
      <div class='ui-g-12'>{{ comic.volume || 'Unknown'}}</div>
      <div class='ui-g-12'>
        <strong>Cover Date</strong>
      </div>
      <div class='ui-g-12'>{{ comic.cover_date | date }}</div>
      <div class='ui-g-12'>
        <strong>Issue number</strong>
      </div>
      <div class='ui-g-12'>{{ comic.issue_number || 'Unknown'}}</div>
    </div>
  </div>
  <div class='ui-g-4'>
    <div class='ui-g'>
      <div class='ui-g-12'>
        <strong>Title</strong>
      </div>
      <div class='ui-g-12'>{{ comic.title || 'Unknown'}}</div>
      <div class='ui-g-12'>
        <strong>Added to the library</strong>
      </div>
      <div class='ui-g-12'>{{ comic.added_date | date }}</div>
      <div class='ui-g-12'>
        <strong>Pages</strong>
      </div>
      <div class='ui-g-12'>{{ comic.page_count }}</div>
      <div class='ui-g-12'>
        <strong>ComicVine Details</strong>
      </div>
      <div
        *ngIf='comic.comic_vine_url'
        class='ui-g-12'>
        The details can be found here: <a
          target='_comicvine'
          [href]='"http://comicvine.gamespot.com/issue/4000-" + comic.comic_vine_id'>{{
          comic.comic_vine_id }}</a>
      </div>
    </div>
  </div>
  <div class='ui-g-4'>
    <div class='ui-g'>
      <div class='ui-g-12'>
        <strong>Format</strong>
      </div>
      <div class='ui-g-12'>
        <p-inplace
          *ngIf='is_admin'
          closable='closable'
          (onActivate)='copy_comic_format(comic)'> <span
          pInplaceDisplay>{{ comic.format?.name || 'Click to
          set...' }}</span> <span pInplaceContent> <p-dropdown
            [options]='formats'
            [(ngModel)]='format'
            (onChange)='set_comic_format(comic, $event.value)'></p-dropdown>
        </span></p-inplace>
        <span *ngIf='!is_admin'>{{ comic.format?.name ||
          'Unknown' }}</span>
      </div>
      <div class='ui-g-12'>
        <strong>Scan Type</strong>
      </div>
      <div class='ui-g-12'>
        <p-inplace
          *ngIf='is_admin'
          closable='closable'
          (onActivate)='copy_scan_type(comic)'> <span
          pInplaceDisplay>{{ comic.scan_type?.name || 'Click to
          set...' }}</span> <span pInplaceContent> <p-dropdown
            [options]='scan_types'
            [(ngModel)]='scan_type'
            (onChange)='set_scan_type(comic, $event.value)'></p-dropdown>
        </span> </p-inplace>
        <span
          *ngIf='!is_admin'
          class='ui-g-12'>{{ comic.scan_type?.name || 'Unknown'
          }}</span>
      </div>
    </div>
    <div class='ui-g-12'>
      <strong>Sort Name</strong>
    </div>
    <div class='ui-g-12'>
      <p-inplace
        *ngIf='is_admin'
        closable='closable'
        (onActivate)='copy_sort_name(comic)'> <span
        pInplaceDisplay>{{ comic.sort_name || 'Click to set...'
        }}</span> <span pInplaceContent> <input
        type='text'
        pInputText
        placeholder='Sort Name'
        [(ngModel)]='sort_name'>
        <button
          type='button'
          pButton
          icon='pi pi-check'
          (click)='save_sort_name(comic)'></button>
      </span> </p-inplace>
      <span
        *ngIf='!is_admin'
        class='ui-g-12'>{{ comic.sort_name || '[...]' }}</span>
    </div>
  </div>
  <div class='ui-g-12'>
    <button
      *ngIf='is_admin'
      type='button'
      pButton
      icon='pi pi-trash'
      label='Clear Metadata'
      (click)='clear_metadata()'></button>
  </div>
</div>
