<div class='ui-g'>
  <div class='ui-g-4'>
    <div class='ui-g'>
      <div class='ui-g-12'>
        <b>Publisher: </b>
      </div>
      <div class='ui-g-12'>
        {{ comic.imprint || comic.publisher || 'Unknown'}}<span
          *ngIf='comic.imprint'> ({{ comic.publisher }})</span>
      </div>
      <div class='ui-g-12'>
        <b>Series: </b>
      </div>
      <div class='ui-g-12'>{{ comic.series || 'Unknown'}}</div>
      <div class='ui-g-12'>
        <b>Volume: </b>
      </div>
      <div class='ui-g-12'>{{ comic.volume || 'Unknown'}}</div>
      <div class='ui-g-12'>
        <b>Issue number: </b>
      </div>
      <div class='ui-g-12'>{{ comic.issue_number || 'Unknown'}}</div>
    </div>
  </div>
  <div class='ui-g-4'>
    <div class='ui-g'>
      <div class='ui-g-12'>
        <b>Title: </b>
      </div>
      <div class='ui-g-12'>{{ comic.title || 'Unknown'}}</div>
      <div class='ui-g-12'>
        <b>Added to the library: </b>
      </div>
      <div class='ui-g-12'>{{ comic.added_date | date }}</div>
      <div class='ui-g-12'>
        <b>Pages: </b>
      </div>
      <div class='ui-g-12'>{{ comic.page_count }}</div>
      <div
        *ngIf='comic.comic_vine_url'
        class='ui-g-12'>
        <b>ComicVine Details: </b>
      </div>
      <div class='ui-g-12'>
        The details can be found here: <a
          target='_comicvine'
          [href]='"http://comicvine.gamespot.com/issue/4000-" + comic.comic_vine_id'>{{
          comic.comic_vine_id }}</a>
      </div>
    </div>
  </div>
  <div class='ui-g-4'>
    <div class='ui-g'>
      <div class='ui-g-12'>
        <b>Format</b>
      </div>
      <div class='ui-g-12'>
        <p-inplace
          *ngIf='is_admin'
          closable='closable'
          (onActivate)='copy_comic_format(comic)'> <span
          pInplaceDisplay>{{ comic.format?.name || 'Click to
          set...' }}</span> <span pInplaceContent> <p-dropdown
            [options]='formats'
            [(ngModel)]='format'
            (onChange)='set_comic_format(comic, $event.value)'></p-dropdown>
        </span></p-inplace>
        <span *ngIf='!is_admin'>{{ comic.format?.name ||
          'Unknown' }}</span>
      </div>
      <div class='ui-g-12'>
        <b>Scan Type: </b>
      </div>
      <div class='ui-g-12'>
        <p-inplace
          *ngIf='is_admin'
          closable='closable'
          (onActivate)='copy_scan_type(comic)'> <span
          pInplaceDisplay>{{ comic.scan_type?.name || 'Click to
          set...' }}</span> <span pInplaceContent> <p-dropdown
            [options]='scan_types'
            [(ngModel)]='scan_type'
            (onChange)='set_scan_type(comic, $event.value)'></p-dropdown>
        </span> </p-inplace>
        <span
          *ngIf='!is_admin'
          class='ui-g-12'>{{ comic.scan_type?.name || 'Unknown'
          }}</span>
      </div>
    </div>
    <div class='ui-g-12'>
      <b>Sort Name</b>
    </div>
    <div class='ui-g-12'>
      <p-inplace
        *ngIf='is_admin'
        closable='closable'
        (onActivate)='copy_sort_name(comic)'> <span
        pInplaceDisplay>{{ comic.sort_name || 'Click to set...'
        }}</span> <span pInplaceContent> <input
        type='text'
        pInputText
        placeholder='Sort Name'
        [(ngModel)]='sort_name'>
        <button
          type='button'
          pButton
          icon='pi pi-check'
          (click)='save_sort_name(comic)'></button>
      </span> </p-inplace>
      <span
        *ngIf='!is_admin'
        class='ui-g-12'>{{ comic.sort_name || '[...]' }}</span>
    </div>
  </div>
</div>
