<p-dialog [visible]='showFileEntriesDialog'
          [modal]='true'
          [header]='"comic-overview.show-file-entries.title"|translate'
          [resizable]='false'
          [draggable]='false'
          [maximizable]='true'
          [closable]='false'>
  <app-file-entry-list [entries]='comic.fileEntries'
                       (close)='toggleFileEntriesDialog(false)'></app-file-entry-list>
</p-dialog>
<p-toolbar>
  <div *ngIf='is_admin'
       class='ui-toolbar-group-left'>
    <button type='button'
            pButton
            icon='fas fa-backspace'
            class='ui-button-primary cx-action-button'
            label='{{"comic-overview.button.clear-metadata"|translate}}'
            (click)='clearMetadata()'></button>
    <button *ngIf='!comic.deletedDate'
            id='cx-delete-comic'
            type='button'
            pButton
            [pTooltip]='"comic-overview.tooltip.delete-comic"|translate'
            icon='fas fa-trash'
            class='ui-button-danger cx-action-button'
            [label]='"comic-overview.button.delete-comic"|translate'
            (click)='deleteComic()'></button>
    <button *ngIf='comic.deletedDate'
            id='cx-undelete-comic'
            type='button'
            pButton
            [pTooltip]='"comic-overview.tooltip.undelete-comic"|translate'
            icon='fas fa-trash'
            class='ui-button-danger cx-action-button'
            [label]='"comic-overview.button.undelete-comic"|translate'
            (click)='undeleteComic()'></button>
  </div>
  <div *ngIf='editing'
       class='ui-toolbar-group-right'>
    <button pButton
            type='button'
            class='ui-button-info'
            icon='fa fa-fw fa-save'
            [pTooltip]='"comic-overview.tooltip.save-changes"|translate'
            (click)='saveChanges()'></button>
    <button pButton
            type='button'
            class='ui-button-danger'
            icon='fa fa-fw fa-undo'
            [pTooltip]='"comic-overview.tooltip.undo-changes"|translate'
            (click)='undoChanges()'></button>
  </div>
</p-toolbar>
<div class='ui-g'>
  <div class='ui-g-4'>
    <div class='ui-g'>
      <div class='ui-g-2'>
        <img [src]='comic|publisherThumbnailUrl'
             alt='publisher thumbnail'
             width='100%'
             height='auto'>
      </div>
      <div class='ui-g-10'>
        <div class='ui-g'>
          <div class='ui-g-12'>
            <div class='ui-g'>
              <div class='ui-g-12'>
                <strong>{{"comic-overview.label.publisher"|translate}}</strong>
              </div>
              <div class='ui-g-12'>
                <p-inplace [disabled]='!is_admin '
                           (onActivate)='startEditing()'
                           [active]='editing'>
          <span pInplaceDisplay>
          <a [routerLink]='["/comics", "publishers", comic.imprint||comic.publisher||"undefined"]'>{{comic|publisher}}</a>
            <span class='pi pi-pencil'></span>
          </span>
                  <span pInplaceContent>
            <p-autoComplete [(ngModel)]='comic.publisher'
                            [suggestions]='publisherNameOptions'
                            (completeMethod)='filterPublisherNames($event.query)'></p-autoComplete>
                    <input pInputText
                           [(ngModel)]='comic.imprint'>
          </span>
                </p-inplace>
              </div>
              <div class='ui-g-12'>
                <strong>{{"comic-overview.label.series"|translate}}</strong>
              </div>
              <div class='ui-g-12'>
                <p-inplace [disabled]='!is_admin || editing'
                           (onActivate)='startEditing()'
                           [active]='editing'>
          <span pInplaceDisplay>
        <a [routerLink]='["/comics","series", comic | seriesCollectionName]'>{{comic.series || "text.unknown"|translate}}</a>
            <span class='pi pi-pencil'></span>
          </span>
                  <span pInplaceContent>
            <p-autoComplete [(ngModel)]='comic.series'
                            [suggestions]='seriesNameOptions'
                            (completeMethod)='filterSeriesNames($event.query)'></p-autoComplete>
          </span>
                </p-inplace>
              </div>
              <div class='ui-g-12'>
                <strong>{{"comic-overview.label.volume"|translate}}</strong>
              </div>
              <div class='ui-g-12'>
                <p-inplace [disabled]='!is_admin || editing'
                           (onActivate)='startEditing()'
                           [active]='editing'>
          <span pInplaceDisplay>
        {{comic.volume || "text.unknown"|translate}}
            <span class='pi pi-pencil'></span>
          </span>
                  <span pInplaceContent>
            <input pInputText
                   [(ngModel)]='comic.volume'
                   [placeholder]='"comic-overview.text.volume-placeholder"|translate'>
          </span>
                </p-inplace>
              </div>
              <div class='ui-g-12'>
                <strong>{{"comic-overview.label.cover-date"|translate}}</strong>
              </div>
              <div class='ui-g-12'>{{comic.coverDate|date}}</div>
              <div class='ui-g-12'>
                <strong>{{"comic-overview.label.issue-number"|translate}}</strong>
              </div>
              <div class='ui-g-12'>
                <p-inplace [disabled]='!is_admin || editing'
                           (onActivate)='startEditing()'
                           [active]='editing'>
          <span pInplaceDisplay>
        {{comic.issueNumber || "text.unknown"|translate}}
            <span class='pi pi-pencil'></span>
          </span>
                  <span pInplaceContent>
            <input pInputText
                   maxlength='10'
                   [(ngModel)]='comic.issueNumber'
                   [placeholder]='"comic-overview.text.volume-placeholder"|translate'>
          </span>
                </p-inplace>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='ui-g-4'>
    <div class='ui-g'>
      <div class='ui-g-12'>
        <strong>{{"comic-overview.label.title"|translate}}</strong>
      </div>
      <div class='ui-g-12'>
        <p-inplace [disabled]='!is_admin || editing'
                   (onActivate)='startEditing()'
                   [active]='editing'>
          <span pInplaceDisplay>{{comic.title || "text.unknown"|translate}}
            <span class='pi pi-pencil'></span>
      </span>
          <span pInplaceContent>
            <input pInputText
                   maxlength='10'
                   [(ngModel)]='comic.title'
                   [placeholder]='"comic-overview.text.volume-placeholder"|translate'>
          </span>
        </p-inplace>
      </div>
      <div class='ui-g-12'>
        <strong>{{"comic-overview.label.added-date"|translate}}</strong>
      </div>
      <div class='ui-g-12'>{{comic.addedDate|date}}
        <span *ngIf='!!comic.deletedDate'>&nbsp;{{'comic-overview.text.deleted-date'|translate:{date: comic.deletedDate|date} }}</span>
      </div>
      <div class='ui-g-12'>
        <strong>{{"comic-overview.label.last-read-date"|translate}}</strong>
      </div>
      <div *ngIf='!comic.lastRead'
           class='ui-g-12'>
        <span class='fa fa-fw fa-square'
              (click)='markAsRead(true)'
              [pTooltip]='"comic-overview.tooltip.toggle-read"|translate:{marked:false}'></span>
        {{'comic-overview.text.never-read'|translate}}
      </div>
      <div *ngIf='!!comic.lastRead'
           class='ui-g-12'>
        <span class='fa fa-fw fas fa-check-square'
              (click)='markAsRead(false)'
              [pTooltip]='"comic-overview.tooltip.toggle-read"|translate:{marked:true}'></span>
        {{comic.lastRead|date:'medium'}}
      </div>
      <div class='ui-g-12'>
        <strong>{{"comic-overview.label.page-count"|translate}}</strong>
      </div>
      <div class='ui-g-12'>{{comic.pageCount}}</div>
      <div class='ui-g-12'>
        <strong>{{"comic-overview.label.file-entry-count"|translate}}</strong>
      </div>
      <div class='ui-g-12'>{{comic.fileEntries.length}}
        <span *ngIf='!!comic.fileEntries && comic.fileEntries.length > 0'
              (click)='toggleFileEntriesDialog(true)'
              class='fa fa-fw fa-eye'></span>
      </div>
      <div class='ui-g-12'>
        <strong>{{"comic-overview.label.comicvine-details-link"|translate}}</strong>
      </div>
      <div *ngIf='comic.comicVineId'
           class='ui-g-12'
           innerHTML='{{"comic-overview.text.comicvine-details-link"|translate: { comicVineId: comic.comicVineId } }}'></div>
    </div>
  </div>
  <div class='ui-g-4'>
    <div class='ui-g'>
      <div class='ui-g-12'>
        <strong>{{"comic-overview.label.format"|translate}}</strong>
      </div>
      <div class='ui-g-12'>
        <p-inplace [disabled]='!is_admin || editing'
                   (onActivate)='startEditing()'
                   [active]='editing'>
          <span pInplaceDisplay>{{comic.format?.name || "comic-overview.text.format-placeholder"|translate}}
            <span class='pi pi-pencil'></span></span>
          <span pInplaceContent>
            <p-dropdown [options]='formatOptions'
                        [(ngModel)]='comic.format'></p-dropdown> </span></p-inplace>
      </div>
      <div class='ui-g-12'>
        <strong>{{"comic-overview.label.scan-type"|translate}}</strong>
      </div>
      <div class='ui-g-12'>
        <p-inplace [disabled]='!is_admin || editing'
                   (onActivate)='startEditing()'
                   [active]='editing'>
          <span pInplaceDisplay>{{comic.scanType?.name || "comic-overview.text.scan-type-placeholder"|translate}}
            <span class='pi pi-pencil'></span></span>
          <span pInplaceContent>
            <p-dropdown [options]='scanTypeOptions'
                        [(ngModel)]='comic.scanType'></p-dropdown> </span></p-inplace>
      </div>
    </div>
    <div class='ui-g-12'>
      <strong>{{"comic-overview.label.sort-name"|translate}}</strong>
    </div>
    <div class='ui-g-12'>
      <p-inplace [disabled]='!is_admin || editing'
                 (onActivate)='startEditing()'
                 [active]='editing'>
        <span pInplaceDisplay>{{comic.sortName || "comic-overview.text.sort-name-placeholder"|translate}}
          <span class='pi pi-pencil'></span></span>
        <span pInplaceContent>
          <input type='text'
                 pInputText
                 placeholder='{{"comic-overview.text.sort-name-placeholder"|translate}}'
                 [(ngModel)]='comic.sortName'/>
        </span>
      </p-inplace>
    </div>
  </div>

  <div class='ui-g-12 cx-comic-filename-container'>
    <div [innerHTML]='"comic-overview.label.filename"|translate:{filename: comic.filename}'></div>
  </div>
</div>
