@import '../../../../colors';

.cx-comic-filename-container {
  border: #000000 1px solid;
  text-align: center;
  background-color: $cx-information-panel-background-color;
  color: $cx-information-panel-text-primary-color;
}
