<div class='card comic-cover-card p-1 m-1'>
  <div class='card-body p-1'>
    <div class='card-title text-nowrap text-truncate'>{{page_hash}}</div>
    <div class='card-subtitle text-nowrap text-truncate'
      [style.height]='"" + image_size + "px"'>{{pages.length}}
      instance{{pages.length !== 1 ? 's' : ''}}</div>
    <div *ngIf='!all_are_deleted'
      class='container-fluid w-100 justify-content-center mb-2'>
      <button type='button' class='btn btn-sm btn-danger w-100'
        (click)='delete_all_pages()'>Delete All</button>
    </div>
    <div *ngIf='all_are_deleted'
      class='container-fluid w-100 justify-content-center mb-2'>
      <button type='button' class='btn btn-sm btn-warning w-100'
        (click)='undelete_all_pages()'>Undelete All</button>
    </div>
    <div class='container-fluid w-100 justify-content-center mb-2'>
      <button type='button' class='btn btn-small btn-info w-100'
        (click)='show_comics_clicked($event)' data-toggle='modal'
        data-target='#display_comics_with_duplicates'>Show
        Comics</button>
    </div>
    <img class='card-img-bottom mb-2 img-fluid' src='{{image_url}}'
      [style.height]='"" + image_size + "px"' [style.width]='"auto"'>
  </div>
</div>
