.img-wrapper {
	position: relative;
}

.img-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}

.img-overlay:before {
	content: ' ';
	display: block;
	/* adjust 'height' to position overlay content vertically */
	height: 50%;
}

.label-comic-title {
	background: #ff0;
	text-color: #000;
	padding-left: 5px;
	padding-right: 5px;
}

.comic-entry {
	padding: 0px 0px 5px 15px;
}