:host >>> .comic-cover-card .ui-card-body {
  margin: 0;
  padding: 0;
}

:host >>> .ui-overlaypanel-content {
  background-color: #ffffe0;
  color: #000000;
}

:host >>> .comic-cover-overlay-panel {
  background-color: #ffffe0;
  color: #000000;
  border: none;
}

:host >>> .comic-cover-overlay-panel .ui-panel-titlebar {
  padding: 0;
  margin: 0;
  border: none;
  background-color: #ffffe0;
  color: #000000;
  border: none;
}

:host >>> .comic-cover-overlay-panel .ui-panel-titlebar p-header {
  text-align: center;
  text-transform: capitalize;
  text-align: center;
  background-color: #ffffe0;
  color: #000000;
}

:host >>> .comic-cover-overlay-panel .ui-panel {
  background-color: #ffffe0;
  color: #000000;
}

:host >>> .comic-cover-overlay-panel .ui-panel-footer {
  padding: 0;
  margin: 0;
  border: none;
  background-color: #ffffe0;
  color: #000000;
  text-align: center;
}
