@use '@angular/material' as mat;

$dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: mat.m2-define-palette(mat.$m2-gray-palette),
      accent: mat.m2-define-palette(mat.$m2-cyan-palette)
    ),
    typography: mat.m2-define-typography-config(),
    density: 0
  )
);
