@use '@angular/material' as mat;

$lite-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$deep-purple-palette),
      accent: mat.define-palette(mat.$light-green-palette)
    ),
    typography: mat.define-typography-config(),
    density: 0
  )
);
