/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

html,
body {
  height: 100%;
}

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: Roboto,
      density: 0
    )
  );
}

body.dark-mode {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url('/images/login-page-banner.png');
  background-position: center top;
  background-attachment: fixed;
  background-repeat-y: repeat;
  background-size: 100%;
}

.cx-justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cx-centered {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.cx-width-100 {
  width: 100%;
}

.cx-padding-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.cx-border-1 {
  border-width: 1px;
  border-color: #000;
}

/* container types */

.cx-detail-container {
}
