@use "@angular/material" as mat;

@include mat.core();

$cx-light-primary: mat.define-palette(mat.$blue-palette);
$cx-light-accent: mat.define-palette(mat.$cyan-palette, A200, A100, A400);
$cx-light-warn: mat.define-palette(mat.$red-palette);
$cx-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $cx-light-primary,
      accent: $cx-light-accent,
      warn: $cx-light-warn
    )
  )
);

$cx-dark-primary: mat.define-palette(mat.$gray-palette);
$cx-dark-accent: mat.define-palette(mat.$blue-gray-palette, A200, A100, A400);
$cx-dark-warn: mat.define-palette(mat.$red-palette);
$cx-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $cx-dark-primary,
      accent: $cx-dark-accent,
      warn: $cx-dark-warn
    )
  )
);

.lite-theme {
  @include mat.all-component-themes($cx-light-theme);
}

.dark-theme {
  @include mat.all-component-themes($cx-dark-theme);
}
