$cx-smallest-width: 320px;

$cx-margin-width: 5px;
$cx-margin-space: calc(2 * $cx-margin-width);
$cx-bottom-margin: 2rem;

$cx-column-small: 50px;
$cx-column-smallish: 100px;
$cx-column-medium: 150px;
$cx-column-large: 325px;
$cx-row-height: 50px;

$cx-accent-background-color: var(--mat-badge-background-color) !important;
$cx-accent-color: var(--mat-badge-text-color) !important;

$cx-min-image-width: 350px;
$cx-max-image-width: 600px;
