@import '~colors.scss';

:host ::ng-deep {
  .ui-card-body,
  .ui-card-footer {
    margin: 0;
    padding: 0;
  }

  .ui-card-content {
    padding: 5px;
  }
}

.cx-comic-deleted {
  background-color: #800000;
  opacity: 0.8;
}

.cx-comic-cover-card {
  padding: 5px;
  marging: 10px;
}

.cx-deleted-comic {
  background-color: $cx-deleted-comic-background-color;
  color: $cx-deleted-comic-text-color;
}

.cx-selected-comic {
  background-color: $cx-selected-comic-background-color;
  color: $cx-selected-comic-text-color;
}
