<div class="cx-comic-cover-card"
     [class.cx-selected-comic]="selected"
     [class.cx-deleted-comic]="!!comic && !!comic.deletedDate">
  <p-card>
    <p-header>
      <p-progressBar *ngIf="!!comic && !comic.fileDetails"
                     type="indeterminate"></p-progressBar>
    </p-header>
    <img alt="comic cover"
         [src]="coverUrl"
         [style.width]="useSameHeight ? 'auto' : coverSize + 'px'"
         [style.height]="useSameHeight ? coverSize + 'px' : 'auto'"
         (click)="clicked()"
         (contextmenu)="showContextMenu($event)"/>
    <p-footer *ngIf="caption"><strong><span class="cx-no-wrap-text">{{caption}}</span></strong></p-footer>
  </p-card>
</div>
