:host ::ng-deep {
  .ui-card-body,
  .ui-card-footer {
    margin: 0;
    padding: 0;
  }

  .ui-card-content {
    padding: 5px;
  }
}

.cx-comic-cover-container {
  position: relative;
}

.cx-comic-cover-dimmed {
  opacity: 0.7;
}

.cx-comic-cover-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
