<div class="cx-comic-cover-card"
     [class.cx-selected-comic]="!!comic && selected"
     [class.cx-deleted-comic]="!!comic && !!comic.deletedDate"
     [class.cx-processing-comic]="!!comic && !comic.fileDetails"
     [class.cx-selected-comic-file]="!!comicFile && selected"
     [class.cx-unselected-comic-file]="!!comicFile && !selected">
  <p-card>
    <p-header></p-header>
    <img alt="comic cover"
         [src]="coverUrl"
         [style.width]="useSameHeight ? 'auto' : coverSize + 'px'"
         [style.height]="useSameHeight ? coverSize + 'px' : 'auto'"
         (click)="clicked()"
         (contextmenu)="showContextMenu($event)"/>
    <span *ngIf="!!comic && !!comic.deletedDate"
          class="cx-deleted-indicator fa fa-5x fa-trash"
          (contextmenu)="showContextMenu($event)"></span>
    <p-progressSpinner *ngIf="unprocessed"
                       class="cx-processing-indicator"
                       mode="indeterminate"></p-progressSpinner>
    <p-footer *ngIf="caption"><strong><span class="cx-no-wrap-text">{{caption}}</span></strong></p-footer>
  </p-card>
</div>
