<div *ngIf='pending_imports > 0' class='container-fluid w-100'>
  <h2 class='text-center'>{{get_import_title()}}</h2>
  <div *ngIf='delete_blocked_pages'>
    <p>
      Blocked pages in those comics will be automatically marked as <em>deleted</em>...
    </p>
  </div>
</div>
<div *ngIf='pending_imports === 0' id='import-comic-display'
  class='container-fluid w-100'>
  <div class='row w-100'>
    <div class='col-3 bg-light text-black'>
      <h4 class='text-center'>Find New Comics</h4>
      <form #f='ngForm' (ngSubmit)='on_load()'>
        <div class='form-group'>
          <div class='field'>
            <label for='directory'>Root directory to search:</label>
          </div>
          <div class='field row w-100'>
            <input type='text' id='directory' class='form-control w-100'
              placeholder='c:/path/to/files'
              [formControl]='directory_form.controls["directory"]'
              [(ngModel)]='directory'>
          </div>
        </div>
        <div *ngIf='!directory_form.controls["directory"].valid'
          class='invalid-tooltip w=100 justify-content-center mb-3'>Please
          enter a directory to search...</div>
        <div class='row w-100 justify-content-center mb-3'>
          <button type='submit' class='btn btn-primary w-75'
            [disabled]='!directory_form.valid'>Find Comics</button>
        </div>
      </form>
      <hr />
      <!-- # of comics per page to show -->
      <div *ngIf='file_details.length > 0'
        class='row w-100 justify-content-center mb-3'>
        <div class='field'>
          <label for='number-of-comics-per-page'># of comics per
            page: </label>
        </div>
        <div class='field row w-100 justify-content-center mb-3'>
          <app-page-size [initial]='use_page_size'
            (change)='set_page_size($event)'></app-page-size>
        </div>
      </div>
      <!--  select/deselect all comics -->
      <div *ngIf='file_details.length > 0'
        class='row w-100 justify-content-center mb-3'>
        <button
          *ngIf='file_details.length > 0 && selected_file_count < file_details.length'
          class='btn btn-primary w-75' (click)='select_all_files()'>Select
          All</button>
        <button
          *ngIf='file_details.length > 0 && selected_file_count === file_details.length'
          class='btn btn-primary w-75' (click)='deselect_all_files()'>Deselect
          All</button>
      </div>
      <div *ngIf='file_details.length > 0'
        class='row w-100 justify-content-center mb-3'>
        <button [disabled]='selected_file_count === 0'
          class='btn btn-secondary w-75' type='button'
          (click)='import_selected_files()'>Import</button>
      </div>
      <div *ngIf='file_details.length > 0' class='row w-100 mb-3 ml-3'>
        <label> <input class='mr-1' type='checkbox'
          [checked]='delete_blocked_pages'
          (change)='toggle_blocked_page_deletion()'>Delete
          Blocked Pages?
        </label>
      </div>
      <div *ngIf='selected_file_count > 0' class='row w-100 mb-3 ml-3'>
        <label><input class='mr-1' type='checkbox'
          [checked]='show_selections_only'
          (click)='toggle_show_selected()'>Show Selections Only</label>
      </div>
    </div>
    <div class='position-fixed comixed-scrollable-div'
      [class.col-9]='!selected_file_detail'
      [class.col-6]='selected_file_detail'>
      <div class='container w-100 justify-content-center'>
        <h2 class='text-center'>{{get_comic_selection_title()}}</h2>
        <div *ngIf='file_details.length > 0' class='row w-100'>
          <div
            class='row w-100 justify-content-center bg-secondary text-white'>
            <pagination-controls (pageChange)='current_page = $event'></pagination-controls>
          </div>
          <app-import-comic-list-entry
            *ngFor='let file_detail of file_details | selected_for_import : show_selections_only | paginate: { itemsPerPage: use_page_size, currentPage: current_page }'
            (clicked)='show_details(file_detail)'
            (selected)='toggle_comic_selection(file_detail)'
            [file_details]='file_detail' [cover_size]='cover_size'>
          </app-import-comic-list-entry>
        </div>
      </div>
    </div>
    <div *ngIf='selected_file_detail'
      class='col-3 comixed-import-comic-details-box'>
      <div class='container-fluid w-100'>
        <app-issue-details [title]='selected_file_detail_title'
          [subtitle]='selected_file_detail_subtitle'
          [cover_url]='selected_file_image_url'
          (close)='selected_file_detail = null'>
        <div class='row w-100 justify-content-center ml-0 mb-3'>
          <button *ngIf='!selected_file_detail.selected' type='button'
            class='btn w-75 bg-primary text-white'
            (click)='toggle_comic_selection(selected_file_detail)'>
            Select</button>
          <button *ngIf='selected_file_detail.selected' type='button'
            class='btn w-75 bg-danger text-white'
            (click)='toggle_comic_selection(selected_file_detail)'>
            Deselect</button>
        </div>
        </app-issue-details>
      </div>
    </div>
  </div>
</div>
