@import 'styles';

.mat-column-selected {
  width: $cx-column-small;
  max-width: $cx-column-small;
  resize: none;
}
.mat-column-filename {
  max-width: 100%;
  resize: horizontal;
}

.mat-column-size {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}
