$cx-toolbar-background-color: #000000;
$cx-toolbar-text-color: #f7f7f7;

$cx-information-panel-background-color: #00ffff;
$cx-information-panel-text-primary-color: #000000;

$cx-detail-label-text-color: #000000;
$cx-detail-label-background-color: #ffcc99;
$cx-detail-label-border-color: #ddeeee;

$cx-detail-value-text-color: #000000;
$cx-detail-value-background-color: #ffffff;

// forms
$cx-form-validation-error-background-color: #ff3300;
$cx-form-validation-error-text-color: #f3f300;

// comic lists and grids
$cx-selected-comic-background-color: #0033cc;
$cx-selected-comic-text-color: #ffffff;
$cx-deleted-comic-background-color: #ff3300;
$cx-deleted-comic-text-color: #000000;
$cx-deleted-comic-indicator-color: #ffffff;
$cx-deleted-page-row-background-color: #ff0000;
$cx-deleted-page-row-text-color: #ffff00;
