@import '~styles';

.mat-column-task-type {
}

.mat-column-start-time {
  width: $cx-column-large;
  max-width: $cx-column-large;
  resize: none;
}

.mat-column-runtime {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}

.mat-column-successful {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}
