<form [formGroup]="filterTextForm">
  <mat-form-field class="cx-width-100" appearance="outline">
    <button
      id="filter-text-button"
      mat-icon-button
      matPrefix
      color="primary"
      (click)="onApplyFilter(filterTextInput.value)"
    >
      <mat-icon>filter</mat-icon>
    </button>
    <button
      id="reset-text-button"
      mat-icon-button
      matPrefix
      color="warn"
      (click)="filterTextInput.value = ''; onApplyFilter('')"
    >
      <mat-icon>clear</mat-icon>
    </button>
    <input
      id="collection-filter-text-input"
      #filterTextInput
      matInput
      type="text"
      formControlName="filterTextInput"
      [placeholder]="'collection-list.text.filter-text' | translate"
    />
  </mat-form-field>
</form>
