<div class='ui-g'>
    <div *ngIf='selected_comic_files'
         class='ui-g-12'>
        <h2>{{"comic-file-list.header"|translate: {selected_count: selected_comic_files.length} }}</h2>
    </div>
    <p-contextMenu [model]='context_menu'
                   [target]='comicFileListContainer'></p-contextMenu>
    <div #comicFileListContainer
         class='ui-g-12'>
        <p-dataView #comicFileList
                    [alwaysShowPaginator]='true'
                    [layout]='layout'
                    [paginator]='true'
                    [rows]='rows'
                    [sortField]='"comic_file_sort_field"'
                    [value]='comic_files'
                    filterBy='filename'
                    id='comic-file-list-view'
                    paginatorPosition='both'>
            <p-header>
                <div class='ui-helper-clearfix'>
                    <app-comic-file-list-toolbar (changeLayout)='comicFileList.changeLayout($event)'
                                                 (filterText)='comicFileList.filter($event)'
                                                 (showSelections)='show_selections = true'
                                                 [busy]='busy'
                                                 [comic_files]='comic_files'
                                                 [directory]='directory'
                                                 [selected_comic_count]='(selected_comic_files||[]).length'></app-comic-file-list-toolbar>
                </div>
            </p-header>
            <ng-template let-file
                         pTemplate='gridItem'>
                <app-comic-file-grid-item [comic_file]='file'
                                          [cover_size]='cover_size'
                                          [same_height]='same_height'
                                          [selected]='selected_comic_files.includes(file)'
                                          [use_selected_class]='true'></app-comic-file-grid-item>
            </ng-template>
            <ng-template let-file
                         pTemplate='listItem'>
                <app-comic-file-list-item [comic_file]='file'
                                          [cover_size]='cover_size'
                                          [same_height]='same_height'
                                          [selected]='selected_comic_files.includes(file)'
                                          [use_selected_class]='true'></app-comic-file-list-item>
            </ng-template>
        </p-dataView>
    </div>
</div>
