<app-selected-comic-file-list [selected_comic_files]='selected_comic_files'
                              [library_display]='library_display'
                              (hide)="show_selections = false"></app-selected-comic-file-list>
<div class='ui-g'>
    <div class='ui-g-12'
         *ngIf='selected_comic_files'>
        <h2>{{'comic-file-list.header'|translate:{selected_count: selected_comic_files.length} }}</h2>
    </div>
    <p-contextMenu [target]='comicFileListContainer'
                   [model]='context_menu'></p-contextMenu>
    <div #comicFileListContainer
         class='ui-g-12'>
        <p-dataView #comicFileList
                    filterBy='filename'
                    id='comic-file-list-view'
                    [value]='comic_files'
                    [sortField]='library_display.comic_file_sort_field'
                    [paginator]='true'
                    [rows]='library_display.rows'
                    paginatorPosition='both'
                    [alwaysShowPaginator]='true'
                    [layout]='"grid"'>
            <p-header>
                <div class="ui-helper-clearfix">
                    <app-comic-file-list-toolbar [directory]='directory'
                                                 [library_display]='library_display'
                                                 [busy]='busy'
                                                 [comic_files]='comic_files'
                                                 [selected_comic_count]='(selected_comic_files||[]).length'
                                                 (showSelections)='show_selections = true'
                                                 (filterText)='comicFileList.filter($event)'></app-comic-file-list-toolbar>
                </div>
            </p-header>
            <ng-template let-file
                         pTemplate='gridItem'>
                <app-comic-file-grid-item [comic_file]='file'
                                          [cover_size]='library_display.cover_size'
                                          [same_height]='library_display.same_height'
                                          [use_selected_class]='true'
                ></app-comic-file-grid-item>
            </ng-template>
        </p-dataView>
    </div>
</div>