<div *ngIf="loading" class="cx-width-100">
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
  <h2>{{ "home.title.loading-comics" | translate }}</h2>
</div>

<h1 *ngIf="!loading">{{ "home.title.comic-statistics" | translate }}</h1>

<div *ngIf="!loading && comicBooks.length > 0" class="cx-width-100 cx-margin-2">
  <mat-grid-list *ngIf="!loading" [cols]="10" rowHeight="100px">
    <mat-grid-tile class="cx-border-primary-1" colspan="5" rowspan="6">
      <cx-collections-chart
        class="cx-width-100 cx-height-100"
        [libraryState]="libraryState"
      ></cx-collections-chart>
    </mat-grid-tile>
    <mat-grid-tile class="cx-border-primary-1" colspan="5" rowspan="3">
      <cx-comic-state-chart
        class="cx-width-100 cx-height-100"
        [libraryState]="libraryState"
      ></cx-comic-state-chart>
    </mat-grid-tile>
    <mat-grid-tile class="cx-border-primary-1" colspan="5" rowspan="3">
      <cx-read-comics-chart
        class="cx-width-100 cx-height-100"
        [libraryState]="libraryState"
        [lastRead]="lastRead"
      ></cx-read-comics-chart>
    </mat-grid-tile>
    <mat-grid-tile class="cx-border-primary-1" colspan="10" rowspan="3">
      <cx-comics-by-year-chart
        class="cx-width-100 cx-height-100"
        [libraryState]="libraryState"
      ></cx-comics-by-year-chart>
    </mat-grid-tile>
  </mat-grid-list>
</div>
