<div *ngIf="!libraryState" class="cx-width-100">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  <h2>{{ "home.title.loading-comics" | translate }}</h2>
</div>

<h1>{{ "home.title.comic-statistics" | translate }}</h1>

<div *ngIf="!!libraryState" class="cx-width-100 cx-centered-horiz">
  <div class="cx-width-90 cx-border-primary-1 cx-padding-5">
    <cx-collections-chart [libraryState]="libraryState"></cx-collections-chart>
  </div>
</div>

<div *ngIf="!!libraryState" class="cx-width-100 cx-centered-horiz">
  <div class="cx-width-90 cx-border-primary-1 cx-padding-5">
    <cx-comic-state-chart
      class="cx-width-100 cx-height-100"
      [libraryState]="libraryState"
    ></cx-comic-state-chart>
  </div>
</div>

<div *ngIf="!!libraryState" class="cx-width-100 cx-centered-horiz">
  <div class="cx-width-90 cx-border-primary-1 cx-padding-5">
    <cx-comics-by-year-chart
      class="cx-width-100 cx-height-100"
      [libraryState]="libraryState"
    ></cx-comics-by-year-chart>
  </div>
</div>

<div *ngIf="lastRead.length > 0" class="cx-width-100 cx-centered-horiz">
  <div class="cx-width-90 cx-border-primary-1 cx-padding-5">
    <cx-comics-read-chart
      class="cx-width-100 cx-height-100"
    ></cx-comics-read-chart>
  </div>
</div>
