@use 'variables' as *;

#scraping-volume-container {
  display: flex;
  flex-flow: row wrap;
  width: calc(100% - $cx-margin-space);
  margin: $cx-margin-width;
}

#scraping-volume-table-container {
  flex: 1;
  min-width: $cx-max-image-width;
}

#scraping-volume-cover-container {
  flex-grow: 0;
  width: calc(max(25%, min(100%, $cx-max-image-width)) - $cx-margin-space);
  max-width: calc($cx-max-image-width + $cx-margin-space);
}

mat-row {
  height: $cx-row-height !important;
  max-height: $cx-row-height !important;
}

#cx-issue-metadata-detail-content {
}

.mat-column-matchability {
  width: $cx-column-smallish;
  max-width: $cx-column-smallish;
  resize: none;
}

.mat-column-thumbnail {
  width: $cx-column-smallish;
  max-width: $cx-column-smallish;
  resize: none;
}

.mat-column-publisher {
  width: $cx-column-large;
  max-width: $cx-column-large;
  resize: none;
}

.mat-column-name {
}

.mat-column-start-year {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}

.mat-column-issue-count {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}

.mat-column-issue-action {
  width: $cx-column-small;
  max-width: $cx-column-small;
  resize: none;
}

.mat-column-startYear {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}

.mat-column-issueCount {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}

.mat-column-action {
  width: $cx-column-small;
  max-width: $cx-column-small;
  resize: none;
}
