@import 'styles';

.mat-column-publisher {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}

.mat-column-name {
  width: $cx-column-large;
  max-width: $cx-column-large;
  resize: none;
}

.mat-column-volume {
  width: $cx-column-smallish;
  max-width: $cx-column-smallish;
  resize: none;
}

.mat-column-issue-number {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}

.mat-column-title {
}

.mat-column-cover-date {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}

.mat-column-store-date {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}

.mat-column-in-library {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}
