<div class="cx-fab-container-bottom-right">
  <button
    id="cx-publisher-page-button"
    mat-fab
    [matTooltip]="
      'collections.series-detail.tooltip.show-publisher'
        | translate: { publisher: publisher }
    "
    [routerLink]="['/library/collections/publishers', publisher]"
  >
    <mat-icon>book_online</mat-icon>
  </button>
  <button
    id="cx-scrape-series-metadata-button"
    mat-fab
    [matTooltip]="
      'collections.series-detail.tooltip.scrape-metadata' | translate
    "
    [routerLink]="[
      '/metadata/publishers',
      publisher,
      'series',
      name,
      'volumes',
      volume,
      'issues'
    ]"
  >
    <mat-icon>cloud_download</mat-icon>
  </button>
</div>

<h2>
  {{
    "collections.series-detail.page-title"
      | translate: { publisher: publisher, name: name, volume: volume }
  }}
</h2>

<h3 *ngIf="dataSource.data.length > 0">
  {{
    "collections.series-detail.page-title-percentage"
      | translate
        : {
            percentage: percentageComplete | number: "1.0-2",
            inLibrary: inLibrary,
            totalIssues: totalIssues
          }
  }}
</h3>

<mat-paginator
  showFirstLastButtons="true"
  class="cx-height-100"
  [pageSize]="queryParameterService.pageSize$ | async"
  [pageIndex]="queryParameterService.pageIndex$ | async"
  [pageSizeOptions]="pageOptions"
  (page)="
    queryParameterService.onPageChange(
      $event.pageSize,
      $event.pageIndex,
      $event.previousPageIndex
    )
  "
></mat-paginator>

<mat-table
  [dataSource]="dataSource"
  matSort
  [matSortActive]="queryParameterService.sortBy$ | async"
  [matSortDirection]="queryParameterService.sortDirection$ | async"
  (matSortChange)="
    queryParameterService.onSortChange($event.active, $event.direction)
  "
>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>
      {{ "collections.series.label.name" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">
        {{ entry | seriesDetailName }}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="issue-number">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "collections.series.label.issue-number" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">{{ entry.issueNumber }}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="title">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "collections.series.label.title" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">{{ entry.title }}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="cover-date">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "collections.series.label.cover-date" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">
        {{ entry.coverDate | date: medium }}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="store-date">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "collections.series.label.store-date" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">
        {{ entry.storeDate | date: medium }}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="in-library">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "collections.series.label.in-library" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <mat-icon
        *ngIf="entry.found"
        [matTooltip]="
          'collections.series-detail.text.found-in-library'
            | translate: { exists: true }
        "
      >
        check
      </mat-icon>
      <mat-icon
        *ngIf="!entry.found"
        [matTooltip]="
          'collections.series-detail.text.found-in-library'
            | translate: { exists: false }
        "
      >
        not_interested
      </mat-icon>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns"
    [routerLink]="row.found ? ['/comics', getComicBookIdForRow(row)] : null"
  ></mat-row>
</mat-table>
