<mat-toolbar class="cx-primary-light-background">
  <button
    id="return-to-list-button"
    mat-icon-button
    color="warn"
    [matTooltip]="'reading-list.tooltip.return-to-list' | translate"
    routerLink="/lists/reading/all"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div class="cx-spacer"></div>
  <button
    id="remove-selected-entries"
    mat-icon-button
    color="warn"
    [disabled]="!selectedIds.length"
    [matTooltip]="'reading-list.tooltip.remove-comics' | translate"
    (click)="onRemoveEntries()"
  >
    <mat-icon>clear</mat-icon>
  </button>
  <button
    id="reset-changes-button"
    mat-icon-button
    color="primary"
    [disabled]="!readingListForm.valid || !readingListForm.dirty"
    [matTooltip]="'reading-list.tooltip.reset-reading-list' | translate"
    (click)="onReset()"
  >
    <mat-icon>undo</mat-icon>
  </button>
  <button
    id="download-button"
    mat-icon-button
    color="accent"
    [disabled]="!readingList?.id"
    [matTooltip]="'reading-list.tooltip.download-file' | translate"
    (click)="onDownload()"
  >
    <mat-icon>download</mat-icon>
  </button>
  <button
    id="save-changes-button"
    mat-icon-button
    color="primary"
    [disabled]="!readingListForm.valid || !readingListForm.dirty"
    [matTooltip]="'reading-list.tooltip.save-reading-list' | translate"
    (click)="onSave()"
  >
    <mat-icon>save</mat-icon>
  </button>
  <button
    id="delete-reading-list-button"
    mat-icon-button
    color="warn"
    [matTooltip]="'reading-list.tooltip.delete-reading-list' | translate"
    (click)="onDeleteReadingList()"
  >
    <mat-icon>delete</mat-icon>
  </button>
</mat-toolbar>

<h2>
  {{ readingList?.name || "reading-list.text.no-name" | translate }}
</h2>

<div class="cx-width-90 cx-padding-50">
  <form [formGroup]="readingListForm" class="cx-padding-50 cx-border-primary-1">
    <mat-form-field class="cx-width-100" required>
      <input
        id="reading-list-name-input"
        matInput
        formControlName="name"
        [placeholder]="'reading-list.placeholder.name' | translate"
      />
    </mat-form-field>
    <mat-form-field class="cx-width-100">
      <input
        id="reading-list-description-input"
        matInput
        formControlName="summary"
        [placeholder]="'reading-list.placeholder.summary' | translate"
      />
    </mat-form-field>
  </form>
</div>

<cx-comic-detail-list-view
  [dataSource]="dataSource"
  [selectedIds]="selectedIds"
  [lastReadDates]="lastReadDates"
  [showAction]="false"
  [showArchiveType]="false"
  [showComicState]="false"
  [showAddedDate]="false"
  [showLastReadDate]="true"
></cx-comic-detail-list-view>
