<mat-toolbar class="cx-primary-light-background">
  <button
    id="show-file-lookup-form-button"
    mat-icon-button
    color="primary"
    [matTooltip]="'comic-files.tooltip.toggle-file-lookup-form' | translate"
    (click)="onToggleFileLookupForm()"
  >
    <mat-icon *ngIf="showLookupForm">expand_less</mat-icon>
    <mat-icon *ngIf="!showLookupForm">expand_more</mat-icon>
  </button>
  <div class="cx-spacer"></div>
  <button
    id="select-all-button"
    class="cx-margin-right-5"
    mat-icon-button
    color="primary"
    [disabled]="selectedComicFiles.length === comicFiles.length"
    [matTooltip]="'comic-files.tooltip.select-all' | translate"
    (click)="onSelectAll()"
  >
    <mat-icon>check_box</mat-icon>
  </button>
  <button
    id="deselect-all-button"
    class="cx-margin-right-5"
    mat-icon-button
    color="primary"
    [disabled]="selectedComicFiles.length === 0"
    [matTooltip]="'comic-files.tooltip.deselect-all' | translate"
    (click)="onDeselectAll()"
  >
    <mat-icon>check_box_outline_blank</mat-icon>
  </button>
  <button
    *ngIf="ignoreMetadata"
    id="ignore-metadata-button"
    class="cx-margin-right-5"
    mat-icon-button
    color="primary"
    [matTooltip]="'comic-files.tooltip.ignore-metadata-on' | translate"
    (click)="onToggleIgnoreMetadata()"
  >
    <mat-icon>block</mat-icon>
  </button>
  <button
    *ngIf="!ignoreMetadata"
    id="use-metadata-button"
    class="cx-margin-right-5"
    mat-icon-button
    color="primary"
    [matTooltip]="'comic-files.tooltip.ignore-metadata-off' | translate"
    (click)="onToggleIgnoreMetadata()"
  >
    <mat-icon>remove_circle_outline</mat-icon>
  </button>
  <button
    *ngIf="deleteBlockedPages"
    id="cx-delete-blocked-pages-button"
    class="cx-margin-right-5"
    mat-icon-button
    color="primary"
    [matTooltip]="'comic-files.tooltip.delete-blocked-pages-on' | translate"
    (click)="onToggleDeleteBlockedPages()"
  >
    <mat-icon>delete</mat-icon>
  </button>
  <button
    *ngIf="!deleteBlockedPages"
    id="cx-ignore-blocked-pages-button"
    class="cx-margin-right-5"
    mat-icon-button
    color="primary"
    [matTooltip]="'comic-files.tooltip.delete-blocked-pages-off' | translate"
    (click)="onToggleDeleteBlockedPages()"
  >
    <mat-icon>clear</mat-icon>
  </button>
  <button
    id="start-import-button"
    class="cx-margin-right-5"
    mat-icon-button
    color="primary"
    [disabled]="selectedComicFiles.length === 0"
    [matTooltip]="'comic-files.tooltip.start-import' | translate"
    (click)="onStartImport()"
  >
    <mat-icon>publish</mat-icon>
  </button>
</mat-toolbar>
<div *ngIf="showLookupForm" class="cx-width-100 cx-primary-light-background">
  <form [formGroup]="loadFilesForm">
    <mat-form-field class="cx-width-25" appearance="fill">
      <mat-select
        id="maximum-files-select"
        class="cx-width-100"
        formControlName="maximum"
      >
        <mat-option
          *ngFor="let option of maximumOptions"
          [value]="option.value"
        >
          {{ option.label | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="cx-width-75" appearance="fill">
      <input
        id="root-directory-input"
        matInput
        formControlName="rootDirectory"
      />
      <button
        matSuffix
        mat-icon-button
        color="primary"
        [disabled]="!loadFilesForm.valid"
        (click)="onLoadFiles()"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </form>
</div>
