<mat-toolbar class="cx-width-100" color="primary">
  <button
    id="toggle-sidebar-button"
    mat-flat-button
    color="primary"
    [matTooltip]="'menu.tooltip.toggle-sidenav' | translate"
    (click)="onToggleSidebar()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span id="cx-logo">ComiXed</span>
  <div class="cx-spacer"></div>
  <button
    *ngIf="!!user"
    mat-icon-button
    [matTooltip]="'navigation.tooltip.account' | translate"
    [routerLink]="'/account'"
  >
    <img ngxGravatar [alt]="user.email" [email]="user.email" />
  </button>

  <button
    id="toolbar-menu-trigger-button"
    mat-flat-button
    color="primary"
    [mat-menu-trigger-for]="mainMenu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #mainMenu="matMenu">
  <button *ngIf="!!user" mat-menu-item [matMenuTriggerFor]="userMenu">
    <mat-icon>account_box</mat-icon>
    <mat-label>{{ "menu.user-menu.root" | translate }}</mat-label>
  </button>
  <button *ngIf="!user" mat-menu-item (click)="onLogin()">
    <mat-icon>login</mat-icon>
    <mat-label>{{ "button.login" | translate }}</mat-label>
  </button>
  <button *ngIf="!!user" mat-menu-item (click)="onLogout()">
    <mat-icon>logout</mat-icon>
    <mat-label>{{ "button.logout" | translate }}</mat-label>
  </button>
</mat-menu>

<mat-menu #userMenu="matMenu">
  <button *ngIf="isReader" mat-menu-item (click)="onShowDisplayOptions()">
    <mat-icon>tv</mat-icon>
    <mat-label>{{ "menu.user-menu.show-options-panel" | translate }}</mat-label>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="languageMenu">
    <mat-icon>language</mat-icon>
    <mat-label>{{ "menu.language-menu.root" | translate }}</mat-label>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="loggingMenu">
    <mat-icon>settings</mat-icon>
    <mat-label>{{ "menu.logging-menu.root" | translate }}</mat-label>
  </button>
</mat-menu>

<mat-menu #languageMenu="matMenu">
  <button
    *ngFor="let option of languages"
    mat-menu-item
    (click)="onSelectLanguage(option.value)"
  >
    <mat-icon *ngIf="currentLanguage === option.value">check_box</mat-icon>
    <mat-icon *ngIf="currentLanguage !== option.value">
      check_box_outline_blank
    </mat-icon>
    <mat-label>{{ option.label }}</mat-label>
  </button>
</mat-menu>

<mat-menu #loggingMenu="matMenu">
  <button
    *ngFor="let option of loggingOptions"
    mat-menu-item
    (click)="onSetLogging(option)"
  >
    <mat-icon *ngIf="isCurrentLoggingLevel(option)">
      radio_button_checked
    </mat-icon>
    <mat-icon *ngIf="!isCurrentLoggingLevel(option)">
      radio_button_unchecked
    </mat-icon>
    <mat-label>{{ "menu.logging-menu." + option | translate }}</mat-label>
  </button>
</mat-menu>
