<div *ngIf="comic"
     class="ui-g">
  <div class="ui-g-12 ui-sm-12">
    <p-panel header="{{'comic-story.label.summary'|translate}}"
             [toggleable]="true"
             [collapsed]="true">
      <div [innerHTML]="comic.summary || 'comic-story.text.no-summary'|translate"></div>
    </p-panel>
    <p-panel header="{{'comic-story.label.description'|translate}}"
             [toggleable]="true"
             [collapsed]="true">
      <div [innerHTML]="comic.description || 'comic-story.text.no-description'|translate"></div>
    </p-panel>
    <p-panel header="{{'comic-story.label.characters'|translate}}"
             [toggleable]="true"
             [collapsed]="true">
      <div class="ui-g">
        <p-dataView [value]="comic.characters"
                    [layout]="'grid'">
          <ng-template let-character
                       pTemplate="gridItem">
            <p-card>
              <p-header>
                <h4>{{ character }}</h4>
              </p-header>
            </p-card>
          </ng-template>
        </p-dataView>
      </div>
    </p-panel>
    <p-panel header="{{'comic-story.label.teams'|translate}}"
             [toggleable]="true"
             [collapsed]="true">
      <div class="ui-g">
        <p-dataView [value]="comic.teams"
                    [layout]="'grid'">
          <ng-template let-team
                       pTemplate="gridItem">
            <p-card>
              <p-header>
                <h4>{{ team }}</h4>
              </p-header>
            </p-card>
          </ng-template>
        </p-dataView>
      </div>
    </p-panel>
    <p-panel header="{{'comic-story.label.locations'|translate}}"
             [toggleable]="true"
             [collapsed]="true">
      <div class="ui-g">
        <p-dataView [value]="comic.locations"
                    [layout]="'grid'">
          <ng-template let-location
                       pTemplate="gridItem">
            <p-card>
              <p-header>
                <h4>{{ location }}</h4>
              </p-header>
            </p-card>
          </ng-template>
        </p-dataView>
      </div>
    </p-panel>
  </div>
</div>
