<div id="cx-navigation-bar" class="cx-width-100 cx-height-100">
  <div *ngIf="busy" class="cx-overlay">
    <div class="cx-centered">
      <mat-progress-spinner
        diameter="100"
        mode="indeterminate"
        color="accent"
      ></mat-progress-spinner>
    </div>
  </div>
  <cx-navigation-bar
    [user]="user"
    [sidebarOpened]="sidenav.opened"
    (toggleSidebar)="sidenav.toggle($event)"
  ></cx-navigation-bar>
  <div class="cx-width-100 cx-height-100 cx-overflow-y-scroll">
    <mat-sidenav-container class="cx-width-100 cx-height-100">
      <mat-sidenav #sidenav mode="side">
        <div class="cx-height-100 cx-margin-bottom-100px cx-overflow-y-scroll">
          <cx-side-navigation [user]="user"></cx-side-navigation>
        </div>
      </mat-sidenav>
      <mat-sidenav-content #sidebar>
        <div
          id="cx-main-content-area"
          class="cx-width-100 cx-height-100 cx-margin-bottom-50px"
        >
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  <div
    id="cx-footer"
    class="
      cx-width-100
      cx-padding-left-15
      cx-padding-right-15
      cx-padding-top-5
      cx-padding-bottom-5
    "
  >
    <cx-footer [user]="user"></cx-footer>
  </div>
</div>
