<h2>
  {{
    "collections.series.list-page.page-title"
      | translate
        : {
            shown: dataSource.filteredData.length
          }
  }}
</h2>

<mat-paginator
  showFirstLastButtons="true"
  class="cx-height-100"
  [pageSize]="queryParameterService.pageSize$ | async"
  [pageIndex]="queryParameterService.pageIndex$ | async"
  [pageSizeOptions]="pageOptions"
  (page)="
    queryParameterService.onPageChange(
      $event.pageSize,
      $event.pageIndex,
      $event.previousPageIndex
    )
  "
></mat-paginator>

<mat-table
  matSort
  class="cx-width-100"
  [dataSource]="dataSource"
  [matSortActive]="queryParameterService.sortBy$ | async"
  [matSortDirection]="queryParameterService.sortDirection$ | async"
  (matSortChange)="
    queryParameterService.onSortChange($event.active, $event.direction)
  "
>
  <ng-container matColumnDef="publisher">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "collections.series.label.publisher" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">
        <a [routerLink]="['/library/collections/publishers', entry.publisher]">
          {{ entry.publisher }}
        </a>
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "collections.series.label.name" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">{{ entry.name }}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="volume">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "collections.series.label.volume" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">{{ entry.volume }}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="total-comics">
    <mat-header-cell *matHeaderCellDef>
      {{ "collections.series.label.total-comics" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <a
        [routerLink]="[
          '/library/collections/publishers',
          entry.publisher,
          'series',
          entry.name,
          'volumes',
          entry.volume
        ]"
      >
        {{ entry.inLibrary }}
      </a>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="total-issues">
    <mat-header-cell *matHeaderCellDef>
      {{ "collections.series.label.total-issues" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <a
        [routerLink]="[
          '/library/collections/publishers',
          entry.publisher,
          'series',
          entry.name,
          'volumes',
          entry.volume,
          'metadata'
        ]"
      >
        {{ entry.totalIssues }}
      </a>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">
      {{ "collections.series.text.no-series-found" | translate }}
    </td>
  </tr>
</mat-table>
