<h2>
  {{
    "collections.series.list-page.page-title"
      | translate
        : {
            shown: dataSource.filteredData.length
          }
  }}
</h2>

<div class="cx-width-100">
  <cx-filter-text-form></cx-filter-text-form>
</div>

<mat-paginator
  showFirstLastButtons="true"
  class="cx-height-100"
  [length]="totalSeries"
  [pageSize]="queryParameterService.pageSize$ | async"
  [pageIndex]="queryParameterService.pageIndex$ | async"
  [pageSizeOptions]="pageOptions"
  (page)="
    queryParameterService.onPageChange(
      $event.pageSize,
      $event.pageIndex,
      $event.previousPageIndex
    )
  "
></mat-paginator>

<mat-table
  matSort
  class="cx-width-100"
  [dataSource]="dataSource"
  [matSortActive]="queryParameterService.sortBy$ | async"
  [matSortDirection]="queryParameterService.sortDirection$ | async"
  (matSortChange)="
    queryParameterService.onSortChange($event.active, $event.direction)
  "
>
  <ng-container matColumnDef="publisher">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "collections.series.label.publisher" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">
        <a [routerLink]="['/library/collections/publishers', entry.publisher]">
          {{ entry.publisher }}
        </a>
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "collections.series.label.name" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">{{ entry.name }}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="volume">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "collections.series.label.volume" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">{{ entry.volume }}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="total-comics">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "collections.series.label.total-comics" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <button
        mat-raised-button
        color="primary"
        [matTooltip]="
          'collections.series.tooltip.view-series-metadata' | translate
        "
        [routerLink]="[
          '/library/collections/publishers',
          entry.publisher,
          'series',
          entry.name,
          'volumes',
          entry.volume,
          'metadata'
        ]"
      >
        <mat-label>
          {{ entry.totalIssues }}
        </mat-label>
        <mat-icon>info</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="in-library">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "collections.series.label.in-library" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <button
        mat-raised-button
        color="primary"
        [matTooltip]="'collections.series.tooltip.scrape-series' | translate"
        [routerLink]="[
          '/metadata/scraping/publishers',
          entry.publisher,
          'series',
          entry.name,
          'volumes',
          entry.volume,
          'issues'
        ]"
        (click)="$event.stopPropagation()"
      >
        <mat-label>{{ entry.inLibrary }}</mat-label>
        <mat-icon>cloud_download</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns"
    [routerLink]="[
      '/library/collections/publishers',
      row.publisher,
      'series',
      row.name,
      'volumes',
      row.volume
    ]"
  ></mat-row>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">
      {{ "collections.series.text.no-series-found" | translate }}
    </td>
  </tr>
</mat-table>
