<div class="cx-fab-container-bottom-right">
  <button
    id="create-source-button"
    mat-fab
    color="primary"
    [matTooltip]="'metadata-source.tooltip.create-source' | translate"
    (click)="onCreateSource()"
  >
    <mat-icon>add</mat-icon>
  </button>
  <button
    id="show-config-popup-button"
    mat-fab
    color="accent"
    [matTooltip]="'metadata-source.tooltip.create-source' | translate"
    (click)="showConfigPopup = true"
  >
    <mat-icon>settings</mat-icon>
  </button>
</div>

<div
  *ngIf="showConfigPopup"
  class="cx-hover cx-centered cx-width-25 cx-border-primary-1"
>
  <form [formGroup]="metadataForm" class="cx-width-100">
    <mat-card>
      <mat-card-title>
        <h3>{{ "metadata-source.configuration.title" | translate }}</h3>
      </mat-card-title>
      <mat-card-content>
        <mat-form-field class="cx-width-100" appearance="fill">
          <mat-checkbox
            id="ignore-empty-values-input"
            formControlName="ignoreEmptyValues"
          >
            {{ "metadata-source.label.ignore-empty-values" | translate }}
          </mat-checkbox>
          <input hidden matInput />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="cx-action-button-container-horizontal">
        <button
          id="save-metadata-source-configuration-button"
          mat-flat-button
          color="primary"
          (click)="onSaveConfig()"
        >
          <mat-label>{{ "button.save" | translate }}</mat-label>
          <mat-icon>save</mat-icon>
        </button>
        <button
          id="cancel-metadata-source-configuration-button"
          mat-flat-button
          color="warn"
          (click)="onCancelConfig()"
        >
          <mat-label>{{ "button.cancel" | translate }}</mat-label>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>

<mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
      {{ "metadata-source-list.label.actions" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry" (click)="$event.stopPropagation()">
      <button
        mat-icon-button
        color="warn"
        (click)="onDeleteSource(entry)"
        [matTooltip]="'metadata-source.tooltip.delete-source' | translate"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "metadata-source-list.label.name" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">
        {{ entry.name }}
        <span *ngIf="entry.preferred">
          <mat-icon
            [matTooltip]="
              'metadata-source-list.tooltip.preferred-source' | translate
            "
          >
            star
          </mat-icon>
        </span>
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="bean-name">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "metadata-source-list.label.bean-name" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">
        {{ entry.beanName }}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="property-count">
    <mat-header-cell *matHeaderCellDef>
      {{ "metadata-source-list.label.property-count" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">
        {{ entry.properties.length }}
      </span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns"
    (click)="onSelectSource(row)"
  ></mat-row>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">
      {{ "metadata-source-list.label.no-rows-loaded" | translate }}
    </td>
  </tr>
</mat-table>
