@import 'styles';

.mat-column-actions {
  width: $cx-column-smallish;
  max-width: $cx-column-smallish;
  resize: none;
}

.mat-column-name {
}

.mat-column-bean-name {
  width: $cx-column-large;
  max-width: $cx-column-large;
  resize: none;
}

.mat-column-property-count {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}
