<mat-toolbar class="cx-primary-light-background">
  <mat-toolbar-row>
    <mat-paginator class="cx-primary-light-background"></mat-paginator>
    <div class="cx-spacer"></div>
    <button
      id="set-deleted-button"
      mat-icon-button
      color="warn"
      [matTooltip]="'blocked-hash-list.tooltip.set-deleted' | translate"
      [disabled]="!someSelected"
      (click)="onMarkSelectedForDeletion()"
    >
      <mat-icon>block</mat-icon>
    </button>
    <button
      id="clear-deleted-button"
      mat-icon-button
      color="accent"
      [matTooltip]="'blocked-hash-list.tooltip.clear-deleted' | translate"
      [disabled]="!someSelected"
      (click)="onClearSelectedForDeletion()"
    >
      <mat-icon>remove_circle_outline</mat-icon>
    </button>
    <button
      id="delete-entries"
      mat-icon-button
      color="warn"
      [matTooltip]="'blocked-hash-list.tooltip.delete-entries' | translate"
      [disabled]="!someSelected"
      (click)="onDeleteEntries()"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <button
      id="upload-button"
      mat-icon-button
      color="primary"
      [matTooltip]="'blocked-hash-list.tooltip.upload-file' | translate"
      (click)="onShowUploadRow()"
    >
      <mat-icon>upload</mat-icon>
    </button>
    <button
      id="download-button"
      mat-icon-button
      color="primary"
      [matTooltip]="'blocked-hash-list.tooltip.download-file' | translate"
      (click)="onDownloadFile()"
    >
      <mat-icon>download</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="showUploadRow">
    <input
      id="fileUpload"
      type="file"
      (change)="onFileSelected($event.target.files[0])"
      (click)="$event.stopPropagation()"
    />
  </mat-toolbar-row>
</mat-toolbar>

<mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="selected">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        [checked]="allSelected"
        (change)="onSelectAll($event.checked)"
      ></mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <mat-checkbox
        [checked]="entry.selected"
        (click)="$event.stopImmediatePropagation()"
        (change)="onSelectOne(entry, $event.checked)"
      ></mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="label">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "blocked-hash-list.header.label" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-text-nowrap">{{ entry.item.label }}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="hash">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "blocked-hash-list.header.hash" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-text-nowrap">{{ entry.item.hash }}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="comic-count">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "blocked-hash-list.header.comic-count" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-text-nowrap">{{ entry.item.comicCount }}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="created-on">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "blocked-hash-list.header.created-on" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-text-nowrap">
        {{ entry.item.createdOn | date: "medium" }}
      </span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns"
    [routerLink]="['/library', 'pages', 'blocked', row.item.hash]"
  ></mat-row>
</mat-table>
