<div *ngIf='comic'
     class='ui-g'>
    <div class='ui-g-3 ui-sm-6'>
        <p-card>
            <p-header>
                <h2>{{ comic | comicTitle }}</h2>
            </p-header>
            <img alt='comic cover'
                 src='{{ comic | comicCoverUrl }}'
                 [style.height]='"auto"'
                 [style.width]='"100%"'/>
            <p-footer>
                <div class='cx-container-centered-text'>
                    <a *ngIf='!comic.missing'
                       id='cx-download-link'
                       href='{{ comic | comicDownloadLink }}'>{{ "comic-details-page.text.download-link" | translate }}</a>
                </div>
                <div class='ui-g'>
                    <div class='ui-g-6 cx-container-centered-text'>
                        <button pButton
                                class='cx-action-button ui-button-info'
                                icon='fas fa-caret-left'
                                [label]='"comic-details-page.button.prev-comic"|translate'
                                [disabled]='!comic.previousIssueId'
                                (click)='goToPreviousComic()'></button>
                    </div>
                    <div class='ui-g-6'>
                        <button pButton
                                class='cx-action-button ui-button-info'
                                icon='fas fa-caret-right'
                                iconPos='right'
                                [label]='"comic-details-page.button.next-comic"|translate'
                                [disabled]='!comic.nextIssueId'
                                (click)='gotToNextComic()'></button>
                    </div>
                </div>
            </p-footer>
        </p-card>
    </div>
    <div class='ui-g-9 ui-sm-6'>
        <p-tabView [activeIndex]='currentTab'
                   (onChange)='setCurrentTab($event.index)'>
            <p-tabPanel header='{{ "comic-details-page.tab.overview" | translate }}'>
                <app-comic-overview [is_admin]='isAdmin'
                                    [comic]='comic'></app-comic-overview>
            </p-tabPanel>
            <p-tabPanel header='{{ "comic-details-page.tab.story" | translate }}'>
                <app-comic-story [comic]='comic'
                                 [characters]='characters'
                                 [teams]='teams'
                                 [locations]='locations'
                                 [story_arcs]='storyArcs'></app-comic-story>
            </p-tabPanel>
            <p-tabPanel header='{{ "comic-details-page.tab.credits" | translate }}'>
                <app-comic-credits [comic]='comic'></app-comic-credits>
            </p-tabPanel>
            <p-tabPanel header='{{ "comic-details-page.tab.pages" | translate }}'>
                <app-comic-pages [imageSize]="pageSize"
                                 [isAdmin]="isAdmin"
                                 [comic]='comic'></app-comic-pages>
            </p-tabPanel>
            <p-tabPanel *ngIf='isAdmin'
                        header='{{ "comic-details-page.tab.comicvine" | translate }}'>
                <app-comic-details-editor [comic]='comic'></app-comic-details-editor>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
