<h2>
  {{
    "batch-processes.batch-process-detail.dialog-title"
      | translate: { jobId: detail?.jobId }
  }}
</h2>

<div *ngIf="detail?.running" class="batch-process-detail-row">
  {{
    "batch-processes.text.running-now"
      | translate: { started: detail?.startTime | date: "medium" }
  }}
</div>
<div *ngIf="!detail?.running" class="batch-process-detail-row">
  {{ "batch-processes.text.status" | translate: { status: detail?.status } }}
</div>
<div class="batch-process-detail-row">
  {{
    "batch-processes.text.created"
      | translate: { created: detail?.createTime | date: "medium" }
  }}
</div>
<div class="batch-process-detail-row">
  <table class="cx-width-100 cx-border-primary-1 cx-padding-5">
    <thead>
      <tr>
        <th>{{ "batch-processes.label.parameter-name" | translate }}</th>
        <th>{{ "batch-processes.label.parameter-value" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of detail.parameters | keyvalue">
        <td>{{ entry.key }}</td>
        <td>{{ entry.value }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="!detail?.running" class="batch-process-detail-row">
  {{
    "batch-processes.text.duration"
      | translate
        : {
            started: detail?.startTime | date: "medium",
            ended: detail?.endTime | date: "medium"
          }
  }}
</div>
<div class="batch-process-detail-row">
  {{
    "batch-processes.text.last-updated"
      | translate: { updated: detail?.lastUpdateTime | date: "medium" }
  }}
</div>
<div *ngIf="restartable" class="batch-process-detail-row">
  {{ "batch-processes.text.can-be-restarted" | translate }}
</div>
<div *ngIf="restartable && false" class="batch-process-detail-row">
  <button
    id="restart-batch-process"
    mat-raised-button
    color="primary"
    [matTooltip]="'batch-processes.tooltip.restart-batch-process' | translate"
    (click)="onRestartBatchProcess()"
  >
    <mat-icon>restart_alt</mat-icon>
    <mat-label>{{ "button.restart" | translate }}</mat-label>
  </button>
</div>

<div *ngIf="detail.errors?.length > 0" class="cx-width-100 cx-border-primary-1">
  <h3>{{ "batch-processes.text.error-header" | translate }}</h3>
  <pre class="cx-padding-5">
  {{ detail.errors }}
  </pre>
</div>
