<h2>{{ "configuration.page-title" | translate }}</h2>

<mat-tab-group
  [selectedIndex]="queryParameterService.currentTab$ | async"
  (selectedTabChange)="queryParameterService.onTabChange($event.index)"
>
  <mat-tab [label]="'configuration.tab.server-runtime' | translate">
    <app-server-runtime></app-server-runtime>
  </mat-tab>
  <mat-tab [label]="'configuration.tab.server-metrics' | translate">
    <app-health-metrics></app-health-metrics>
  </mat-tab>
  <mat-tab [label]="'configuration.tab.library' | translate">
    <app-library-configuration
      [options]="(options$ | async) || []"
    ></app-library-configuration>
  </mat-tab>
  <mat-tab [label]="'configuration.tab.metadata-sources' | translate">
    <app-metadata-source-list></app-metadata-source-list>
  </mat-tab>
  <mat-tab [label]="'configuration.tab.scraping-rules' | translate">
    <app-scraping-rules-configuration></app-scraping-rules-configuration>
  </mat-tab>
  <mat-tab [label]="'configuration.tab.library-plugins' | translate">
    <app-library-plugins-configuration></app-library-plugins-configuration>
  </mat-tab>
</mat-tab-group>
