<h2>{{ "configuration.page-title" | translate }}</h2>

<mat-tab-group
  [selectedIndex]="queryParameterService.currentTab$ | async"
  (selectedTabChange)="queryParameterService.onTabChange($event.index)"
>
  <mat-tab [label]="'configuration.tab.server-runtime' | translate">
    <cx-server-runtime></cx-server-runtime>
  </mat-tab>
  <mat-tab [label]="'configuration.tab.server-metrics' | translate">
    <cx-health-metrics></cx-health-metrics>
  </mat-tab>
  <mat-tab [label]="'configuration.tab.library' | translate">
    <cx-library-configuration [options]="options"></cx-library-configuration>
  </mat-tab>
  <mat-tab [label]="'configuration.tab.metadata-sources' | translate">
    <cx-metadata-source-list></cx-metadata-source-list>
  </mat-tab>
  <mat-tab [label]="'configuration.tab.scraping-rules' | translate">
    <cx-scraping-rules-configuration></cx-scraping-rules-configuration>
  </mat-tab>
</mat-tab-group>
