@import 'styles';

.mat-column-created-on {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
}

.mat-column-metadata-source {
  width: $cx-column-large;
  max-width: $cx-column-large;
}

.mat-column-comic {
}
