<mat-tab-group
  [selectedIndex]="currentTab"
  (selectedTabChange)="onTabChange($event.index)"
>
  <mat-tab [label]="'configuration.tab.server-runtime' | translate">
    <cx-server-runtime></cx-server-runtime>
  </mat-tab>
  <mat-tab [label]="'configuration.tab.library' | translate">
    <cx-library-configuration [options]="options"></cx-library-configuration>
  </mat-tab>
  <mat-tab [label]="'configuration.tab.metadata-sources' | translate">
    <cx-metadata-sources-view></cx-metadata-sources-view>
  </mat-tab>
  <mat-tab [label]="'configuration.tab.comicvine' | translate">
    <cx-comic-vine-configuration
      [options]="options"
    ></cx-comic-vine-configuration>
  </mat-tab>
  <mat-tab [label]="'configuration.tab.scraping-rules' | translate">
    <cx-scraping-rules-configuration></cx-scraping-rules-configuration>
  </mat-tab>
</mat-tab-group>
