@import 'src/styles';

.mat-column-action {
  width: $cx-column-small;
  max-width: $cx-column-small;
}

.mat-column-selection {
  width: $cx-column-small;
  max-width: $cx-column-small;
}

.mat-column-thumbnail {
  width: $cx-column-small;
  max-width: $cx-column-small;
}

.mat-column-extra-field {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
}

.mat-column-archive-type {
  width: $cx-column-smallish;
  max-width: $cx-column-smallish;
}

.mat-column-comic-state {
  width: $cx-column-smallish;
  max-width: $cx-column-smallish;
}

.mat-column-comic-type {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
}

.mat-column-publisher {
  width: $cx-column-large;
  max-width: $cx-column-large;
}

.mat-column-series {
}

.mat-column-volume {
  width: $cx-column-small;
  max-width: $cx-column-small;
}

.mat-column-issue-number {
  width: $cx-column-smallish;
  max-width: $cx-column-smallish;
}

.mat-column-cover-date {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
}

.mat-column-store-date {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
}

.mat-column-last-read-date {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
}

.mat-column-added-date {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
}
