<div
  *ngIf="showComicDetailPopup"
  class="cx-hover cx-centered cx-width-25 cx-border-primary-1"
>
  <mat-card appearance="outlined">
    <mat-card-title class="cx-text-nowrap">
      {{ currentComic | comicTitle }}
    </mat-card-title>
    <mat-card-subtitle
      *ngIf="!!currentComic.title && currentComic.title.length > 0"
      class="cx-text-nowrap"
    >
      {{ currentComic.title }}
    </mat-card-subtitle>
    <mat-card-content class="cx-padding-5">
      <img
        loading="lazy"
        [src]="currentComic | comicCoverUrl"
        width="100%"
        height="auto"
        [alt]="currentComic | comicTitle"
      />
    </mat-card-content>
  </mat-card>
</div>

<div
  *ngIf="showComicFilterPopup"
  class="cx-hover cx-centered cx-width-25 cx-border-primary-1"
>
  <cx-comic-detail-filter
    [comicDetails]="comics"
    [coverYears]="coverYears"
    [coverMonths]="coverMonths"
    (closeFilter)="showComicFilterPopup = false"
  ></cx-comic-detail-filter>
</div>

<mat-paginator
  class="cx-height-100"
  showFirstLastButtons="true"
  [length]="totalComics"
  [pageIndex]="queryParameterService.pageIndex$ | async"
  [pageSize]="queryParameterService.pageSize$ | async"
  [pageSizeOptions]="queryParameterService.pageSizeOptions"
  (page)="
    queryParameterService.onPageChange(
      $event.pageSize,
      $event.pageIndex,
      $event.previousPageIndex
    )
  "
></mat-paginator>

<mat-table
  *ngIf="!!dataSource"
  [dataSource]="dataSource"
  matSort
  [matSortActive]="queryParameterService.sortBy$ | async"
  [matSortDirection]="queryParameterService.sortDirection$ | async"
  (matSortChange)="
    queryParameterService.onSortChange($event.active, $event.direction)
  "
>
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef>
      <mat-icon
        (click)="onFilterComics(); $event.stopPropagation()"
        [matTooltip]="'comic-detail-list-view.tooltip.filter-list' | translate"
      >
        filter_list
      </mat-icon>
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <mat-icon
        (click)="currentComic = entry.item; $event.stopPropagation()"
        [matMenuTriggerFor]="contextMenu"
      >
        more_vert
      </mat-icon>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="selection">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        [checked]="
          selectedIds.length > 0 &&
          selectedIds.length === dataSource.data.length
        "
        (change)="selectAll.emit($event.checked)"
        (click)="$event.stopPropagation()"
      ></mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <mat-checkbox
        [checked]="entry.selected"
        (click)="$event.stopImmediatePropagation()"
        (change)="onSetSelectedState(entry, $event.checked)"
      ></mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="thumbnail">
    <mat-header-cell *matHeaderCellDef>
      {{ "comic-detail-list-view.label.thumbnail" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap cx-padding-2">
        <img
          loading="lazy"
          [src]="entry.item | comicCoverUrl"
          [alt]="entry.item | comicTitle"
          width="100%"
          height="auto"
          (mouseenter)="onShowPopup(true, entry.item)"
          (mouseleave)="onShowPopup(false, null)"
        />
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="extra-field">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ extraFieldTitle | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap cx-padding-5">
        {{ entry.extraField }}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="archive-type">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "comic-detail-list-view.label.archive-type" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap cx-padding-5">
        {{ entry.item.archiveType }}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="comic-state">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "comic-detail-list-view.label.comic-state" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <mat-icon
        [matTooltip]="
          'comic-book.text.state-' + entry.item.comicState | translate
        "
      >
        {{ getIconForState(entry.item.comicState) }}
      </mat-icon>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="comic-type">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "comic-detail-list-view.label.comic-type" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span
        class="cx-width-100 cx-text-nowrap cx-padding-5"
        [matTooltip]="entry.item.comicType"
      >
        {{ entry.item.comicType }}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="publisher">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "comic-detail-list-view.label.publisher" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap cx-padding-5">
        {{ entry.item.publisher }}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="series">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "comic-detail-list-view.label.series" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap cx-padding-5">
        {{ entry.item.series }}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="volume">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "comic-detail-list-view.label.volume" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap cx-padding-5">
        {{ entry.item.volume }}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="issue-number">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "comic-detail-list-view.label.issue-number" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap cx-padding-5">
        {{ entry.item.issueNumber }}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="cover-date">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "comic-detail-list-view.label.cover-date" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap cx-padding-5">
        {{ entry.item.coverDate | date: "mediumDate" }}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="store-date">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "comic-detail-list-view.label.store-date" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap cx-padding-5">
        {{ entry.item.storeDate | date: "mediumDate" }}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="last-read-date">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "comic-detail-list-view.label.last-read-date" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap cx-padding-5">
        {{ lastReadDate(entry.item) | date: "mediumDate" }}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="added-date">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "comic-detail-list-view.label.added-date" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap cx-padding-5">
        {{ entry.item.addedDate | date: "mediumDate" }}
      </span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns"
    [class.cx-selected-row]="selectedIds.includes(row.id)"
    (click)="onRowSelected(row)"
  ></mat-row>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">
      {{ "comic-detail-list-view.text.no-records-found" | translate }}
    </td>
  </tr>
</mat-table>

<!-- context menu items -->

<mat-menu #contextMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="currentComicMenu">
    <mat-label>
      {{ "library.context-menu.single-comic-menu" | translate }}
    </mat-label>
  </button>
  <button
    *ngIf="selectedIds.length > 0"
    mat-menu-item
    [matMenuTriggerFor]="selectedComicsMenu"
  >
    <mat-label>
      {{ "library.context-menu.multiple-comics-menu" | translate }}
    </mat-label>
  </button>
</mat-menu>

<mat-menu #currentComicMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="currentComicReadingListsMenu">
    <mat-label>
      {{ "library.context-menu.reading-lists" | translate }}
    </mat-label>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="currentComicConvertMenu">
    <mat-label>{{ "library.context-menu.convert" | translate }}</mat-label>
  </button>
  <button
    *ngIf="!isRead(currentComic)"
    mat-menu-item
    (click)="onMarkOneAsRead(true)"
  >
    <mat-label>{{ "library.context-menu.mark-as-read" | translate }}</mat-label>
  </button>
  <button
    *ngIf="isRead(currentComic)"
    mat-menu-item
    (click)="onMarkOneAsRead(false)"
  >
    <mat-label>
      {{ "library.context-menu.mark-as-unread" | translate }}
    </mat-label>
  </button>
  <button
    *ngIf="!isDeleted(currentComic)"
    mat-menu-item
    (click)="onMarkOneAsDeleted(true)"
  >
    <mat-label>{{ "library.context-menu.delete-one" | translate }}</mat-label>
  </button>
  <button
    *ngIf="isDeleted(currentComic)"
    mat-menu-item
    (click)="onMarkOneAsDeleted(false)"
  >
    <mat-label>
      {{ "library.context-menu.undelete-one" | translate }}
    </mat-label>
  </button>

  <button
    *ngIf="isAdmin"
    mat-menu-item
    (click)="onUpdateMetadata([currentComic.comicId])"
  >
    <mat-label>
      {{ "library.context-menu.update-metadata-one" | translate }}
    </mat-label>
  </button>

  <button
    *ngIf="isAdmin"
    mat-menu-item
    (click)="onRescanComics([currentComic.comicId])"
  >
    <mat-label>
      {{ "library.context-menu.rescan-one" | translate }}
    </mat-label>
  </button>
</mat-menu>

<mat-menu #currentComicConvertMenu="matMenu">
  <button mat-menu-item (click)="onConvertOne('CBZ')">
    <mat-label>
      {{ "library.context-menu.convert-one-to-cbz" | translate }}
    </mat-label>
  </button>
  <button mat-menu-item (click)="onConvertOne('CB7')">
    <mat-label>
      {{ "library.context-menu.convert-one-to-cb7" | translate }}
    </mat-label>
  </button>
</mat-menu>

<mat-menu #currentComicReadingListsMenu="matMenu">
  <button
    *ngIf="readingLists?.length === 0"
    mat-menu-item
    routerLink="/lists/reading/new"
  >
    <mat-label>
      {{ "library.context-menu.create-reading-list" | translate }}
    </mat-label>
  </button>
  <button
    mat-menu-item
    *ngFor="let list of readingLists"
    (click)="onAddOneToReadingList(list)"
  >
    <mat-label>{{ list.name }}</mat-label>
  </button>
</mat-menu>

<mat-menu #selectedComicsMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="selectedComicsReadingListsMenu">
    <mat-label>
      {{ "library.context-menu.reading-lists" | translate }}
    </mat-label>
  </button>
  <button
    mat-menu-item
    [matMenuTriggerFor]="selectedComicsConvertMenu"
    [disabled]="selectedIds.length === 0"
  >
    <mat-label>{{ "library.context-menu.convert" | translate }}</mat-label>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="selectedMarkAsMenu">
    <mat-label>{{ "library.context-menu.mark-as" | translate }}</mat-label>
  </button>
  <button mat-menu-item (click)="onEditMultipleComics()">
    <mat-label>
      {{
        "library.context-menu.edit-multiple-comics"
          | translate: { count: selectedIds.length }
      }}
    </mat-label>
  </button>

  <button *ngIf="isAdmin" mat-menu-item (click)="onScrapeComics(selectedIds)">
    <mat-label>
      {{
        "library.context-menu.scrape-comics-selected"
          | translate: { count: selectedIds.length }
      }}
    </mat-label>
  </button>

  <button *ngIf="isAdmin" mat-menu-item (click)="onUpdateMetadata(selectedIds)">
    <mat-label>
      {{
        "library.context-menu.update-metadata-selected"
          | translate: { count: selectedIds.length }
      }}
    </mat-label>
  </button>

  <button
    *ngIf="isAdmin"
    mat-menu-item
    (click)="onConsolidateSelectedComicBooks()"
  >
    <mat-label>
      {{ "library.context-menu.consolidate-selected" | translate }}
    </mat-label>
  </button>

  <button *ngIf="isAdmin" mat-menu-item (click)="onRescanComics(selectedIds)">
    <mat-label>
      {{
        "library.context-menu.rescan-selected"
          | translate: { count: selectedIds.length }
      }}
    </mat-label>
  </button>
</mat-menu>

<mat-menu #selectedMarkAsMenu="matMenu">
  <button mat-menu-item (click)="onMarkSelectedAsRead(true)">
    <mat-label>{{ "library.context-menu.mark-as-read" | translate }}</mat-label>
  </button>
  <button mat-menu-item (click)="onMarkSelectedAsRead(false)">
    <mat-label>
      {{ "library.context-menu.mark-as-unread" | translate }}
    </mat-label>
  </button>
  <button mat-menu-item (click)="onMarkSelectedAsDeleted(true)">
    <mat-label>
      {{ "library.context-menu.delete-selected" | translate }}
    </mat-label>
  </button>
  <button mat-menu-item (click)="onMarkSelectedAsDeleted(false)">
    <mat-label>
      {{ "library.context-menu.undelete-selected" | translate }}
    </mat-label>
  </button>
</mat-menu>

<mat-menu #selectedComicsConvertMenu="matMenu">
  <button mat-menu-item (click)="onConvertSelected('CBZ')">
    <mat-label>
      {{ "library.context-menu.convert-selected-to-cbz" | translate }}
    </mat-label>
  </button>
  <button mat-menu-item (click)="onConvertSelected('CB7')">
    <mat-label>
      {{ "library.context-menu.convert-selected-to-cb7" | translate }}
    </mat-label>
  </button>
</mat-menu>

<mat-menu #selectedComicsReadingListsMenu="matMenu">
  <button
    *ngIf="readingLists?.length === 0"
    mat-menu-item
    routerLink="/lists/reading/new"
  >
    <mat-label>
      {{ "library.context-menu.create-reading-list" | translate }}
    </mat-label>
  </button>
  <button
    mat-menu-item
    *ngFor="let list of readingLists"
    (click)="onAddSelectedToReadingList(list)"
  >
    <mat-label>{{ list.name }}</mat-label>
  </button>
</mat-menu>
