<p-toolbar> <input id="directory"
         type="text"
         [style.width]="'50%'"
         [(ngModel)]="directory"
         placeholder="{{'import-toolbar.text.directory-placeholder'|translate}}">
  <button pButton
          label="{{'import-toolbar.button.find'|translate}}"
          icon="fa fa-search"
          (click)="directory_selected()"></button>
  <p-splitButton [model]="select_options"
                 label="{{'import-toolbar.button.select'|translate}}"
                 icon="fa fa-plus"
                 styleClass="ui-button-secondary"></p-splitButton>
  <button pButton
          icon="fa fa-eye"
          label="{{'import-toolbar.button.view-selections'|translate}}"
          (click)="show_selections()"></button>
  <button pButton
          icon="fa fa-upload"
          label="{{'import-toolbar.button.import'|translate}}"
          [disabled]="selected_count === 0"
          (click)="start_importing()"></button>
</p-toolbar>
