<p-sidebar *ngIf='selected_comic_files && selected_comic_files.length'
           [(visible)]='display'
           position='right'
           [style]='{width:"50%"}'
           [blockScroll]='true'
           (onHide)='hide.next(true)'
>
    <h2>{{'selected-comics-list.title'|translate:{comic_count: selected_comic_files.length} }}</h2>
    <div class="ui-g">
        <div class="ui-g-12">
            <p-splitButton id="selected-comic-file-actions"
                           [model]='actions'
                           [label]='"selected-comics-list.button.actions"|translate'
                           icon='fa fa-fw fa-bullhorn'
            ></p-splitButton>
        </div>
    </div>
    <p-scrollPanel [style]='{width:"100%",height:"100%"}'>
        <div class='ui-g'>
            <div class='ui-g-12'>
                <p-dataView [value]='selected_comic_files'
                            layout='grid'
                            [paginator]='true'
                            paginatorPosition='top'
                            [alwaysShowPaginator]='true'
                            [rows]='library_display.rows'
                >
                    <ng-template let-file
                                 pTemplate='gridItem'
                    >
                        <app-comic-file-grid-item [id]='"comic-file-grid-item-"+file.id'
                                                  [comic_file]='file'
                                                  [cover_size]='library_display.cover_size'
                                                  [same_height]='library_display.same_height'
                                                  [use_selected_class]="false"
                        ></app-comic-file-grid-item>
                    </ng-template>
                </p-dataView>
            </div>
        </div>
    </p-scrollPanel>
</p-sidebar>
