<div class="card">
  <p-table
    [value]="states"
    stripedRows
    paginator="true"
    [rows]="rows"
    sortMode="single"
  >
    <ng-template #header>
      <tr>
        <th pSortableColumn="name">
          <div class="flex items-center gap-2">
            {{ "dashboard.state-list.label.name" | translate }}
            <p-sortIcon field="name" />
          </div>
        </th>
        <th pSortableColumn="count">
          <div class="flex items-center gap-2">
            {{ "dashboard.state-list.label.comic-count" | translate }}
            <p-sortIcon field="count" />
          </div>
        </th>
      </tr>
    </ng-template>

    <ng-template #body let-state>
      <tr>
        <td>{{ state.name }}</td>
        <td>{{ state.count }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
