<div class='row w-100'>
  <app-menubar></app-menubar>
</div>
<div class='container-fluid pl-0 mx-0'>
  <app-busy-indicator></app-busy-indicator>
  <div *ngIf='alert_messages.length > 0'
    class='row justify-content-center'>
    <div *ngFor='let alert_message of alert_messages; let i = index'
      class='alert {{alert_message[1]}} w-75 text-center' role='alert'>
      {{alert_message[0]}} <a id='alert-message-dismiss' href='#'
        class='close' data-dismiss='alert' aria-label='close'
        (click)='clear_alert_message(i)'>&times;</a>
    </div>
  </div>
  <div class='row w-100'>
    <div class='col'>
      <router-outlet></router-outlet>
    </div>
  </div>
  <footer class='bg-light fixed-bottom page-footer font-small'>
    <div class='row'>
      <div class='col-sm-4 align-middle mx-3'>
        <strong>Comics:</strong> {{comic_count}}/{{read_count}}
      </div>
      <div class='col-md-4'>
        <div class='footer-copyright align-middle text-center'>Copyright
          &copy; 2017, 2018 The ComiXed Project Team</div>
      </div>
    </div>
  </footer>
</div>
