:host ::ng-deep #comixed-footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	z-index: 102;
	background-color: #eeeeee;
	color: #212121;
}

:host ::ng-deep .selected-comic {
  filter: opacity(50%);
  border: 1px solid 0xff0000;
}
