<div class='container w-100 mx-10 justify-content-center'>
  <div class='container'>
    <ngx-loading [show]='busy'></ngx-loading>
  </div>
  <nav class='navbar navbar-expand-lg navbar-light bg-light fixed-top'>
    <div class='container-fluid'>
      <div class='navbar-header'>
        <button class="navbar-toggler" type="button"
          data-toggle="collapse" data-target="#id-navbar-collapse"
          aria-controls="id-navbar-collapse" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class='navbar-brand'>ComixEd</a>
      </div>
      <div id='id-navbar-collapse' class='collapse navbar-collapse'>
        <ul class='nav navbar-nav'>
          <li *ngIf='!isAuthenticated()' class='nav-item'><a
            class='nav-link' [routerLink]='["login"]'>Login</a></li>
          <li class='nav-item'><a class='nav-link'
            [routerLink]='["home"]'>Home</a></li>
          <li class='nav-item dropdown'><a
            class="nav-link dropdown-toggle" href="#" id="comicDropdown"
            role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Comics</a>
            <div class="dropdown-menu" aria-labelledby="comicDropdown">
              <a class='dropdown-item' [routerLink]='["comics"]'>Library</a><a
                *ngIf='is_admin()' class='dropdown-item'
                [routerLink]='["import"]'>Import comics</a>
            </div></li>
          <li *ngIf='isAuthenticated()' class='nav-item'><a
            class='nav-link' [routerLink]='["account"]'>Account</a></li>
          <li *ngIf='isAuthenticated()' class='nav-item'><a
            class='nav-link' (click)='logout()'>Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class='row justify-content-center'>
    <div class='alert alert-dismissable {{alert_type}} w-75 text-center'
      role='alert' *ngIf='alert_message && alert_message.length > 0'>
      {{alert_message}} <a href='#' class='close' data-dismiss='alert'
        aria-label='close' (click)='clearErrorMessage()'>&times;</a>
    </div>
  </div>
  <div class='row m-10 justify-content-center'>
    <router-outlet></router-outlet>
  </div>
</div>
<footer class='bg-light fixed-bottom page-footer font-small'>
  <div class='row'>
    <div class='col-sm-4 align-middle mx-3'>
      <strong>Comics:</strong> {{comic_count}}/{{read_count}}
    </div>
    <div class='col-md-4'>
      <div class='footer-copyright align-middle text-center'>Copyright
        &copy; 2017, 2018 The ComixEd Project Team</div>
    </div>
  </div>
</footer>
