<nav class='navbar navbar-expand-lg navbar-light bg-light fixed-top'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <button class="navbar-toggler" type="button"
        data-toggle="collapse" data-target="#id-navbar-collapse"
        aria-controls="id-navbar-collapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class='navbar-brand'>ComixEd</a>
    </div>
    <div id='id-navbar-collapse' class='collapse navbar-collapse'>
      <ul class='nav navbar-nav'>
        <li *ngIf='!authenticated' class='nav-item'><a
          class='nav-link' [routerLink]='["login"]'>Login</a></li>
        <li *ngIf='authenticated' class='nav-item'><a
          (click)='logout()'>Logout</a></li>
        <li class='nav-item'><a class='nav-link'
          [routerLink]='["home"]'>Home</a></li>
        <li class='nav-item dropdown'><a
          class="nav-link dropdown-toggle" href="#" id="comicDropdown"
          role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Comics</a>
          <div class="dropdown-menu" aria-labelledby="comicDropdown">
            <a class='dropdown-item' [routerLink]='["comics"]'>Library</a><a
              class='dropdown-item' [routerLink]='["import"]'>Import
              comics</a>
          </div></li>
      </ul>
    </div>
  </div>
</nav>
<div class='container' style='margin-top: 50px'
  *ngIf='error_message && error_message.length > 0'>
  <div class='alert alert-error alert-dismissable' role='alert'>
    <a href='#' class='close' data-dismiss='alert' aria-label='close'
      (click)='clearErrorMessage()'>&times;</a> <strong>Error!</strong>
    {{error_message}}
  </div>
</div>
<router-outlet></router-outlet>
