<div
  *ngIf='comic'
  class='ui-g'>
  <div class='ui-g-3 ui-sm-6'>
    <p-card> <p-header>
    <h2>{{ title }}</h2>
    </p-header> <img
      [src]='get_cover_url()'
      [style.height]='"auto"'
      [style.width]='"100%"'> <p-footer></p-footer> </p-card>
  </div>
  <div class='ui-g-9 ui-sm-6'>
    <p-tabView
      [activeIndex]='current_tab'
      (onChange)='set_current_tab($event.index)'> <p-tabPanel
      header='Overview'> <app-comic-overview
      [comic]='comic'></app-comic-overview></p-tabPanel> <p-tabPanel header='Story'>
    <app-comic-story [comic]='comic'></app-comic-story></p-tabPanel> <p-tabPanel
      header='Reader'> <app-comic-reader
      [comic]='comic'
      [page_size]='page_size'
      (pageSize)='set_page_size($event)'
      [current_page]='current_page'
      (currentPage)='set_current_page($event)'></app-comic-reader></p-tabPanel> <p-tabPanel
      header='Credits'> <app-comic-credits [comic]='comic'></app-comic-credits></p-tabPanel>
    <p-tabPanel header='Pages'> <app-comic-pages
      [is_admin]='user.is_admin'
      [comic]='comic'></app-comic-pages></p-tabPanel> <p-tabPanel
      *ngIf='user.is_admin'
      header='ComicVine'> <app-comic-details-editor
      [comic]='comic'
      (update)='load_comic_details()'></app-comic-details-editor></p-tabPanel> </p-tabView>
  </div>
</div>