<div #container class="cx-width-100 cx-height-100 cx-padding-5">
  <h2>{{ "home.title.comics-by-year-and-publisher-chart" | translate }}</h2>
  @if ((data$ | async)?.value?.length > 0) {
  <ngx-charts-heat-map
    [view]="[chartWidth$ | async, chartHeight$ | async]"
    scheme="vivid"
    [results]="data$ | async"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
  ></ngx-charts-heat-map>
  }
  <div class="cx-horizontal-container">
    <mat-form-field class="cx-grow-0" appearance="fill">
      <mat-label>{{ "text.number-of-publishers" | translate }}</mat-label>
      <mat-select
        id="number-of-publishers"
        [value]="publishersToShow"
        [disabled]="publisherOptions.length === 0"
        (selectionChange)="onShowData(startYear, endYear, $event.value)"
      >
        @for (publisher of publisherOptions; track publisher; let publisherIndex
        = $index) {
        <mat-option [value]="publisherIndex + 1">
          {{ publisherIndex + 1 }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <div class="cx-horizontal-container">
      <mat-form-field class="cx-grow-0" appearance="fill">
        <mat-label>{{ "text.start-year" | translate }}</mat-label>
        <mat-select
          id="start-year"
          [value]="startYear"
          [disabled]="yearOptions.length === 0"
          (selectionChange)="
            onShowData($event.value, endYear, publishersToShow)
          "
        >
          @for (year of yearOptions; track year) {
          <mat-option [value]="year">
            {{ year }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="cx-grow-0" appearance="fill">
        <mat-label>{{ "text.end-year" | translate }}</mat-label>
        <mat-select
          id="end-year"
          [value]="endYear"
          [disabled]="yearOptions.length === 0"
          (selectionChange)="
            onShowData(startYear, $event.value, publishersToShow)
          "
        >
          @for (year of yearOptions; track year) {
          <mat-option [value]="year">
            {{ year }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
