<p-blockUI [target]='comicDetailsFormPanel'
           [blocked]='fetchingIssue||fetchingVolumes||scraping'></p-blockUI>
<p-progressBar *ngIf='fetchingIssue||fetchingVolumes||scraping'
               mode='indeterminate'></p-progressBar>
<p-panel #comicDetailsFormPanel
         [showHeader]='false'>
    <div *ngIf='!volumes.length'>
        <p-toolbar>
            <div class='ui-toolbar-group-left'>
                <button id='save-details-changes'
                        pButton
                        class='cx-action-button ui-button-success'
                        type='button'
                        [label]='"comic-details-editor.button.save-changes"|translate'
                        [disabled]='!comicDetailsForm.valid || !comicDetailsForm.dirty'
                        (click)='saveDetails()'></button>
                <button id='reset-details-changes'
                        pButton
                        class='cx-action-button ui-button-danger'
                        type='button'
                        [label]='"comic-details-editor.button.reset-changes"|translate'
                        [disabled]='!comicDetailsForm.dirty'
                        (click)='resetDetails()'></button>
            </div>
            <div class='ui-toolbar-group-right'>
                <p-splitButton id='fetch-volumes-button'
                               class='ui-button-secondary'
                               [label]='"comic-details-editor.button.fetch-volumes"|translate'
                               icon='fa fa-fw fa-search'
                               [model]='fetchOptions'
                               [disabled]='!comicDetailsForm.valid'></p-splitButton>
            </div>
        </p-toolbar>

        <form [formGroup]='comicDetailsForm'>
            <div class='ui-g'>
                <div class='ui-g-12'>
                    <div>
                        <div class='cx-input-label'>
                            <label for='comicvine-api-key'>{{'comic-details-editor.label.comicvine-api-key'|translate}}</label>
                        </div>
                        <p-inplace [active]='editingApiKey'
                                   (onActivate)='editingApiKey = true'>
                            <span pInplaceDisplay>{{apiKey || ('comic-details-editor.text.comicvine-api-key-placeholder'|translate)}}</span>
                            <span pInplaceContent>
                        <div class='ui-inputgroup'>
                            <input id='comicvine-api-key'
                                   formControlName='apiKey'/>
                            <button id='save-api-key'
                                    pButton
                                    type='button'
                                    class='ui-button-success'
                                    icon='fa fa-fw fa-save'
                                    [pTooltip]='"comic-details-editor.tooltip.save-api-key"|translate'
                                    [disabled]='!comicDetailsForm.controls["apiKey"].dirty'
                                    (click)='saveApiKey()'></button>
                            <button id='reset-api-key'
                                    pButton
                                    type='button'
                                    class='ui-button-danger'
                                    icon='fa fa-fw fa-undo'
                                    [pTooltip]='"comic-details-editor.tooltip.reset-api-key"|translate'
                                    [disabled]='!comicDetailsForm.controls["apiKey"].dirty'
                                    (click)='resetApiKey()'></button>
                        </div>
                    </span>
                        </p-inplace>
                    </div>
                </div>
                <div class='ui-g-12'>
                    <div class='cx-input-label'>
                        <label for='series-name'>{{'comic-details-editor.label.series-name'|translate}}</label>
                    </div>
                    <div>
                        <input id='series-name'
                               pInputText
                               class='cx-input-field'
                               formControlName='seriesName'/>
                        <div *ngIf='comicDetailsForm.controls.seriesName.errors?.required'
                             class='cx-form-validation-error-container'>
                            <span class='cx-form-validation-error'>{{'global.errors.form-field-required'|translate:{name: 'Series name'} }}</span>
                        </div>
                    </div>
                </div>
                <div class='ui-g-6'>
                    <div class='cx-input-label'>
                        <label for='volume-name'>{{'comic-details-editor.label.volume-name'|translate}}</label>
                    </div>
                    <div>
                        <input id='volume-name'
                               pInputText
                               class='cx-input-field'
                               formControlName='volumeName'/>
                        <div *ngIf='comicDetailsForm.controls.volumeName.errors?.required'
                             class='cx-form-validation-error-container'>
                            <span class='cx-form-validation-error'>{{'global.errors.form-field-required'|translate:{name: 'Volume name'} }}</span>
                        </div>
                    </div>
                    <div class='cx-input-label'>
                        <label for='issue-number'>{{'comic-details-editor.label.issue-number'|translate}}</label>
                    </div>
                    <div>
                        <input id='issue-number'
                               pInputText
                               class='cx-input-field'
                               formControlName='issueNumber'/>
                        <div *ngIf='comicDetailsForm.controls.issueNumber.errors?.required'
                             class='cx-form-validation-error-container'>
                            <span class='cx-form-validation-error'>{{'global.errors.form-field-required'|translate:{name: 'Issue #'} }}</span>
                        </div>
                    </div>
                </div>
                <div class='ui-g-6'>
                    <!-- TODO placeholder for filter widgets -->
                </div>
            </div>
        </form>
    </div>
    <div *ngIf='volumes.length'
         class='ui-g'>
        <div class='ui-g-12'>
            <app-volume-list [volumes]='volumes'
                             [comic]='comic'
                             [currentVolume]='currentVolume'
                             [currentIssue]='currentIssue'
                             [apiKey]='getApiKey()'
                             (volumeSelected)='volumeSelected($event)'
                             (issueSelected)='issueSelected($event)'
                             (cancelSelection)='selectionCancelled()'></app-volume-list>
        </div>
    </div>
</p-panel>