<p-blockUI [blocked]="fetchingIssue||fetchingVolumes||scraping"
           [target]="comicDetailsFormPanel"></p-blockUI>
<p-progressBar *ngIf="fetchingIssue||fetchingVolumes||scraping"
               mode="indeterminate"></p-progressBar>
<p-panel #comicDetailsFormPanel
         [showHeader]="false">
  <div *ngIf="!volumes.length">
    <p-toolbar>
      <div class="ui-toolbar-group-left">
        <button (click)="saveDetails()"
                [disabled]="!comicDetailsForm.valid || !comicDetailsForm.dirty"
                [label]="'comic-details-editor.button.save-changes'|translate"
                class="cx-action-button ui-button-success"
                id="save-details-changes"
                pButton
                type="button"></button>
        <button (click)="resetDetails()"
                [disabled]="!comicDetailsForm.dirty"
                [label]="'comic-details-editor.button.reset-changes'|translate"
                class="cx-action-button ui-button-danger"
                id="reset-details-changes"
                pButton
                type="button"></button>
      </div>
      <div class="ui-toolbar-group-right">
        <button (click)="skipCurrentComic()"
                *ngIf="multiComicMode"
                [label]="'comic-details-editor.button.skip-comic'|translate"
                class="cx-action-button ui-button-danger"
                icon="fa fa-fw fas fa-step-forward"
                pButton
                type="button"></button>
        <p-splitButton [disabled]="!comicDetailsForm.valid"
                       [label]="(skipCache ? 'comic-details-editor.option.fetch.skip-cache' : 'comic-details-editor.option.fetch.with-cache')|translate"
                       [model]="fetchOptions"
                       class="ui-button-secondary"
                       icon="fa fa-fw fa-search"
                       id="fetch-volumes-button"
                       (onClick)="doFetchVolumes()"></p-splitButton>
      </div>
    </p-toolbar>
    <form [formGroup]="comicDetailsForm">
      <div class="ui-g">
        <div class="ui-g-12">
          <div>
            <div class="cx-input-label">
              <label for="comicvine-api-key">{{"comic-details-editor.label.comicvine-api-key"|translate}}</label>
            </div>
            <p-inplace (onActivate)="editingApiKey = true"
                       [active]="editingApiKey">
              <span pInplaceDisplay>{{apiKey || ("comic-details-editor.text.comicvine-api-key-placeholder"|translate)}}</span>
              <span pInplaceContent>
                        <div class="ui-inputgroup">
                            <input formControlName="apiKey"
                                   id="comicvine-api-key"/>
                            <button (click)="saveApiKey()"
                                    [disabled]="!comicDetailsForm.controls['apiKey'].dirty"
                                    [pTooltip]="'comic-details-editor.tooltip.save-api-key'|translate"
                                    class="ui-button-success"
                                    icon="fa fa-fw fa-save"
                                    id="save-api-key"
                                    pButton
                                    type="button"></button>
                            <button (click)="resetApiKey()"
                                    [disabled]="!comicDetailsForm.controls['apiKey'].dirty"
                                    [pTooltip]="'comic-details-editor.tooltip.reset-api-key'|translate"
                                    class="ui-button-danger"
                                    icon="fa fa-fw fa-undo"
                                    id="reset-api-key"
                                    pButton
                                    type="button"></button>
                        </div>
                    </span>
            </p-inplace>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="cx-input-label">
            <label for="series-name">{{"comic-details-editor.label.series-name"|translate}}</label>
          </div>
          <div>
            <input class="cx-input-field"
                   formControlName="seriesName"
                   id="series-name"
                   pInputText/>
            <div *ngIf="comicDetailsForm.controls.seriesName.errors?.required"
                 class="cx-form-validation-error-container">
              <span class="cx-form-validation-error">{{"global.errors.form-field-required"|translate:{name: "Series name"} }}</span>
            </div>
          </div>
        </div>
        <div class="ui-g-6">
          <div class="cx-input-label">
            <label for="volume-name">{{"comic-details-editor.label.volume-name"|translate}}</label>
          </div>
          <div>
            <input class="cx-input-field"
                   formControlName="volumeName"
                   id="volume-name"
                   pInputText/>
            <div *ngIf="comicDetailsForm.controls.volumeName.errors?.required"
                 class="cx-form-validation-error-container">
              <span class="cx-form-validation-error">{{"global.errors.form-field-required"|translate:{name: "Volume name"} }}</span>
            </div>
          </div>
          <div class="cx-input-label">
            <label for="issue-number">{{"comic-details-editor.label.issue-number"|translate}}</label>
          </div>
          <div>
            <input class="cx-input-field"
                   formControlName="issueNumber"
                   id="issue-number"
                   pInputText/>
            <div *ngIf="comicDetailsForm.controls.issueNumber.errors?.required"
                 class="cx-form-validation-error-container">
              <span class="cx-form-validation-error">{{"global.errors.form-field-required"|translate:{name: "Issue #"} }}</span>
            </div>
          </div>
        </div>
        <div class="ui-g-6">
          <div class="cx-input-label">
            <label for="max-records">{{"comic-details-editor.label.max-records"|translate}}</label>
          </div>
          <div>
            <p-dropdown [options]="maxRecordsOptions"
                        (onChange)="changedMaxRecords($event.value)"
                        formControlName="maxRecords"></p-dropdown>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="volumes.length"
       class="ui-g">
    <div class="ui-g-12">
      <app-volume-list (cancelSelection)="selectionCancelled()"
                       (issueSelected)="issueSelected($event)"
                       (volumeSelected)="volumeSelected($event)"
                       [apiKey]="apiKey"
                       [comic]="comic"
                       [currentIssue]="currentIssue"
                       [currentVolume]="currentVolume"
                       [volumes]='volumes'></app-volume-list>
    </div>
  </div>
</p-panel>
