@import '~styles';

#cx-scraping-issue-detail-content {
}

.mat-column-matchability {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}

.mat-column-publisher {
  width: $cx-column-large;
  max-width: $cx-column-large;
  resize: none;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-column-startYear {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}

.mat-column-issueCount {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}

.mat-column-action {
  width: $cx-column-small;
  max-width: $cx-column-small;
  resize: none;
}
