html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// header
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-weight: bold !important;
}

// colors
$cx-selected-comic-background-color: #0033cc;
$cx-selected-comic-color: #ffffff;

// component sizes

.cx-width-10 {
  width: 10% !important;
}

.cx-width-20 {
  width: 20% !important;
}

.cx-width-25 {
  width: 25% !important;
}

.cx-width-max-25 {
  max-width: 25% !important;
}

.cx-width-33 {
  width: 33% !important;
}

.cx-width-34 {
  width: 34% !important;
}

.cx-width-50 {
  width: 50% !important;
}

.cx-width-75 {
  width: 75% !important;
}

.cx-width-80 {
  width: 80% !important;
}

.cx-width-100 {
  width: 100% !important;
}

.cx-height-100 {
  height: 100%;
}

.cx-top-0 {
  top: 0px;
}

.cx-overflow-y-scroll {
  overflow-y: scroll;
}

// positioning

.cx-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.286);
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

// padding

.cx-padding-left-5 {
  padding-left: 5px !important;
}

.cx-padding-left-15 {
  padding-left: 15px !important;
}

.cx-padding-left-25 {
  padding-left: 25px !important;
}

.cx-padding-right-0 {
  padding-right: 0px !important;
}

.cx-padding-right-5 {
  padding-right: 5px !important;
}

.cx-padding-right-15 {
  padding-right: 15px !important;
}

.cx-padding-right-50 {
  padding-right: 50px !important;
}

.cx-padding-top-5 {
  padding-top: 5px !important;
}

.cx-padding-bottom-5 {
  padding-bottom: 5px !important;
}

.cx-padding-2 {
  padding: 2px;
}

.cx-padding-5 {
  padding: 5px;
}

.cx-border-primary-1 {
  border-style: solid;
  border-color: var(--primary-color);
  border-width: 1px;
}

// margins

.cx-margin-left-5 {
  margin-left: 5px !important;
}

.cx-margin-right-5 {
  margin-right: 5px !important;
}

.cx-margin-right-50 {
  margin-right: 50px !important;
}

.cx-margin-bottom-50px {
  margin-bottom: 50px !important;
}

.cx-margin-bottom-100px {
  margin-bottom: 100px !important;
}

.cx-margin-2 {
  margin: 2px;
}

// table column widths

$cx-column-small: 50px;
$cx-column-medium: 150px;
$cx-column-large: 325px;

// table rows

.cx-selected-row {
  background-color: var(--accent-lighter-color);
  color: var(--text-accent-lighter-color);
}

// text layout

.cx-text-nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// component position

.cx-centered {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cx-centered-horiz {
  display: flex;
  justify-content: center;
  align-items: center;
}

// content display

.cx-spacer {
  flex: 1 1 auto;
}

.cx-action-button-container-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cx-detail-label {
  width: 200px;
  font-weight: bold;
  font-size: larger;
}

.cx-float-left {
  float: left;
}

.cx-align-content-center {
  text-align: center !important;
}

.cx-align-text-left {
  text-align: left !important;
}

.cx-align-text-right {
  text-align: right !important;
}

.cx-comic-detail-card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.cx-vertical-scrolling {
  overflow-y: scroll;
}

// flexible containers

.cx-horizontal-container {
  display: flex;
  flex-direction: row;
}

.cx-vertical-container {
  display: flex;
  flex-direction: column;
}

.cx-grow-0 {
  flex-grow: 0;
}

.cx-grow-1 {
  flex-grow: 1;
}

// buttons

.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
  overflow-y: hidden !important;
}

.cx-toolbar-button {
  margin-right: 5px !important;
}

.cx-action-button {
  min-width: 100px !important;
  padding-bottom: 5px !important;
  overflow-x: hidden !important;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// alerts

.cx-info-alert {
  background: var(--accent-color);
  color: var(--text-accent-color);

  button {
    background: var(--accent-lighter-color);
    color: var(--text-accent-lighter-color);
    font-weight: bold;
  }
}

.cx-error-alert {
  background: var(--warn-color);
  color: var(--text-warn-color);

  button {
    background: var(--warn-lighter-color);
    color: var(--text-warn-lighter-color);
    font-weight: bold;
  }
}

.cx-primary-light-background {
  background: var(--primary-lighter-color) !important;
  color: var(--text-primary-lighter-color) !important;
}

.cx-primary-dark-background {
  background: var(--primary-darker-color) !important;
  color: var(--text-primary-darker-color) !important;
}

.cx-accent-light-background {
  background-color: var(--accent-lighter-color);
  color: var(--text-accent-lighter-color);
}

.cx-accent-dark-background {
  background-color: var(--accent-darker-color);
  color: var(--text-accent-darker-color);
}
