@import '~colors.scss';

:host .cx-toolbar-login-name-link {
  color: $cx-toolbar-text-color;
  margin-right: 10px;
}

:host .cx-user-icon {
  color: $cx-toolbar-text-color;
  margin-right: 2px;
}

::ng-deep .ui-menu {
  width: max-content;
}
