<mat-toolbar class="cx-primary-light-background">
  <button
    id="return-to-list-button"
    mat-icon-button
    color="warn"
    [matTooltip]="'reading-list.tooltip.return-to-list' | translate"
    routerLink="/lists/reading/all"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div class="cx-spacer"></div>
  <button
    id="remove-selected-entries"
    mat-icon-button
    color="warn"
    [disabled]="!selectedEntries.length"
    [matTooltip]="'reading-list.tooltip.remove-comics' | translate"
    (click)="onRemoveEntries()"
  >
    <mat-icon>clear</mat-icon>
  </button>
  <button
    id="reset-changes-button"
    mat-icon-button
    color="primary"
    [disabled]="!readingListForm.valid || !readingListForm.dirty"
    [matTooltip]="'reading-list.tooltip.reset-reading-list' | translate"
    (click)="onReset()"
  >
    <mat-icon>undo</mat-icon>
  </button>
  <button
    id="download-button"
    mat-icon-button
    color="accent"
    [disabled]="!readingList?.id"
    [matTooltip]="'reading-list.tooltip.download-file' | translate"
    (click)="onDownload()"
  >
    <mat-icon>download</mat-icon>
  </button>
  <button
    id="save-changes-button"
    mat-icon-button
    color="primary"
    [disabled]="!readingListForm.valid || !readingListForm.dirty"
    [matTooltip]="'reading-list.tooltip.save-reading-list' | translate"
    (click)="onSave()"
  >
    <mat-icon>save</mat-icon>
  </button>
  <button
    id="delete-reading-list-button"
    mat-icon-button
    color="warn"
    [matTooltip]="'reading-list.tooltip.delete-reading-list' | translate"
    (click)="onDeleteReadingList()"
  >
    <mat-icon>delete</mat-icon>
  </button>
</mat-toolbar>

<mat-card *ngIf="!!readingList">
  <mat-card-title>
    {{ readingList.name || "reading-list.text.no-name" | translate }}
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="readingListForm">
      <mat-form-field class="cx-width-100" required>
        <input
          id="reading-list-name-input"
          matInput
          formControlName="name"
          [placeholder]="'reading-list.placeholder.name' | translate"
        />
      </mat-form-field>
      <mat-form-field class="cx-width-100">
        <input
          id="reading-list-description-input"
          matInput
          formControlName="summary"
          [placeholder]="'reading-list.placeholder.summary' | translate"
        />
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
<cx-comic-list-view
  *ngIf="!!readingList"
  [comicBooks]="readingList.comicBooks"
  (selectedEntries)="onSelectionChanged($event)"
></cx-comic-list-view>
