<p-menubar [model]='menu_items'
           [autoDisplay]='false'>
  <div class='ui-toolbar-group-right'><span *ngIf='user?.email'><b>{{"iconbar.user-link"|translate}}: </b><a [routerLink]='["account"]'>{{ user.email }}</a></span>
    <button pButton
            type='button'
            *ngIf='!user.authenticated'
            type='button'
            icon='fa fa-sign-in'
            label='{{"button.login"|translate}}'
            class='ui-button-success'
            (click)='do_login()'></button>
    <button pButton
            type='button'
            *ngIf='user.authenticated'
            type='button'
            icon='fa fa-sign-out'
            label='{{"button.logout"|translate}}'
            class='ui-button-danger'
            (click)='do_logout()'></button>
  </div>
</p-menubar>
