<div class='row'>
  <div class='col-md-4'>
    <pagination-controls (pageChange)='current_page = $event'></pagination-controls>
  </div>
  <div class='col-md-4'>
    <select #sizeElem (change)='setPageSize(sizeElem.value)'>
      <option *ngFor='let option of page_sizes' [value]='option.id'>{{option.label}}</option>
    </select>
  </div>
  <!-- sort options -->
  <div class='col-md-2'>
    <select #selectElem (change)='setSortOption(selectElem.value)'>
      <option *ngFor='let option of sort_options' [value]='option.id'>{{option.label}}</option>
    </select>
  </div>
  <!-- search box -->
  <div class='col-md-2'>
    <input [(ngModel)]='title_search'
      placeholder='enter search terms here'>
  </div>
</div>
<div id='display_comic_details' class='modal fade' role='dialog'>
  <div class='modal-dialog modal-lg'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h4 class='modal-title'>{{getTitleTextFor(current_comic)}}</h4>
      </div>
      <div class='modal-body'>
        <div class='media'>
          <div class='media-left media-center'>
            <img src='{{getImageURL(current_comic)}}'
              class='img-thumbnail' width='256'>
          </div>
          <div class='media-body'>
            <h5 class='media-heading'>{{current_comic.title}}</h5>
            <p class='text-important small'>{{current_comic.summary}}</p>
            <span class='text-muted'><strong>Pages:</strong>
              {{current_comic.page_count}}</span><br /> <span
              *ngIf='current_comic.cover_date !=null' class='text-muted'><strong>Published
                on</strong> {{current_comic.cover_date|date:'MM/yyyy'}}<br /> </span> <span
              *ngIf='current_comic.last_read_date != null'
              class='text-muted'> <strong>Last read on</strong>
              {{current_comic.last_read_date | date:'MM/dd/yyyy'}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='row' *ngIf='title_search && title_search.length > 0'>
  <div class='col-md-12 text-center'>
    <h2>Comics Containing "{{title_search}}" ({{( comics
      |series_filter : title_search).length}} Total)...</h2>
  </div>
</div>
<div class='row'>
  <app-comic-list-entry
    *ngFor='let comic of comics | series_filter : title_search | paginate: { itemsPerPage: page_size, currentPage: current_page }'
    [comic]='comic' (onComicSelected)='handleComicClicked($event)'></app-comic-list-entry>
</div>
