<div class='p-1 m-1' [class.border-0]='file_details.selected'
  [class.comic-selected]='file_details.selected'>
  <div class='card'>
    <img class='card-img-top img-fluid' src='{{cover_url}}'
      [style.height]='"" + cover_size + "px"' [style.width]='"auto"'>
    <div class='card-img-overlay'>
      <div class='card-img-overlay-content'>
        <div class='row w-100'>
          <span (click)='toggle_selected()'
            class='text-nowrap text-truncate'><i class='fa'
            [class.fa-plus-circle]='!file_details.selected'
            [class.fa-minus-circle]='file_details.selected'></i><span
            *ngIf='file_details.selected'>Deselect</span> <span
            *ngIf='!file_details.selected'>Select</span></span>
        </div>
        <div class='row w-100'>
          <span (click)='on_clicked()' class='text-nowrap text-truncate'><i
            class='fa fa-info-circle'></i>Details</span>
        </div>
      </div>
    </div>
  </div>
</div>