<div class='card px-1 pb-1 border-0'>
  <div class='card-body comic-cover-container'>
    <img class='card-img-bottom img-fluid' src='{{cover_url}}'
      [style.height]='"" + cover_size + "px"' [style.width]='"auto"'>
    <div class='comic-cover-overlay bg-info text-white'>
      <div class='comic-cover-overlay-text h-100 w-100'>
        <dl>
          <dt>Filename:</dt>
          <dd>{{file_details.base_filename}}</dd>
          <dt>Size:</dt>
          <dd>{{file_details.size | number}} bytes</dd>
        </dl>
      </div>
    </div>
  </div>
</div>