<mat-accordion multi>
  <mat-expansion-panel
    [disabled]="
      !comic.detail.description || comic.detail.description.length === 0
    "
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ "comic-book.label.description" | translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div [innerHTML]="comic.detail.description"></div>
  </mat-expansion-panel>
  <mat-expansion-panel [disabled]="credits.length === 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ "comic-book.label.credits" | translate: { count: credits.length } }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="cx-detail-card-container cx-width-100">
      <div *ngFor="let credit of credits" class="cx-grow-20p">
        <cx-comic-detail-card
          [comic]="comic.detail"
          [title]="credit.value"
          [subtitle]="credit.type"
          imageUrl="/assets/img/credit.png"
        ></cx-comic-detail-card>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel [disabled]="characters.length === 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{
          "comic-book.label.characters"
            | translate: { count: characters.length }
        }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="cx-detail-card-container cx-width-100">
      <div *ngFor="let character of characters" class="cx-grow-20p">
        <cx-comic-detail-card
          [comic]="comic.detail"
          [title]="character.value"
          [routerLink]="[
            '/library',
            'collections',
            'characters',
            character.value
          ]"
          imageUrl="/assets/img/character.png"
        ></cx-comic-detail-card>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel [disabled]="teams.length === 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ "comic-book.label.teams" | translate: { count: teams.length } }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="cx-detail-card-container cx-width-100">
      <div *ngFor="let team of teams" class="cx-grow-20p">
        <cx-comic-detail-card
          [comic]="comic.detail"
          [title]="team.value"
          [routerLink]="['/library', 'collections', 'teams', team.value]"
          imageUrl="/assets/img/team.png"
        ></cx-comic-detail-card>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel [disabled]="locations.length === 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{
          "comic-book.label.locations" | translate: { count: locations.length }
        }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="cx-detail-card-container cx-width-100">
      <div *ngFor="let location of locations" class="cx-grow-20p">
        <cx-comic-detail-card
          [comic]="comic.detail"
          [title]="location.value"
          [routerLink]="[
            '/library',
            'collections',
            'locations',
            location.value
          ]"
          imageUrl="/assets/img/location.png"
        ></cx-comic-detail-card>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel [disabled]="stories.length === 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ "comic-book.label.stories" | translate: { count: stories.length } }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="cx-detail-card-container cx-width-100">
      <div *ngFor="let story of stories" class="cx-grow-20p">
        <cx-comic-detail-card
          [comic]="comic.detail"
          [title]="story.value"
          [routerLink]="['/library', 'collections', 'stories', story.value]"
          imageUrl="/assets/img/story.png"
        ></cx-comic-detail-card>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
