<mat-accordion multi>
  <mat-expansion-panel
    [disabled]="!comic.description || comic.description.length === 0"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ "comic-book.label.description" | translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div [innerHTML]="comic.description"></div>
  </mat-expansion-panel>
  <mat-expansion-panel [disabled]="comic.credits.length === 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{
          "comic-book.label.credits"
            | translate: { count: comic.credits.length }
        }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="cx-detail-card-container cx-width-100">
      <div
        *ngFor="let credit of comic.credits"
        fxFlex.gt-md="20%"
        fxFlex.md="25%"
        fxFlex.lg-md="100%"
      >
        <cx-comic-detail-card
          [title]="credit.name"
          [subtitle]="credit.role"
          imageUrl="/assets/img/credit.png"
        ></cx-comic-detail-card>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel [disabled]="comic.characters.length === 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{
          "comic-book.label.characters"
            | translate: { count: comic.characters.length }
        }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="cx-detail-card-container cx-width-100">
      <div
        *ngFor="let character of comic.characters"
        fxFlex.gt-md="20%"
        fxFlex.md="25%"
        fxFlex.lg-md="100%"
      >
        <cx-comic-detail-card
          [title]="character"
          [routerLink]="['/library', 'collections', 'characters', character]"
          imageUrl="/assets/img/character.png"
        ></cx-comic-detail-card>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel [disabled]="comic.teams.length === 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{
          "comic-book.label.teams" | translate: { count: comic.teams.length }
        }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="cx-detail-card-container cx-width-100">
      <div
        *ngFor="let team of comic.teams"
        fxFlex.gt-md="20%"
        fxFlex.md="25%"
        fxFlex.lg-md="100%"
      >
        <cx-comic-detail-card
          [title]="team"
          [routerLink]="['/library', 'collections', 'teams', team]"
          imageUrl="/assets/img/team.png"
        ></cx-comic-detail-card>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel [disabled]="comic.locations.length === 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{
          "comic-book.label.locations"
            | translate: { count: comic.locations.length }
        }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="cx-detail-card-container cx-width-100">
      <div
        *ngFor="let location of comic.locations"
        fxFlex.gt-md="20%"
        fxFlex.md="25%"
        fxFlex.lg-md="100%"
      >
        <cx-comic-detail-card
          [title]="location"
          [routerLink]="['/library', 'collections', 'locations', location]"
          imageUrl="/assets/img/location.png"
        ></cx-comic-detail-card>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel [disabled]="comic.stories.length === 0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{
          "comic-book.label.stories"
            | translate: { count: comic.stories.length }
        }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="cx-detail-card-container cx-width-100">
      <div
        *ngFor="let story of comic.stories"
        fxFlex.gt-md="20%"
        fxFlex.md="25%"
        fxFlex.lg-md="100%"
      >
        <cx-comic-detail-card
          [title]="story"
          [routerLink]="['/library', 'collections', 'stories', story]"
          imageUrl="/assets/img/story.png"
        ></cx-comic-detail-card>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
