<mat-card class="cx-width-100">
  <mat-card-title *ngIf="!!page">{{ page?.filename }}</mat-card-title>
  <mat-card-content>
    <div class="cx-detail-card cx-padding-2 cx-margin-2">
      <img
        [src]="imageUrl"
        [alt]="imageUrl"
        [style.width]="'100%'"
        [style.height]="'auto'"
        [class.blocked-hash]="page?.blocked"
        [class.deleted-page]="page?.deleted"
        (contextmenu)="onContextMenu($event)"
      />
    </div>
  </mat-card-content>
  <mat-card-footer *ngIf="page?.blocked">
    <mat-icon [matTooltip]="'comic-book.tooltip.blocked-hash' | translate">
      block
    </mat-icon>
    <mat-icon *ngIf="page?.deleted">
      <mat-icon [matTooltip]="'comic-book.tooltip.deleted-page' | translate">
        deleted
      </mat-icon>
    </mat-icon>
  </mat-card-footer>
</mat-card>
