<p-toolbar>
  <div class='ui-toolbar-group-left'>
    <button *ngIf='isAdmin'
            pButton
            type='button'
            [style]='{ float: "right" }'
            label='{{"button.new-user"|translate}}'
            icon='fa fa-fw fa-user-plus'
            (click)='setNewUser()'></button>
  </div>
  <div class='ui-toolbar-group-right'>

  </div>
</p-toolbar>

<div *ngIf='current'
     id='user-editor-container'>
    <h2>{{current?.email || "user-details.title.new-user"|translate}}</h2>
    <app-user-details-editor *ngIf='current'
                             [user]='current'
                             [isAdmin]='isAdmin'
                             (save)='saveUser($event)'></app-user-details-editor>
</div>

<p-table [loading]='fetching'
         [value]='users'
         [rows]='10'
         [autoLayout]='true'
         [paginatorPosition]='"both"'
         [paginator]='true'
         selectionMode='single'
         (onRowSelect)='setCurrentUser($event.data)'
         (onRowUnselect)='setCurrentUser(null)'>
  <ng-template pTemplate='header'>
    <tr>
      <th id='user-list-action'></th>
      <th id='user-list-email'>{{'user-details.label.email-address'|translate}}</th>
      <th id='user-list-roles'>{{'user-details.label.roles'|translate}}</th>
      <th id='user-list-member-since'>{{'user-details.label.member-since'|translate}}</th>
      <th id='user-list-last-logged-in'>{{'user-details.label.last-logged-on'|translate}}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate='body'
               let-user>
    <tr [pSelectableRow]='user'>
      <td>
        <button pButton
                type='button'
                icon='fa fa-fw fa-user-times'
                pTooltip='{{(user.id === loggedInUser.id ? "users-page.text.cant-delete-yourself" : "users-page.text.delete-user")|translate}}'
                (click)='deleteUser(user)'></button>
      </td>
      <td>{{user.email}}</td>
      <td>
        <span *ngFor='let role of user.roles'>[{{role.name}}]</span>
      </td>
      <td>{{user.first_login_date|date: 'medium'}}</td>
      <td>{{user.last_login_date|date: 'medium'}}</td>
    </tr>
  </ng-template>
</p-table>
