@import 'styles';

.mat-column-batch-name {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}

.mat-column-step-name {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}

.mat-column-started {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}

.mat-column-processed {
  width: $cx-column-smallish;
  max-width: $cx-column-smallish;
  resize: none;
}

.mat-column-total {
  width: $cx-column-smallish;
  max-width: $cx-column-smallish;
  resize: none;
}

.mat-column-progress {
}
