<h2>{{ "processing-status-page.page-title" | translate }}</h2>
<div *ngIf="importing" class="cx-width-100">
  <div
    *ngFor="let batch of batches"
    class="
      cx-width-75
      cx-margin-auto
      cx-border-primary-5
      cx-padding-50
      cx-margin-bottom-5
    "
  >
    <h3>{{ batch.batchName }}</h3>
    <h4>
      {{ "comic-files.processing-comics." + batch.stepName | translate }}
    </h4>
    <h4>
      {{
        "comic-files.processing-comics.subtitle"
          | translate
            : {
                total: batch.total,
                processed: batch.processed,
                percentage:
                  (batch.processed / batch.total) * 100 | number: "1.0-2"
              }
      }}
    </h4>
    <mat-progress-bar
      mode="determinate"
      [value]="(batch.processed / batch.total) * 100"
    ></mat-progress-bar>
  </div>
</div>

<br />

<div class="cx-width-75 cx-margin-auto cx-border-primary-1 cx-padding-50">
  <h4>{{ "processing-status-page.text.note-title" | translate }}</h4>
  <p>
    {{ "processing-status-page.text.processing-description" | translate }}
  </p>
  <p>
    {{ "processing-status-page.text.how-to-start-processing" | translate }}
  </p>
</div>
