<h2>{{ "processing-status-page.page-title" | translate }}</h2>

<mat-paginator
  class="cx-height-100"
  showFirstLastButtons="true"
  [pageIndex]="queryParameterService.pageIndex$ | async"
  [pageSize]="queryParameterService.pageSize$ | async"
  [pageSizeOptions]="queryParameterService.pageSizeOptions"
  (page)="
    queryParameterService.onPageChange(
      $event.pageSize,
      $event.pageIndex,
      $event.previousPageIndex
    )
  "
></mat-paginator>

<mat-table
  [dataSource]="dataSource"
  matSort
  [matSortActive]="queryParameterService.sortBy$ | async"
  [matSortDirection]="queryParameterService.sortDirection$ | async"
  (matSortChange)="
    queryParameterService.onSortChange($event.active, $event.direction)
  "
>
  <ng-container matColumnDef="step-name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ "comic-files.processing-comics.header.step-name" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span
        class="cx-width-100 cx-text-nowrap"
        [matTooltip]="
          'comic-files.processing-comics.' + entry.stepName | translate
        "
      >
        {{ "comic-files.processing-comics." + entry.stepName | translate }}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="processed">
    <mat-header-cell *matHeaderCellDef>
      {{ "comic-files.processing-comics.header.processed" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">
        {{ entry.processed }}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="total">
    <mat-header-cell *matHeaderCellDef>
      {{ "comic-files.processing-comics.header.total" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">
        {{ entry.total }}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="progress">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ "comic-files.processing-comics.header.progress" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">
        <mat-progress-bar
          mode="determinate"
          [value]="entry.progress * 100.0"
        ></mat-progress-bar>
      </span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">
      {{ "comic-files.processing-comics.text.no-records-found" | translate }}
    </td>
  </tr>
</mat-table>
