<mat-card *ngIf="file" class="cx-width-100">
  <mat-card-title class="cx-text-nowrap" [matTooltip]="file.baseFilename">
    {{ file.baseFilename }}
  </mat-card-title>
  <mat-card-content>
    <div
      class="cx-detail-card cx-padding-2 cx-margin-2"
      [class.cx-detail-card-selected]="selected"
    >
      <img
        loading="lazy"
        [src]="file | comicFileCoverUrl"
        [alt]="file | comicFileCoverUrl"
        [style.width]="'100%'"
        [style.height]="'auto'"
        (click)="onSelectFile()"
        (contextmenu)="onContextMenu($event)"
      />
    </div>
  </mat-card-content>
  <mat-card-footer>
    <div class="cx-width-100 cx-text-nowrap">
      {{
        "comic-files.text.file-size"
          | translate: { size: file.size | number: "1.0" }
      }}
    </div>
  </mat-card-footer>
</mat-card>
