<h2>
  {{
    "collections.publisher-detail.page-title"
      | translate: { name: name, count: this.dataSource.data.length }
  }}
</h2>

<mat-toolbar class="cx-primary-light-background cx-width-100">
  <mat-form-field class="cx-width-50" appearance="standard">
    <input
      matInput
      #filterInput
      id="volume-search-text-input"
      [placeholder]="
        'collections.publisher-detail.placeholder.filter-series' | translate
      "
      (keyup)="dataSource.filter = filterInput.value"
    />
  </mat-form-field>
  <div class="cx-spacer"></div>
  <mat-paginator
    showFirstLastButtons
    class="cx-primary-light-background cx-height-100"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="pageOptions"
    (page)="
      onPageChange($event.pageSize, $event.pageIndex, $event.previousPageIndex)
    "
  ></mat-paginator>
</mat-toolbar>

<mat-table
  [dataSource]="dataSource"
  matSort
  [matSortActive]="sortBy"
  [matSortDirection]="sortDirection"
  (matSortChange)="onSortChange($event.active, $event.direction)"
>
  <ng-container matColumnDef="series">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "collections.publisher-detail.label.series-name" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">{{ entry.name }}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="volume">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "collections.publisher-detail.label.volume" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">{{ entry.volume }}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="total-issues">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "collections.publisher-detail.label.total-issues" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">{{ entry.totalIssues }}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="in-library">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "collections.publisher-detail.label.in-library" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">
        {{ entry.inLibrary }}
      </span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns"
    [routerLink]="[
      '/library/collections/publishers',
      this.name,
      'series',
      row.name,
      'volumes',
      row.volume
    ]"
  ></mat-row>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">
      {{ "collections.publisher-detail.text.no-detail-found" | translate }}
    </td>
  </tr>
</mat-table>
