<mat-toolbar *ngIf="!!comic" class="cx-primary-light-background">
  <button
    id="previous-comic-button"
    class="cx-toolbar-button"
    mat-icon-button
    color="primary"
    [matTooltip]="'comic-book.tooltip.go-to-previous-comic' | translate"
    [disabled]="!comic.previousIssueId"
    [routerLink]="['/comics', comic.previousIssueId]"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button
    id="next-comic-button"
    class="cx-toolbar-button"
    mat-icon-button
    [disabled]="!comic.nextIssueId"
    color="primary"
    [matTooltip]="'comic-book.tooltip.go-to-next-comic' | translate"
    [routerLink]="['/comics', comic.nextIssueId]"
  >
    <mat-icon>arrow_forward</mat-icon>
  </button>
  <div class="cx-spacer"></div>
  <button
    id="update-comic-info-button"
    class="cx-toolbar-button"
    mat-icon-button
    color="warn"
    [matTooltip]="'comic-book.tooltip.update-comic-info' | translate"
    [disabled]="!isAdmin"
    (click)="onUpdateComicInfo()"
  >
    <mat-icon>sync</mat-icon>
  </button>
  <button
    id="download-comic-button"
    class="cx-toolbar-button"
    mat-icon-button
    color="primary"
    [matTooltip]="'comic-book.tooltip.download-comic' | translate"
  >
    <mat-icon>arrow_downward</mat-icon>
  </button>
  <button
    *ngIf="!isRead"
    id="mark-as-read-button"
    class="cx-toolbar-button"
    mat-icon-button
    color="primary"
    [matTooltip]="'comic-book.tooltip.mark-read' | translate"
    (click)="setReadState(true)"
  >
    <mat-icon>turned_in_not</mat-icon>
  </button>
  <button
    *ngIf="isRead"
    id="mark-as-unread-button"
    class="cx-toolbar-button"
    mat-icon-button
    color="primary"
    [matTooltip]="'comic-book.tooltip.mark-unread' | translate"
    (click)="setReadState(false)"
  >
    <mat-icon>turned_in</mat-icon>
  </button>
</mat-toolbar>
<mat-card *ngIf="!!comic">
  <mat-card-title>{{ comic | comicTitle }}</mat-card-title>
  <mat-card-content>
    <div class="cx-width-100 comic-details-container">
      <div class="cx-padding-left-5">
        <cx-comic-page
          [imageUrl]="comic.pages[pageIndex] | comicPageUrl"
          [pageSize]="pageSize"
        ></cx-comic-page>
        <div class="cx-width-100 cx-align-content-center">
          <button
            mat-icon-button
            color="primary"
            (click)="pageIndex = pageIndex - 1"
            [disabled]="pageIndex === 0"
            [matTooltip]="
              'comic-book.tooltip.show-previous-comic-page' | translate
            "
          >
            <mat-icon>navigate_before</mat-icon>
          </button>
          {{
            "comic-book.label.page-title"
              | translate: { which: pageIndex + 1, count: comic.pages.length }
          }}
          <button
            mat-icon-button
            color="primary"
            (click)="pageIndex = pageIndex + 1"
            [disabled]="pageIndex === comic.pages.length - 1"
            [matTooltip]="'comic-book.tooltip.show-next-comic-page' | translate"
          >
            <mat-icon>navigate_next</mat-icon>
          </button>
        </div>
      </div>
      <div class="cx-padding-left-5 cx-width-100">
        <mat-tab-group
          [selectedIndex]="currentTab"
          (selectedTabChange)="onTabChange($event.index)"
        >
          <mat-tab [label]="'comic-book.label.comic-overview' | translate">
            <cx-comic-overview
              [comic]="comic"
              [lastRead]="lastRead"
              [isAdmin]="isAdmin"
            ></cx-comic-overview>
          </mat-tab>
          <mat-tab [label]="'comic-book.label.comic-story' | translate">
            <cx-comic-story [comic]="comic"></cx-comic-story>
          </mat-tab>
          <mat-tab [label]="'comic-book.label.comic-pages' | translate">
            <cx-comic-pages
              *ngIf="showPages"
              [comic]="comic"
              [pageSize]="pageSize"
            ></cx-comic-pages>
          </mat-tab>
          <mat-tab
            [disabled]="!isAdmin"
            [label]="'comic-book.label.comic-edit' | translate"
          >
            <cx-comic-edit
              *ngIf="!!comic && volumes.length === 0"
              [comic]="comic"
              [apiKey]="apiKey"
              [skipCache]="skipCache"
              [maximumRecords]="maximumRecords"
              (scrape)="
                onLoadScrapingVolumes(
                  $event.apiKey,
                  $event.series,
                  $event.volume,
                  $event.issueNumber,
                  $event.maximumRecords,
                  $event.skipCache
                )
              "
            ></cx-comic-edit>
            <cx-comic-scraping
              *ngIf="volumes.length > 0"
              [comic]="comic"
              [comicSeriesName]="scrapingSeriesName"
              [comicVolume]="scrapingVolume"
              [comicIssueNumber]="scrapingIssueNumber"
              [volumes]="volumes"
              [apiKey]="apiKey"
              [skipCache]="skipCache"
              [pageSize]="pageSize"
            ></cx-comic-scraping>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions></mat-card-actions>
</mat-card>
