<p-dataView #dataview
            [sortField]="sort_field"
            [value]="library.comics|comic_series:series_name"
            [layout]="layout">
  <p-header>
    <div class="ui-helper-clearfix">
      <app-comic-list-toolbar [layout]="layout"
                              (layoutChanged)="set_layout(dataview, $event)"
                              [sort_field]="sort_field"
                              (sortFieldChanged)="set_sort_field($event)"
                              [rows]="rows"
                              (rowsChanged)="set_rows($event)"
                              [cover_size]="cover_size"
                              (coverSizeChanged)="set_cover_size($event)"></app-comic-list-toolbar>
    </div>
  </p-header>
  <ng-template let-comic
               pTemplate="listItem">
    <app-comic-list-item [comic]="comic"
                         [same_height]="same_height"
                         [cover_size]="cover_size"></app-comic-list-item>
  </ng-template>
  <ng-template let-comic
               pTemplate="gridItem">
    <app-comic-grid-item [comic]="comic"
                         [same_height]="same_height"
                         [cover_size]="cover_size"></app-comic-grid-item>
  </ng-template>
</p-dataView>
