<div class='container'>
  <h1>User Account Details</h1>
  <div *ngIf='this.message.length > 0'
    class='alert alert-success alert-dismissible' role='alert'>
    <span type="button" class="close" data-dismiss="alert"
      aria-label="Close"><span aria-hidden="true">&times;</span></span>
    {{this.message}}
  </div>
  <form>
    <div class='username-and-password'>
      <label for='username'>Your email address:</label> <input
        type='text' class='form-control' id='username' required
        [(ngModel)]='username' name='username'> <br /> <label
        for='password'>Your password:</label><input type='password'
        class='form-control' id='password' required minlength='8'
        maxlength='32' [(ngModel)]='password' name='password'> <label
        for='password_check'>Re-enter your password:</label><input
        type='password' class='form-control' id='password_check'
        required [(ngModel)]='password_check' name='password_check'>
      <div *ngIf="passesPasswordValidation()">
        <button type='submit' class='btn btn-success'
          (click)='updateUsernameAndPassword()'>Save</button>
      </div>
    </div>
  </form>
</div>