<div class='container'>
  <h1>User Account Details</h1>
  <div *ngIf='this.message.length > 0' class='alert alert-info'
    role='alert'>{{this.message}}</div>
  <form>
    <div class='username-and-password'>
      <dl>
        <dt>
          <label for='username'>Your email address:</label>
        </dt>
        <dd>
          <input type='text' class='form-control' id='username' required
            [(ngModel)]='username' name='username'>
        </dd>
        <dt>
          <label for='password'>Your password:</label>
        </dt>
        <dd>
          <input type='password' class='form-control' id='password'
            required minlength='8' maxlength='32' [(ngModel)]='password'
            name='password'>
        </dd>
        <dt>
          <label for='password_check'>Re-enter your password:</label>
        </dt>
        <dd>
          <input type='password' class='form-control'
            id='password_check' required [(ngModel)]='password_check'
            name='password_check'>
        </dd>
      </dl>
      <div *ngIf="passesPasswordValidation()">
        <button type='submit' class='btn btn-success'
          (click)='updateUsernameAndPassword()'>Save</button>
      </div>
    </div>
  </form>
</div>