@import '~theme';

.mat-subheader {
  background: var(--primary-lighter-color) !important;
  color: var(--text-primary-lighter-color) !important;
}

.mat-nav-list a.active {
  background: var(--primary-darker-color) !important;
  color: var(--text-primary-darker-color) !important;
}
