@use 'variables' as *;

.mat-column-actions {
  width: $cx-column-smallish;
  max-width: $cx-column-smallish;
  resize: none;
}

.mat-column-name {
}

.mat-column-plugin-type {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}

.mat-column-language {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}

.mat-column-property-count {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}
