<!-- comics with duplicate pages modal -->
<div id='display_comics_with_duplicates' class='modal fade'
  role='dialog'>
  <div class='modal-dialog modal-lg'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h4 class='modal-title w-100 text-center'>Comics Containing
          This Page</h4>
      </div>
      <div class='modal-body'>
        <div class='row w-100'>
          <div *ngFor='let page of show_pages' class='p-1 m-1'>
            <div class='card px-1 pt-2 pb-3'>
              <div class='card-header text-center'
                [style.width]='"" + image_size + "px"'>
                <h5 class='card-title text-nowrap text-truncate'>{{get_title_text_for_page(page)}}</h5>
              </div>
              <img class='card-img-top img-thumbnail'
                src='{{get_cover_url_for_page(page)}}'
                [style.width]='"" + image_size + "px"'
                [style.height]='"auto"'>
              <div class='card-footer'>
                <div class='row w-100 justify-content-center ml-0 mb-3'>
                  <button *ngIf='!page.deleted' type='button'
                    class='btn w-75 bg-danger text-white'
                    (click)='delete_page(page)'>Delete</button>
                  <button *ngIf='page.deleted' type='button'
                    class='btn w-75 bg-primary text-white'
                    (click)='undelete_page(page)'>Undelete</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- duplicate pages view -->
<div *ngIf='page_hashes.length === 0' class='container-fluid'>
  <div class='container w-100 justify-content-center'>
    <h4 class='text-center'>No Duplicate Pages To Show.</h4>
  </div>
</div>
<div *ngIf='page_hashes.length > 0' class='container-fluid w-100'>
  <div class='row w-100'>
    <div class='row w-100'>
      <div class='col-3 bg-light text-black pl-5'>
        <h4 class='text-center'>Duplicate Pages</h4>
        <div class='row w-100'>
          <div class='field'>
            <label for='number-of-comics-per-page'># of comics
              per page: </label>
          </div>
          <div class='field row w-100'>
            <select id='number-of-comics-per-page'
              class='form-control w-100' #sizeElem
              (change)='set_page_size(sizeElem.value)'>
              <option *ngFor='let option of page_sizes'
                [value]='option.id'>{{option.label}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class='col-9'>
        <div class='container-fluid w-100'>
          <h2 class='text-center'>There Are {{page_hashes.length}}
            Pages Duplicated In The Library.</h2>
        </div>
        <!--  page navigation -->
        <div
          class='container-fluid w-100 justify-content-center bg-secondary text-white'>
          <pagination-controls (pageChange)='current_page = $event'></pagination-controls>
        </div>
        <div class='container-fluid justify-content-center'>
          <div id='consolidation-message' class='bg-info text-white p-3'>
            <h5 class='text-center'>Deleting Duplicate Pages</h5>
            <p>
              You can delete all instances of each of these pages by
              clicking on the <em>Mark all as deleted</em> button for
              each duplicate page.
            </p>
            <p>Then the next time you consolidate your library those
              pages will be deleted from the comics containing them.</p>
            <p class='text-center'>
              <a href='#' class='card-link text-light'>Consolidate
                library now...</a>
            </p>
          </div>
        </div>
        <div class='row w-100'>
          <app-duplicate-list-entry
            *ngFor='let page_hash of page_hashes | paginate: { itemsPerPage: page_size, currentPage: current_page }'
            [page_hash]='page_hash'
            [show_pages_target]='show_pages_subject'
            [delete_page_target]='delete_page_subject'
            [undelete_page_target]='undelete_page_subject'>
          </app-duplicate-list-entry>
        </div>
      </div>
    </div>
  </div>
</div>