<mat-sidenav-container class="cx-height-100 cx-width-100">
  <mat-sidenav
    #webContent
    mode="over"
    class="cx-width-50 cx-padding-left-15 cx-padding-right-15"
  >
    <h3>{{ contentTitle | translate }}</h3>
    <pre>{{ content | json }}</pre>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button
        mat-flat-button
        class="cx-action-button"
        color="warn"
        (click)="onClearLog()"
      >
        <mat-icon>clear_all</mat-icon>
        <mat-label>{{ "button.clear-log" | translate }}</mat-label>
      </button>
      <div class="cx-spacer"></div>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </mat-toolbar>

    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          {{ "web-audit-log.label.actions" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let entry">
          <button
            [id]="'show-request-content-button-' + entry.id"
            *ngIf="entry.requestContent?.length > 0"
            mat-icon-button
            (click)="onShowRequestContent(entry, webContent)"
          >
            <mat-icon>cloud_upload</mat-icon>
          </button>
          <button
            [id]="'show-response-content-button-' + entry.id"
            *ngIf="entry.responseContent?.length > 0"
            mat-icon-button
            (click)="onShowResponseContent(entry, webContent)"
          >
            <mat-icon>cloud_download</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell mat-sort-header *matHeaderCellDef>
          {{ "web-audit-log.label.account" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let entry">{{ entry.email }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="remote-ip">
        <mat-header-cell mat-sort-header *matHeaderCellDef>
          {{ "web-audit-log.label.remote-ip" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let entry">{{ entry.remoteIp }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="url">
        <mat-header-cell mat-sort-header *matHeaderCellDef>
          {{ "web-audit-log.label.url" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let entry">{{ entry.url }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="method">
        <mat-header-cell mat-sort-header *matHeaderCellDef>
          {{ "web-audit-log.label.method" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let entry">{{ entry.method }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="started">
        <mat-header-cell mat-sort-header *matHeaderCellDef>
          {{ "web-audit-log.label.started" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let entry">
          {{ entry.startTime | date: "medium" }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="bytes-received">
        <mat-header-cell *matHeaderCellDef>
          {{ "web-audit-log.label.bytes-received" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let entry">
          {{ entry.requestContent?.length | number }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="bytes-sent">
        <mat-header-cell *matHeaderCellDef>
          {{ "web-audit-log.label.bytes-sent" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let entry">
          {{ entry.responseContent?.length | number }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="runtime">
        <mat-header-cell *matHeaderCellDef>
          {{ "web-audit-log.label.runtime" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let entry">
          {{
            "web-audit-log.text.runtime"
              | translate
                : { time: entry.endTime - entry.startTime | number: "1.0-0" }
          }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="success">
        <mat-header-cell mat-sort-header *matHeaderCellDef>
          {{ "web-audit-log.label.success" | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let entry">
          {{ entry.successful | yesNo | translate }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </mat-sidenav-content>
</mat-sidenav-container>
