<div *ngIf='importing'
     id='import-busy-indicator-container'>
    <h2>ImportState {{ import_count }} Comics</h2>
    <p-progressBar mode='indeterminate'></p-progressBar>
</div>
<div *ngIf='!importing'
     id='comic-file-list-container'>
    <app-comic-file-list [busy]='fetching_files'
                         [comic_files]='comic_files'
                         [directory]='user | user_preference: "import.directory"'
                         [selected_comic_files]='selected_comic_files'
                         id='comic-file-list'></app-comic-file-list>
</div>
