<div class='card h-100 border-bottom px-1 pb-1' style='width: 256px'>
  <div class='card-body'>
    <h5 class='card-title'>{{page_title}}</h5>
    <h6 class='card-subtitle'>{{page_type_text}}</h6>
    
    <div class='row center-block'>
      <button type='button' class='btn btn-sm btn-danger'
        *ngIf='!page.deleted' mwlConfirmationPopover
        [popoverTitle]='delete_page_title'
        [popoverMessage]='delete_page_message'
        [cancelText]='cancel_button' [confirmText]='confirm_button'
        (confirm)='deletePage()'>Delete</button>
      <button type='button' class='btn btn-sm btn-basic'
        *ngIf='page.deleted' mwlConfirmationPopover
        [popoverTitle]='undelete_page_title'
        [popoverMessage]='undelete_page_message'
        [cancelText]='cancel_button' [confirmText]='confirm_button'
        (confirm)='undeletePage()'>Undelete</button>
    </div>
  </div>
  <img class='card-img-bottom' src='{{page_url}}'>
</div>