<div class='comic-entry'>
  <div class='img-wrapper'>
    <img src='{{page_url}}' class='img-thumbnail img-responsive'
      width='{{width}}'>
    <div class='img-overlay'>
      <div>
        <button type='button' class='btn btn-danger'
          *ngIf='!page.deleted' mwlConfirmationPopover
          [popoverTitle]='delete_page_title'
          [popoverMessage]='delete_page_message'
          [cancelText]='cancel_button' [confirmText]='confirm_button'
          (confirm)='deletePage()'>
          <span class='fa fa-minus'></span>
        </button>
        <button type='button' class='btn btn-basic' *ngIf='page.deleted'
          mwlConfirmationPopover [popoverTitle]='undelete_page_title'
          [popoverMessage]='undelete_page_message'
          [cancelText]='cancel_button' [confirmText]='confirm_button'
          (confirm)='undeletePage()'>
          <span class='fa fa-plus'></span>
        </button>
      </div>
    </div>
  </div>
  {{page.filename}} ({{page.width}}x{{page.height}})
</div>