@use 'variables' as *;

.mat-column-name {
}

.mat-column-issue-count {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}

.mat-column-series-count {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}
