<div class='modal-content'>
  <div class='modal-header'>
    <h4 class='modal-title'>{{get_title_for_current_page()}}</h4>
  </div>
  <div class='modal-body'>
    <div class='media'>
      <div class='media-left media-center'>
        <img src='{{get_image_url_for_current_page()}}'
          class='img-thumbnail' width='256'>
      </div>
      <div class='media-body'>
        <!-- select the page type -->
        <div class='dropdown'>
          <button class='btn btn-primary dropdown-toggle' type='button'
            data-toggle='dropdown'>
            {{get_display_name_for_page_type(page.page_type)}} <span
              class='caret'></span>
          </button>
          <ul class='dropdown-menu'>
            <li *ngFor='let this_page_type of page_types'><a
              [class.active]='page.page_type.id === this_page_type.id'
              (click)='set_page_type(this_page_type)'>
                {{get_display_name_for_page_type(this_page_type)}}</a></li>
          </ul>
        </div>
        <!-- block/unblock this page -->
        <button type='button' class='btn btn-sm btn-danger'
          *ngIf='!page.blocked' (click)='block_page()'>Block
          Pages Like This</button>
        <button type='button' class='btn btn-sm btn-danger'
          *ngIf='page.blocked' (click)='unblock_page()'>Unblock
          Pages Like This</button>
        <!-- delete/undelete buttons -->
        <button type='button' class='btn btn-sm btn-danger'
          *ngIf='!page.deleted' mwlConfirmationPopover
          [popoverTitle]='delete_page_title'
          [popoverMessage]='delete_page_message'
          [cancelText]='cancel_button' [confirmText]='confirm_button'
          (confirm)='delete_page()'>Delete</button>
        <button type='button' class='btn btn-sm btn-basic'
          *ngIf='page.deleted' mwlConfirmationPopover
          [popoverTitle]='undelete_page_title'
          [popoverMessage]='undelete_page_message'
          [cancelText]='cancel_button' [confirmText]='confirm_button'
          (confirm)='undelete_page()'>Undelete</button>
      </div>
    </div>
  </div>
</div>