<p-toolbar id='importing-toolbar'>
    <div class='ui-g'>
        <div class='ui-g-10'>
            <div class='ui-g'>
                <div class='ui-g-12'>
                    <input [(ngModel)]='directory'
                           [disabled]='busy'
                           [placeholder]='"import-toolbar.text.directory-placeholder"|translate'
                           [style.width]='"100%"'
                           id='directory-input'
                           pInputText
                           type='text'/>
                </div>
                <div class='ui-g-12'>
                    <div class='ui-g'>
                        <div class='ui-g-4'>
                            <div class='ui-g'>
                                <div class='ui-g-4'>
                                    <p-dropdown (onChange)='changeLayout.next($event.value)'
                                                [(ngModel)]='layout'
                                                [options]='layout_options'
                                                styleClass='cx-layout-dropdown'></p-dropdown>
                                </div>
                                <div class='ui-g-4'>
                                    <p-dropdown (onChange)='set_sort_field($event.value)'
                                                [(ngModel)]='sort_field'
                                                [options]='sort_field_options'
                                                styleClass='cx-layout-dropdown'></p-dropdown>
                                </div>
                                <div class='ui-g-4'>
                                    <p-dropdown (onChange)='set_rows($event.value)'
                                                [(ngModel)]='rows'
                                                [options]='rows_options'
                                                styleClass='cx-layout-dropdown'></p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class='ui-g-4'>
                            <div class='ui-g'>
                                <div class='ui-g-6'>
                                    <input (keyup)='filterText.next($event.target.value)'
                                           class='cx-filter-comic-filenames'
                                           pInputText
                                           placeholder='{{"import-toolbar.text.filter-placeholder"|translate}}'
                                           type='search'/>
                                </div>
                                <div class='ui-g-6'></div>
                            </div>
                        </div>
                        <div class='ui-g-4'>
                            <div class='ui-g'>
                                <div class='ui-6-4'>
                                    <p-checkbox (onChange)='set_same_height($event)'
                                                [(ngModel)]='same_height'
                                                [label]='"library-contents.options.cover-size.same-height"|translate'
                                                binary='true'></p-checkbox>
                                </div>
                                <div class='ui-g-8'>
                                    <p-slider (onChange)='set_cover_size($event.value)'
                                              (onSlideEnd)='save_cover_size($event.value)'
                                              [(ngModel)]='cover_size'
                                              [max]='400'
                                              [min]='100'></p-slider>
                                    {{"library-contents.label.cover-size"|translate: {cover_size: cover_size} }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='ui-g-2'>
            <div class='cx-button-box-vertical'>
                <button (click)='find_comics()'
                        [disabled]='busy||!directory||!directory.length'
                        [label]='"import-toolbar.button.find"|translate'
                        class='cx-selection-button'
                        id='find-comics'
                        pButton
                        type='button'></button>
                <button (click)='select_all_comics()'
                        [disabled]='!comic_files.length||selected_comic_count === comic_files.length'
                        [label]='"import-toolbar.button.select-all"|translate'
                        class='cx-selection-button ui-button-secondary'
                        id='select-all-comics'
                        pButton
                        type='button'></button>
                <button (click)='deselect_all_comics()'
                        [disabled]='selected_comic_count === 0'
                        [label]='"import-toolbar.button.deselect-all"|translate'
                        class='cx-selection-button ui-button-danger'
                        id='deselect-all-comics'
                        pButton
                        type='button'></button>
            </div>
        </div>
    </div>
</p-toolbar>
