<cx-comic-book-covers
  [comicBooks]="
    comicBooks
      | archiveType: (urlParameterService.archiveType$ | async)
      | coverDateFilter
        : {
            year: (urlParameterService.coverYear$ | async).year,
            month: (urlParameterService.coverYear$ | async).month
          }
  "
  [title]="
    'collection-detail.title.' + collectionType
      | translate
        : {
            name: collectionName,
            count: comicBooks?.length || 0,
            volume: volume || '----'
          }
  "
  [selectedIds]="selectedIds"
  [readingLists]="readingLists"
  [showConsolidate]="isAdmin"
  [isAdmin]="isAdmin"
  [pageSize]="urlParameterService.pageSize$ | async"
  [pageIndex]="urlParameterService.pageIndex$ | async"
  [sortField]="urlParameterService.sortBy$ | async"
  [coverDateFilter]="urlParameterService.coverYear$ | async"
  [archiveType]="urlParameterService.archiveType$ | async"
  [showCovers]="showCovers"
  (selectAllComics)="onSelectAllComics($event)"
></cx-comic-book-covers>
