<h2>
  {{
    "collection-detail.page-title"
      | translate
        : {
            tagType: tagType,
            tagValue: tagValue,
            count: comicBooks.length
          }
  }}
</h2>

<cx-comic-detail-list-view
  class="cx-width-100"
  [isAdmin]="isAdmin"
  [comics]="comicBooks"
  [totalComics]="totalComics"
  [coverYears]="coverYears"
  [coverMonths]="coverMonths"
  [selectedIds]="selectedIds"
  [lastReadDates]="lastReadDates"
  [showLastReadDate]="true"
  [readingLists]="readingLists"
></cx-comic-detail-list-view>
