<mat-form-field class="cx-width-100">
  <mat-label>{{ "metrics.metric-list.name-options" | translate }}</mat-label>
  <mat-select
    [value]="metricDetail$.value?.name"
    (selectionChange)="onMetricNameSelected($event.value)"
  >
    @for (name of metricList$.value?.names; track name) {
      <mat-option [value]="name">
        {{ name }}
      </mat-option>
    }
  </mat-select>
  <input matInput readonly hidden />
</mat-form-field>

<div class="cx-width-100">
  <cx-metric-details
    class="cx-width-100"
    [metricDetail]="metricDetail$ | async"
  ></cx-metric-details>
</div>
