<mat-toolbar class="cx-primary-light-background">
  <input
    type="file"
    class="cx-file-input"
    (change)="uploadFile.emit($event.target.files[0])"
    #fileUpload
  />

  <div class="cx-spacer"></div>

  <mat-divider vertical="true"></mat-divider>

  <button
    id="upload-button"
    mat-icon-button
    color="accent"
    [matTooltip]="'blocked-hash-list.tooltip.upload-file' | translate"
    (click)="fileUpload.click()"
  >
    <mat-icon>upload</mat-icon>
  </button>
  <button
    id="download-button"
    mat-icon-button
    color="accent"
    [matTooltip]="'blocked-hash-list.tooltip.download-file' | translate"
    (click)="downloadFile.emit()"
  >
    <mat-icon>download</mat-icon>
  </button>
</mat-toolbar>
