<p-toolbar>
  <div class='ui-toolbar-group-left' *ngIf='user?.email'>
    <button pButton type='button' icon='fa fa-home' label='{{"iconbar.home"|translate}}' [routerLink]='["/home"]'></button>
    <button pButton type='button' icon='fa fa-book' label='{{"iconbar.library"|translate}}' [routerLink]='["/comics"]'></button>
    <button pButton type='button' *ngIf='user?.is_admin' class='ui-button-secondary' icon='fa fa-upload' label='{{"iconbar.import"|translate}}' [routerLink]='["/import"]'></button>
    <button pButton type='button' *ngIf='user?.is_admin' class='ui-button-secondary' icon='fa fa-minus' label='{{"iconbar.duplicate-pages"|translate}}' [routerLink]='["/duplicates"]'></button>
    <button pButton type='button' *ngIf='user?.is_admin' class='ui-button-secondary' icon='fa fa-fw fa-users' label='{{"iconbar.users"|translate}}' [routerLink]='["/admin/users"]'></button>
  </div>
  <div class='ui-toolbar-group-right'><span *ngIf='user?.email'><b>{{"iconbar.user-link"|translate}}: </b><a [routerLink]='["account"]'>{{ user.email }}</a></span>
    <button pButton type='button' *ngIf='!user.authenticated' type='button' icon='fa fa-sign-in' label='{{"button.login"|translate}}' class='ui-button-success' (click)='do_login()'></button>
    <button pButton type='button' *ngIf='user.authenticated' type='button' icon='fa fa-sign-out' label='{{"button.logout"|translate}}' class='ui-button-danger' (click)='do_logout()'></button>
  </div>
</p-toolbar>
