<div class='ui-g'>
  <div class='ui-g-4'>
    <div class='ui-g'>
      <div class='ui-g-12'>
        <strong>{{'comic-overview.label.publisher'|translate}}</strong>
      </div>
      <div class='ui-g-12'>
        <a
           [routerLink]='["/publishers", comic.publisher||"undefined"]'>{{comic.imprint || comic.publisher || 'text.unknown'|translate}}</a><span
              *ngIf='comic.imprint'> ({{comic.publisher}}
          )</span>
      </div>
      <div class='ui-g-12'>
        <strong>{{'comic-overview.label.series'|translate}}</strong>
      </div>
      <div class='ui-g-12'>
        <a [routerLink]='["/series", comic.series||"undefine"]'>{{comic.series || 'text.unknown'|translate}}</a>
      </div>
      <div class='ui-g-12'>
        <strong>{{'comic-overview.label.volume'|translate}}</strong>
      </div>
      <div class='ui-g-12'>{{comic.volume || 'text.unknown'|translate}}</div>
      <div class='ui-g-12'>
        <strong>{{'comic-overview.label.cover-date'|translate}}</strong>
      </div>
      <div class='ui-g-12'>{{comic.cover_date | date}}</div>
      <div class='ui-g-12'>
        <strong>{{'comic-overview.label.issue-number'|translate}}</strong>
      </div>
      <div class='ui-g-12'>{{comic.issue_number || 'text.unknown'|translate}}</div>
    </div>
  </div>
  <div class='ui-g-4'>
    <div class='ui-g'>
      <div class='ui-g-12'>
        <strong>{{'comic-overview.label.title'|translate}}</strong>
      </div>
      <div class='ui-g-12'>{{comic.title || 'text.unknown'|translate}}</div>
      <div class='ui-g-12'>
        <strong>{{'comic-overview.label.added-date'|translate}}</strong>
      </div>
      <div class='ui-g-12'>{{comic.added_date | date}}</div>
      <div class='ui-g-12'>
        <strong>{{'comic-overview.label.last-read-date'|translate}}</strong>
      </div>
      <div class='ui-g-12'>{{(get_last_read_date(comic) | date)
      || 'Never'}}</div>
      <div class='ui-g-12'>
        <strong>{{'comic-overview.label.page-count'|translate}}</strong>
      </div>
      <div class='ui-g-12'>{{comic.page_count}}</div>
      <div class='ui-g-12'>
        <strong>{{'comic-overview.label.comicvine-details-link'|translate}}</strong>
      </div>
      <div *ngIf='comic.comic_vine_id'
           class='ui-g-12'
           innerHTML='{{"comic-overview.text.comicvine-details-link"|translate:{"comicvine_id":comic.comic_vine_id} }}'>
      </div>
    </div>
  </div>
  <div class='ui-g-4'>
    <div class='ui-g'>
      <div class='ui-g-12'>
        <strong>{{'comic-overview.label.format'|translate}}</strong>
      </div>
      <div class='ui-g-12'>
        <p-inplace *ngIf='is_admin'
                   closable='closable'
                   (onActivate)='copy_comic_format(comic)'>
          <span pInplaceDisplay>{{comic.format?.name || 'comic-overview.text.format-placeholder'|translate}}</span>
          <span pInplaceContent>
            <p-dropdown [options]='formats'
                        [(ngModel)]='format'
                        (onChange)='set_comic_format(comic, $event.value)'></p-dropdown>
          </span></p-inplace>
        <span *ngIf='!is_admin'>{{comic.format?.name ||
        'text.unknown'|translate}}</span>
      </div>
      <div class='ui-g-12'>
        <strong>{{'comic-overview.label.scan-type'|translate}}</strong>
      </div>
      <div class='ui-g-12'>
        <p-inplace *ngIf='is_admin'
                   closable='closable'
                   (onActivate)='copy_scan_type(comic)'>
          <span
                pInplaceDisplay>{{comic.scan_type?.name || comic.format?.name || 'comic-overview.text.scan-type-placeholder'|translate}}</span>
          <span pInplaceContent>
            <p-dropdown [options]='scan_types'
                        [(ngModel)]='scan_type'
                        (onChange)='set_scan_type(comic, $event.value)'></p-dropdown>
          </span></p-inplace>
        <span *ngIf='!is_admin'
              class='ui-g-12'>{{comic.scan_type?.name || 'text.unknown'|translate}}</span>
      </div>
    </div>
    <div class='ui-g-12'>
      <strong>{{'comic-overview.label.sort-name'|translate}}</strong>
    </div>
    <div class='ui-g-12'>
      <p-inplace *ngIf='is_admin'
                 closable='closable'
                 (onActivate)='copy_sort_name(comic)'>
        <span pInplaceDisplay>{{comic.sort_name || 'comic-overview.text.sort-name-placeholder'|translate}}</span>
        <span pInplaceContent> <input type='text'
                 pInputText
                 placeholder='{{"comic-overview.text.sort-name-placeholder"|translate}}'
                 [(ngModel)]='sort_name'>
          <button type='button'
                  pButton
                  icon='pi pi-check'
                  (click)='save_sort_name(comic)'></button>
        </span></p-inplace>
      <span *ngIf='!is_admin'
            class='ui-g-12'>{{comic.sort_name || '[...]'}}</span>
    </div>
  </div>
  <div *ngIf='is_admin'
       class='ui-g-12 cx-container-centered-text'>
    <button type='button'
            pButton
            icon='fas fa-backspace'
            class='ui-button-primary cx-action-button'
            label='{{"comic-overview.button.clear-metadata"|translate}}'
            (click)='clear_metadata()'></button>
    <button id='cx-delete-comic'
            type='button'
            pButton
            icon='fas fa-trash'
            class='ui-button-danger cx-action-button'
            [label]='"comic-overview.button.delete-comic"|translate'
            (click)='delete_comic()'></button>
  </div>
</div>