<div class="ui-g">
  <div class="ui-g-3 ui-sm-3">
    <div class="ui-g">
      <div class="ui-g-12">
        <strong>{{"user-details.label.email-address"|translate}}</strong>
      </div>
      <div class="ui-g-12">{{user.email}}</div>
    </div>
  </div>
  <div class="ui-g-3 ui-sm-3">
    <div class="ui-g">
      <div class="ui-g-12">
        <strong>{{"user-details.label.email-address"|translate}}</strong>
      </div>
      <div class="ui-g-12">
        <ul>
          <li *ngFor="let role of user.roles">{{role.name}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="ui-g-3 ui-sm-3">
    <div class="ui-g">
      <div class="ui-g-12">
        <strong>{{"user-details.label.member-since"|translate}}</strong>
      </div>
      <div class="ui-g-12">{{user.first_login_date|date:"medium"}}</div>
    </div>
  </div>
  <div class="ui-g-3 ui-sm-3">
    <div class="ui-g">
      <div class="ui-g-12">
        <strong>{{"user-details.label.last-logged-in"|translate}}</strong>
      </div>
      <div class="ui-g-12">{{user.last_login_date|date :
        "medium"}}</div>
    </div>
  </div>
</div>
