<div class="cx-width-100 cx-position-absolute cx-centered">
  <h2>{{ "user.login-page.form.title" | translate }}</h2>
  <div class="cx-width-100 cx-border-primary-1 cx-padding-15">
    <form [formGroup]="loginForm">
      <mat-form-field class="cx-width-100" appearance="outline" required>
        <input
          id="email"
          class="cx-width-100"
          matInput
          type="email"
          formControlName="email"
          [placeholder]="'user.login-page.form.placeholder.email' | translate"
          required
        />
      </mat-form-field>

      <mat-form-field class="cx-width-100" appearance="outline" required>
        <input
          id="password"
          class="cx-width-100"
          matInput
          type="password"
          [placeholder]="
            'user.login-page.form.placeholder.password' | translate
          "
          formControlName="password"
          required
        />
      </mat-form-field>
    </form>

    <div class="cx-width-100">
      <button
        class="cx-action-button"
        mat-raised-button
        color="primary"
        [disabled]="!loginForm.valid"
        (click)="onSubmitLogin()"
      >
        <mat-icon>login</mat-icon>
        <mat-label>
          {{ "user.login-page.form.button.submit" | translate }}
        </mat-label>
      </button>
    </div>
  </div>

  <div class="cx-width-100 cx-padding-15">
    <img src="/assets/img/login-page.jpg" height="auto" width="100%" />
  </div>
</div>
