<mat-toolbar class="cx-primary-light-background">
  <button
    id="scrape-filename"
    class="cx-toolbar-button cx-margin-left-5"
    mat-icon-button
    color="warn"
    [matTooltip]="'comic-book.tooltip.scrape-filename' | translate"
    (click)="onScrapeFilename()"
  >
    <mat-icon>upload_file</mat-icon>
  </button>
  <button
    id="save-comic-changes"
    *ngIf="!multimode"
    class="cx-toolbar-button cx-margin-left-5"
    mat-icon-button
    color="primary"
    [matTooltip]="'comic-book.tooltip.save-changes' | translate"
    [disabled]="!comicForm.valid"
    (click)="onSaveChanges()"
  >
    <mat-icon>save</mat-icon>
  </button>
  <button
    id="undo-comic-changes"
    *ngIf="!multimode"
    class="cx-toolbar-button cx-margin-left-5"
    mat-icon-button
    color="warn"
    [matTooltip]="'comic-book.tooltip.undo-changes' | translate"
    [disabled]="comicForm.untouched"
    (click)="onUndoChanges()"
  >
    <mat-icon>undo</mat-icon>
  </button>
  <div class="cx-spacer"></div>
  <button
    id="skip-cache-button"
    class="cx-toolbar-button cx-margin-left-5"
    mat-icon-button
    color="warn"
    [matTooltip]="
      'scraping.tooltip.skip-cache' | translate: { enabled: skipCache }
    "
    (click)="onSkipCacheToggle()"
  >
    <mat-icon *ngIf="skipCache">block</mat-icon>
    <mat-icon *ngIf="!skipCache">remove_circle_outline</mat-icon>
  </button>
  <button
    id="scrape-comic"
    class="cx-toolbar-button cx-margin-left-5"
    mat-icon-button
    color="primary"
    [matTooltip]="'comic-book.tooltip.scrape-comic' | translate"
    [disabled]="!readyToScrape"
    (click)="onFetchScrapingVolumes()"
  >
    <mat-icon>find_replace</mat-icon>
  </button>
</mat-toolbar>
<form *ngIf="!!comic" [formGroup]="comicForm">
  <mat-form-field class="cx-width-50" appearance="fill">
    <mat-label>{{ "comic-book.label.metadata-source" | translate }}</mat-label>
    <mat-select
      [value]="metadataSource"
      (selectionChange)="onMetadataSourceChosen($event.value)"
      required
    >
      <mat-option
        *ngFor="let source of metadataSourceList"
        [value]="source.value"
      >
        {{ source.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="cx-width-50" appearance="fill">
    <mat-label>
      {{ "comic-book.label.metadata-load-limit" | translate }}
    </mat-label>
    <mat-select
      id="maximum-records-select"
      [(value)]="maximumRecords"
      (selectionChange)="onMaximumRecordsChanged($event.value)"
      required
    >
      <mat-option
        *ngFor="let option of maximumRecordsOptions"
        [value]="option.value"
      >
        {{ option.label | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="cx-width-100" appearance="fill">
    <mat-label>{{ "comic-book.label.publisher" | translate }}</mat-label>
    <input
      id="publisher-input"
      matInput
      formControlName="publisher"
      [placeholder]="'comic-book.placeholder.publisher' | translate"
    />
  </mat-form-field>
  <mat-form-field class="cx-width-100" appearance="fill">
    <mat-label>{{ "comic-book.label.series" | translate }}</mat-label>
    <input
      id="series-input"
      matInput
      formControlName="series"
      [placeholder]="'comic-book.placeholder.series' | translate"
      required
    />
    <mat-hint>
      {{ "comic-book.hint.required-for-scraping" | translate }}
    </mat-hint>
    <mat-error *ngIf="comicForm.controls.series.errors?.required">
      {{ "validation.field-required" | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="cx-width-33" appearance="fill">
    <mat-label>{{ "comic-book.label.volume" | translate }}</mat-label>
    <input
      id="volume-input"
      matInput
      formControlName="volume"
      [placeholder]="'comic-book.placeholder.volume' | translate"
    />
    <mat-hint>
      {{ "comic-book.hint.required-for-scraping" | translate }}
    </mat-hint>
  </mat-form-field>
  <mat-form-field class="cx-width-33" appearance="fill">
    <mat-label>{{ "comic-book.label.issue-number" | translate }}</mat-label>
    <input
      id="issue-number-input"
      matInput
      formControlName="issueNumber"
      [placeholder]="'comic-book.placeholder.issue-number' | translate"
      required
    />
    <mat-hint>
      {{ "comic-book.hint.required-for-scraping" | translate }}
    </mat-hint>
    <mat-error *ngIf="comicForm.controls.issueNumber.errors?.required">
      {{ "validation.field-required" | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="cx-width-34" appearance="fill">
    <mat-label>
      {{ "comic-book.label.metadata-source-id" | translate }}
    </mat-label>
    <input
      id="metadata-source-id-input"
      type="number"
      matInput
      readonly
      formControlName="metadataSourceId"
      [placeholder]="'comic-book.placeholder.metadata-source-id' | translate"
    />
    <button
      id="scrape-with-metadata-source-id-button"
      mat-icon-button
      matSuffix
      color="primary"
      [disabled]="
        !this.metadataSource ||
        (this.comicForm.controls.metadataSourceId.value || '').length === 0 ||
        !this.comicForm.controls.metadataSourceId.valid
      "
      [matTooltip]="'scraping.tooltip.use-metadata-source-id' | translate"
      (click)="onScrapeUsingComicVineId()"
    >
      <mat-icon>find_replace</mat-icon>
    </button>
    <mat-hint>
      {{ "comic-book.hint.useful-for-scraping" | translate }}
    </mat-hint>
  </mat-form-field>
  <mat-form-field class="cx-width-50" appearance="fill">
    <mat-label>{{ "comic-book.label.imprint" | translate }}</mat-label>
    <mat-select
      id="imprint-select"
      formControlName="imprint"
      (selectionChange)="onImprintSelected($event.value)"
    >
      <mat-option
        *ngFor="let option of imprintOptions"
        [value]="option.value.name"
      >
        {{ option.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="cx-width-50" appearance="fill">
    <mat-label>{{ "comic-book.label.sort-name" | translate }}</mat-label>
    <input id="sort-name-input" matInput formControlName="sortName" />
  </mat-form-field>
  <mat-form-field class="cx-width-100" appearance="fill">
    <mat-label>{{ "comic-book.label.title" | translate }}</mat-label>
    <input id="title-input" matInput formControlName="title" />
  </mat-form-field>
  <mat-form-field class="cx-width-100" appearance="fill">
    <mat-label>{{ "comic-book.label.description" | translate }}</mat-label>
    <textarea
      id="description-input"
      matInput
      formControlName="description"
    ></textarea>
  </mat-form-field>
</form>
