<h2>
  {{
    "story-detail.page-title"
      | translate
        : {
            tagValue: storyName$ | async
          }
  }}
</h2>

@if (showScrapingButton) {
  <div class="cx-fab-container-bottom-left">
    <button
      id="show-scraping-form-button"
      mat-fab
      color="primary"
      [matTooltip]="'story-detail.button.scrape-story' | translate"
      (click)="onShowStoryScraping()"
    >
      <mat-icon>find_replace</mat-icon>
    </button>
  </div>
}
@if ((showStoryScraping$ | async) === false) {
  <cx-comic-list-view
    class="cx-width-100"
    [isAdmin]="isAdmin$ | async"
    [comics]="comics$ | async"
    [totalComics]="totalComics$ | async"
    [coverYears]="coverYears$ | async"
    [coverMonths]="coverMonths$ | async"
    [selectedIds]="selectedIds$ | async"
    [comicBooksRead]="readComicBookList$ | async"
    [readingLists]="readingLists$ | async"
    (selectAll)="onSelectAll($event)"
  ></cx-comic-list-view>
}
@if (showStoryScraping$ | async) {
  <cx-story-scraping [storyName]="storyName$ | async"></cx-story-scraping>
}
