<p-table [value]="library.characters"
         [rows]="rows"
         paginator="true"
         paginatorPosition="both"
         alwaysShowPaginator="true">
  <ng-template pTemplate="caption">
    <div class="ui-helper-clearfix">
      <div class="ui-g">
        <div class="ui-g-6">
          <div class="ui-g">
            <div class="ui-g-12">
              <p-dropdown [options]="rows_options"
                          [(ngModel)]="rows"></p-dropdown>
            </div>
          </div>
        </div>
        <div class="ui-g-6">
          <app-library-filter *ngIf="library_filter"
                              [publisher]="library_filter.publisher"
                              [series]="library_filter.series"
                              [volume]="library_filter.volume"
                              [from_year]="library_filter.from_year"
                              [to_year]="library_filter.to_year"></app-library-filter>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th [pSortableColumn]="'name'">
        <p-sortIcon [field]="'name'"></p-sortIcon>
        {{"characters-page.table.label.character-name"|translate}}
      </th>
      <th [pSortableColumn]="'comic_count'">
        <p-sortIcon [field]="'comic_count'"></p-sortIcon>
        {{"characters-page.table.label.comic-count"|translate}}
      </th>
      <th [pSortableColumn]="'latest_comic_date'">
        <p-sortIcon [field]="'latest_comic_date'"></p-sortIcon>
        {{"characters-page.table.label.latest-comic-added-date"|translate}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body"
               let-character>
    <tr>
      <td>
        <a [routerLink]="['/characters', character.name||'undefined']">{{character.name||'Undefined'}}</a>
      </td>
      <td>
        {{"characters-page.table.value.comic-count"|translate:{comic_count:character.comic_count} }}
      </td>
      <td>
        {{character.latest_comic_date|date:"medium"}}
      </td>
    </tr>
  </ng-template>
</p-table>
