<p-blockUI [blocked]='single_comic_scraping.busy'> <p-progressBar
  mode="indeterminate"
  [style]="{'height': '6px'}"></p-progressBar> </p-blockUI>
<div
  *ngIf='single_comic_scraping && !single_comic_scraping.volumes.length'
  class='ui-g'>
  <div class='ui-g-2 ui-sm-2'>
    <label for='api_key'><b>ComicVine API Key:</b> </label>
  </div>
  <div class='ui-g-10 ui-sm-6'>
    <input
      id='api_key'
      type='text'
      [(ngModel)]='api_key'
      pInputText>
    <button
      pButton
      type='button'
      label='Save Key'
      [disabled]='!is_api_key_valid()'
      (click)='save_api_key()'></button>
  </div>
  <div class='ui-g-2 ui-sm-2'>
    <label for='series'><b>Series:</b> </label>
  </div>
  <div class='ui-g-10 ui-sm-6'>
    <input
      id='series'
      type='text'
      [(ngModel)]='series'
      pInputText>
  </div>
  <div class='ui-g-2 ui-sm-6'>
    <label for='volume'><b>Volume:</b> </label>
  </div>
  <div class='ui-g-10 ui-sm-6'>
    <input
      id='volume'
      type='text'
      [(ngModel)]='volume'
      pInputText>
  </div>
  <div class='ui-g-2 ui-sm-6'>
    <label for='issue_number'><b>Issue #:</b> </label>
  </div>
  <div class='ui-g-10 ui-sm-6'>
    <input
      id='issue_number'
      type='text'
      [(ngModel)]='issue_number'
      pInputText>
  </div>
  <div class='ui-g-12 ui-sm-12'>
    <button
      pButton
      type='button'
      label='Save'
      icon='fa fa-save'
      (click)='save_changes()'></button>
    <p-splitButton
      label='Fetch'
      icon='fa fa-search'
      [model]='fetch_options'
      [disabled]='!is_ready_to_fetch()'></p-splitButton>
    <button
      pButton
      type='button'
      label='Reset'
      icon='fa fa-undo'
      (click)='reset_changes()'></button>
  </div>
</div>
<div
  *ngIf='single_comic_scraping && single_comic_scraping.volumes?.length'
  class='ui-g'>
  <div class='ui-g-12'>
    <app-volume-list
      [api_key]='single_comic_scraping.api_key'
      [comic]='single_comic_scraping.comic'
      [volumes]='single_comic_scraping.volumes'
      [current_volume]='single_comic_scraping.current_volume'
      [current_issue]='single_comic_scraping.current_issue'
      (selectVolume)='select_volume($event)'
      (selectIssue)='select_issue()'
      (cancelSelection)='cancel_selection()'></app-volume-list>
  </div>
</div>