<app-menubar></app-menubar>
<p-toast position="top-right"
         styleClass="cx-alerts"></p-toast>
<app-login [show_login_dialog]="user.authenticating"></app-login>
<div class="ui-g"
     [style]="{top:0,bottom:0,width:'100%'}">
  <div class="ui-g-12 ui-sm-12">
    <router-outlet></router-outlet>
  </div>
  <div id="comixed-footer"
       class="ui-g">
    <div class="ui-g-3 ui-sm-6"
         [innerHTML]="'main-page.library-counts'|translate:{
           'comic_count':library.comics.length,
           'read_count':0,
           'import_count':library.library_state.import_count,
           'rescan_count':library.library_state.rescan_count}
           ">
    </div>
    <div class="ui-g-9 ui-sm-6"
         [innerHTML]="'main-page.copyright'|translate:{'years':'2017-2019'}">
    </div>
  </div>
</div>
