<app-main-menu #mainmenu></app-main-menu>
<p-breadcrumb [model]='breadcrumbs'
              [home]='home'></p-breadcrumb>
<p-toast position='top-right'
         styleClass='cx-alerts'></p-toast>
<p-confirmDialog></p-confirmDialog>
<app-login [show_login_dialog]='showLogin'></app-login>
<div [style]='{top:0,bottom:0,width:"100%"}'
     class='ui-g'>
    <div class='ui-g-12 ui-sm-12'>
        <router-outlet></router-outlet>
    </div>
    <div class='ui-g'
         id='comixed-footer'>
        <div [innerHTML]='"main-page.library-counts"|translate:{
                comic_count: comicCount,
                read_count: 0,
                import_count: processingCount,
                rescan_count: rescanCount
              }'
             class='ui-g-3 ui-sm-6'></div>
        <div [innerHTML]='"main-page.copyright"|translate:{ years: "2017-2019" }'
             class='ui-g-9 ui-sm-6'></div>
    </div>
</div>
