<app-navigation-bar></app-navigation-bar>
<p-breadcrumb *ngIf='authenticated'
              [model]='breadcrumbs'></p-breadcrumb>
<p-toast position='top-right'
         styleClass='cx-alerts'></p-toast>
<p-confirmDialog></p-confirmDialog>
<app-login [show_login_dialog]='showLogin'></app-login>
<div [style]='{top:0,bottom:0,width:"100%"}'
     class='ui-g'>
  <div class='ui-g-12 ui-sm-12'>
    <router-outlet></router-outlet>
  </div>
  <div id='comixed-footer'
       class='ui-g'>
    <div class='ui-g-4'>
      <div *ngIf='user'
           [innerHTML]='"app-component.library-counts"|translate:{
                comic_count: comicCount,
                read_count: 0,
                import_count: processingCount
              }'
      >
      </div>
    </div>
    <div class='ui-g-4'></div>
    <div class='ui-g-4'>
      <div [innerHTML]='"app-component.copyright"|translate:{ years: "2017-2020" }'>
      </div>
    </div>
  </div>
</div>
