:host >>> h2 {
    text-align: center;
    text-transform: uppercase;
}

:host >>> #comixed-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 102;
    background-color: #eeeeee;
    color: #212121;
}

:host >>> .selected-comic {
    filter: opacity(50%);
    border: 1px solid 0 xff0000;
}

:host >>> .cx-alerts .ui-toast-message-info {
    background-color: #FFFF00;
    color: #000000;
}

:host >>> .cx-alerts .ui-toast-message-error {
    background-color: #B22222;
    color: #000000;
}

:host >>> .cx-button-box-vertical {
    width: 100%;
    text-align: center;
}

:host >>> .cx-selection-button {
    width: 75%;
    margin-top: 1px;
}