<mat-card [style.width]="imageWidth" [style.height]="imageHeight">
  <mat-card-title class="cx-text-nowrap">{{ title }}</mat-card-title>
  <mat-card-subtitle *ngIf="detailLink"
    ><a [routerLink]="detailLink">{{ "text.view-details" | translate }}</a>
  </mat-card-subtitle>
  <mat-card-content>
    <img
      *ngIf="!!imageUrl"
      [class.comic-detail-card-blurred]="blurred"
      [src]="imageUrl"
      [style.width]="'100%'"
      [style.height]="'auto'"
      [alt]="title"
    />
    <div *ngIf="!!description" [innerHTML]="description"></div>
    <mat-progress-spinner
      *ngIf="busy"
      class="comic-detail-card-busy-indicator"
      diameter="100"
      mode="indeterminate"
      color="accent"
    ></mat-progress-spinner>
  </mat-card-content>
</mat-card>
