<h2>{{ "build-details.page-title" | translate }}</h2>

<div class="cx-centered-horiz">
  <mat-card>
    <mat-card-content class="cx-padding-15">
      <div>
        {{
          "build-details.label.branch"
            | translate: { name: (details$ | async)?.branch }
        }}
      </div>
      <div>
        {{
          "build-details.label.build-time"
            | translate: { time: (details$ | async)?.buildTime | date: "long" }
        }}
      </div>
      <div>
        {{
          "build-details.label.build-host"
            | translate: { name: (details$ | async)?.buildHost }
        }}
      </div>
      <div>
        {{
          "build-details.label.build-version"
            | translate: { version: (details$ | async)?.buildVersion }
        }}
      </div>
      <div>
        {{
          "build-details.label.commit-time"
            | translate: { time: (details$ | async)?.commitTime | date: "long" }
        }}
      </div>
      <div>
        {{
          "build-details.label.dirty"
            | translate: { name: (details$ | async)?.dirty }
        }}
      </div>
      <div>
        {{
          "build-details.label.remote-origin-url"
            | translate: { url: (details$ | async)?.remoteOriginURL }
        }}
      </div>
      <div>
        {{
          "build-details.label.jdbc-url"
            | translate: { url: (details$ | async)?.jdbcUrl }
        }}
      </div>
      <div>
        {{
          "build-details.label.java-runtime"
            | translate
              : {
                  version: (details$ | async)?.javaVersion,
                  vendor: (details$ | async)?.javaVendor,
                  osName: (details$ | async)?.osName,
                  osArch: (details$ | async)?.osArch,
                  osVersion: (details$ | async)?.osVersion
                }
        }}
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-icon-button
        [matTooltip]="'build-details.tooltip.copy-to-clipboard' | translate"
        (click)="copyToClipboard()"
      >
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
