#app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: larger;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  z-index: 99;
}

a {
  color: var(--mat-toolbar-container-text-color);
}
