<div id="app-footer" class="cx-horizontal-container mat-toolbar mat-primary">
  @if (!!user) {
    <div class="cx-grow-75p">
      <span class="cx-text-nowrap cx-padding-left-15">
        <a href="/library/all">
          {{
            "app.system-status.comic-count" | translate: { count: comicCount }
          }}
        </a>
        |
        <a href="/library/unscraped">
          {{
            "app.system-status.unscraped-count"
              | translate: { count: unscrapedCount }
          }}
        </a>
        |
        <a href="/library/unread?unread-only=true">
          {{ "app.system-status.read-count" | translate: { count: readCount } }}
        </a>
        |
        <a href="/library/selected">
          {{
            "app.system-status.selected-count"
              | translate: { count: selectedCount }
          }}
        </a>
        |
        <a href="/library/deleted">
          {{
            "app.system-status.deleted-count"
              | translate: { count: deletedCount }
          }}
        </a>
        @if (isAdmin) {
          |
          <a href="/admin/processes">
            {{
              "app.system-status.batch-jobs" | translate: { count: batchJobs }
            }}
          </a>
        }
      </span>
    </div>
  }
  <div class="cx-grow-25p">
    <span class="cx-text-nowrap cx-padding-right-15">
      Copyright &copy; 2017-2025,
      <a href="http://www.comixedproject.org" target="_blank">
        The ComiXed Project
      </a>
    </span>
  </div>
</div>
