@import 'styles';

.mat-column-selection {
  width: $cx-column-smallish;
  max-width: $cx-column-smallish;
  resize: none;
}

.mat-column-job-name {
  width: $cx-column-large;
  max-width: $cx-column-large;
  resize: none;
}

.mat-column-job-id {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}

.mat-column-running {
  width: $cx-column-small;
  max-width: $cx-column-small;
  resize: none;
}

.mat-column-status {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}

.mat-column-start-time {
  width: $cx-column-large;
  max-width: $cx-column-large;
  resize: none;
}

.mat-column-end-time {
  width: $cx-column-large;
  max-width: $cx-column-large;
  resize: none;
}

.mat-column-exit-code {
  width: $cx-column-medium;
  max-width: $cx-column-medium;
  resize: none;
}

.mat-column-exit-description {
}
