<mat-toolbar class="cx-primary-light-background">
  <div class="cx-spacer"></div>
  <button
    mat-icon-button
    (click)="onSave()"
    [disabled]="!comicVineConfigForm.valid"
    color="primary"
  >
    <mat-icon>save</mat-icon>
  </button>
</mat-toolbar>

<form [formGroup]="comicVineConfigForm">
  <mat-form-field class="cx-width-100" appearance="fill">
    <mat-label>
      {{ "configuration.label.comicvine-api-key" | translate }}
    </mat-label>
    <input
      matInput
      id="comicvine-api-key"
      type="text"
      formControlName="apiKey"
      required
    />
    <mat-error>
      {{ "validation.field-required" | translate }}
    </mat-error>
  </mat-form-field>
</form>
