<div class="cx-fab-container-bottom-left">
  <button
    id="delete-completed-jobs-button"
    mat-fab
    [disabled]="dataSource.data.length === 0"
    [matTooltip]="'batch-processes.delete-completed-jobs.tooltip' | translate"
    (click)="onDeleteCompletedJobs()"
  >
    <mat-icon>delete</mat-icon>
  </button>
  <button
    id="delete-selected-jobs-button"
    mat-fab
    [disabled]="!anySelected"
    [matTooltip]="'batch-processes.delete-selected-jobs.tooltip' | translate"
    (click)="onDeleteSelectedJobs()"
  >
    <mat-icon>delete_sweep</mat-icon>
  </button>
</div>

<h2>{{ "batch-processes.batch-process-list.page-title" | translate }}</h2>

<mat-paginator
  class="cx-height-100"
  showFirstLastButtons="true"
  [pageIndex]="queryParameterService.pageIndex$ | async"
  [pageSize]="queryParameterService.pageSize$ | async"
  [pageSizeOptions]="queryParameterService.pageSizeOptions"
  (page)="
    queryParameterService.onPageChange(
      $event.pageSize,
      $event.pageIndex,
      $event.previousPageIndex
    )
  "
></mat-paginator>

<mat-table
  [dataSource]="dataSource"
  matSort
  [matSortActive]="(queryParameterService.sortBy$ | async) || 'job-id'"
  [matSortDirection]="(queryParameterService.sortDirection$ | async) || 'desc'"
  (matSortChange)="
    queryParameterService.onSortChange($event.active, $event.direction)
  "
>
  <ng-container matColumnDef="selection">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      <mat-checkbox
        [checked]="allSelected"
        [disabled]="dataSource.data.length === 0"
        (change)="onSelectAll($event.checked)"
        (click)="$event.stopPropagation()"
      ></mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <mat-checkbox
        [checked]="entry.selected"
        (change)="onSelectOne(entry, $event.checked)"
        (click)="$event.stopPropagation()"
      ></mat-checkbox>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="job-name">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "batch-processes.batch-process-list.label.job-name" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">{{ entry.item.jobName }}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="job-id">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "batch-processes.batch-process-list.label.job-id" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">{{ entry.item.jobId }}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="running">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let entry">
      @if (entry.item.running) {
        <mat-icon>directions_run</mat-icon>
      }
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "batch-processes.batch-process-list.label.status" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">{{ entry.item.status }}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="start-time">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "batch-processes.batch-process-list.label.start-time" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">
        {{ entry.item.startTime | date: "medium" }}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="end-time">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "batch-processes.batch-process-list.label.end-time" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">
        {{ entry.item.endTime | date: "medium" }}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="exit-code">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "batch-processes.batch-process-list.label.exit-code" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">
        {{ entry.item.exitStatus }}
      </span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="exit-description">
    <mat-header-cell *matHeaderCellDef>
      {{
        "batch-processes.batch-process-list.label.exit-description" | translate
      }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">
        {{ entry.item.errors }}
      </span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns"
    [routerLink]="['/admin/processes', row.item.jobId]"
  ></mat-row>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">
      {{
        "batch-processes.batch-process-list.text.no-records-found" | translate
      }}
    </td>
  </tr>
</mat-table>
