<mat-grid-list cols="4" rowHeight="25px">
  <mat-grid-tile class="cx-accent-light-background" colspan="4" rowspan="1">
    {{ "comic-book.label.issue-details" | translate }}
  </mat-grid-tile>
  <mat-grid-tile class="cx-accent-light-background" colspan="1" rowspan="1">
    <span class="cx-align-text-right">
      {{ "comic-book.label.publisher" | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
    <span class="cx-width-100 cx-align-text-left cx-padding-left-5">
      {{ comic.publisher }}
    </span>
  </mat-grid-tile>

  <mat-grid-tile class="cx-accent-light-background" colspan="1" rowspan="1">
    <span class="cx-align-text-right">
      {{ "comic-book.label.series" | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
    <span class="cx-width-100 cx-align-text-left cx-padding-left-5">
      {{ comic.series }}
    </span>
  </mat-grid-tile>

  <mat-grid-tile class="cx-accent-light-background" colspan="1" rowspan="1">
    <span class="cx-align-text-right">
      {{ "comic-book.label.volume" | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
    <span class="cx-width-100 cx-align-text-left cx-padding-left-5">
      {{ comic.volume }}
    </span>
  </mat-grid-tile>

  <mat-grid-tile class="cx-accent-light-background" colspan="1" rowspan="1">
    <span class="cx-align-text-right">
      {{ "comic-book.label.issue-number" | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
    <span class="cx-width-100 cx-align-text-left cx-padding-left-5">
      {{ comic.issueNumber }}
    </span>
  </mat-grid-tile>

  <mat-grid-tile class="cx-accent-light-background" colspan="1" rowspan="1">
    <span class="cx-align-text-right">
      {{ "comic-book.label.cover-date" | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
    <span class="cx-width-100 cx-align-text-left cx-padding-left-5">
      {{ comic.coverDate | date: "MM/yyyy" }}
    </span>
  </mat-grid-tile>

  <mat-grid-tile class="cx-accent-light-background" colspan="4" rowspan="1">
    {{ "comic-book.label.file-details" | translate }}
  </mat-grid-tile>

  <mat-grid-tile class="cx-accent-light-background" colspan="1" rowspan="1">
    <span class="cx-align-text-right">
      {{ "comic-book.label.comic-state" | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
    <span class="cx-width-100 cx-align-text-left cx-padding-left-5">
      {{ "comic-book.text.state-" + comic.comicState | translate }}
    </span>
  </mat-grid-tile>

  <mat-grid-tile class="cx-accent-light-background" colspan="1" rowspan="1">
    <span class="cx-align-text-right">
      {{ "comic-book.label.filename" | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
    <span class="cx-width-100 cx-align-text-left cx-padding-left-5">
      {{ comic.filename }}
    </span>
  </mat-grid-tile>

  <mat-grid-tile class="cx-accent-light-background" colspan="1" rowspan="1">
    <span class="cx-align-text-right">
      {{ "comic-book.label.filesize" | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
    <span class="cx-width-100 cx-align-text-left cx-padding-left-5">
      {{ "comic-book.text.filesize" | translate: { size: 0 } }}
    </span>
  </mat-grid-tile>

  <mat-grid-tile class="cx-accent-light-background" colspan="1" rowspan="1">
    <span class="cx-align-text-right">
      {{ "comic-book.label.file-entries" | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
    <span class="cx-width-100 cx-align-text-left cx-padding-left-5">
      {{
        "comic-book.text.file-entries"
          | translate: { count: comic.fileEntries.length }
      }}
    </span>
  </mat-grid-tile>

  <mat-grid-tile class="cx-accent-light-background" colspan="1" rowspan="1">
    <span class="cx-align-text-right">
      {{ "comic-book.label.added-date" | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="1">
    <span class="cx-width-100 cx-align-text-left cx-padding-left-5">
      {{ comic.addedDate | date: "medium" }}
    </span>
  </mat-grid-tile>

  <mat-grid-tile
    *ngIf="!!lastRead"
    class="cx-accent-light-background"
    colspan="1"
    rowspan="1"
  >
    <span class="cx-align-text-right">
      {{ "comic-book.label.last-read-date" | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="!!lastRead" colspan="3" rowspan="1">
    <span class="cx-width-100 cx-align-text-left cx-padding-left-5">
      {{ lastRead.lastRead | date: "medium" }}
    </span>
  </mat-grid-tile>

  <mat-grid-tile
    *ngIf="comic.notes?.length > 0"
    class="cx-accent-light-background"
    colspan="1"
    rowspan="1"
  >
    <span class="cx-align-text-right">
      {{ "comic-book.label.scraping-notes" | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="comic.notes?.length > 0" colspan="3" rowspan="1">
    <span class="cx-width-100 cx-align-text-left cx-padding-left-5">
      {{ comic.notes }}
    </span>
  </mat-grid-tile>

  <mat-grid-tile class="cx-accent-light-background" colspan="4" rowspan="1">
    {{ "comic-book.label.other-details" | translate }}
  </mat-grid-tile>

  <mat-grid-tile
    *ngIf="comic.sortName?.length > 0"
    class="cx-accent-light-background"
    colspan="1"
    rowspan="1"
  >
    <span class="cx-align-text-right">
      {{ "comic-book.label.sort-name" | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="comic.sortName?.length > 0" colspan="3" rowspan="1">
    <span class="cx-width-100 cx-align-text-left cx-padding-left-5">
      {{ comic.sortName }}
    </span>
  </mat-grid-tile>

  <mat-grid-tile
    *ngIf="!!comic.scanType"
    class="cx-accent-light-background"
    colspan="1"
    rowspan="1"
  >
    <span class="cx-align-text-right">
      {{ "comic-book.label.scan-type" | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="!!comic.scanType" colspan="3" rowspan="1">
    <span class="cx-width-100 cx-align-text-left cx-padding-left-5">
      {{ comic.scanType }}
    </span>
  </mat-grid-tile>

  <mat-grid-tile
    *ngIf="!!comic.format"
    class="cx-accent-light-background"
    colspan="1"
    rowspan="1"
  >
    <span class="cx-align-text-right">
      {{ "comic-book.label.comic-format" | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="!!comic.format" colspan="3" rowspan="1">
    <span class="cx-width-100 cx-align-text-left cx-padding-left-5">
      {{ comic.format }}
    </span>
  </mat-grid-tile>

  <mat-grid-tile
    *ngIf="!!comic.imprint"
    class="cx-accent-light-background"
    colspan="1"
    rowspan="1"
  >
    <span class="cx-align-text-right">
      {{ "comic-book.label.imprint" | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="!!comic.imprint" colspan="3" rowspan="1">
    <span class="cx-width-100 cx-align-text-left cx-padding-left-5">
      {{ comic.imprint }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile
    *ngIf="!!comic.comicVineId"
    class="cx-accent-light-background"
    colspan="1"
    rowspan="1"
  >
    <span class="cx-align-text-right">
      {{ "comic-book.label.comicvine-issue-details" | translate }}
    </span>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="!!comic.comicVineId" colspan="3" rowspan="1">
    <span class="cx-width-100 cx-align-text-left cx-padding-left-5">
      <a [href]="comic | comicvineIssueLink" target="cx-issue-details">
        {{ "comic-book.text.comicvine-issue-link" | translate }}
      </a>
    </span>
  </mat-grid-tile>
</mat-grid-list>
