<h3>{{ "comic-book.label.issue-details" | translate }}</h3>
<cx-label-and-value
  [label]="'comic-book.label.publisher' | translate"
  [value]="comic.publisher"
></cx-label-and-value>
<cx-label-and-value
  [label]="'comic-book.label.series' | translate"
  [value]="comic.series"
></cx-label-and-value>
<cx-label-and-value
  [label]="'comic-book.label.volume' | translate"
  [value]="comic.volume"
></cx-label-and-value>
<cx-label-and-value
  [label]="'comic-book.label.issue-number' | translate"
  [value]="comic.issueNumber"
></cx-label-and-value>
<cx-label-and-value
  [label]="'comic-book.label.cover-date' | translate"
  [value]="comic.coverDate"
></cx-label-and-value>

<h3>{{ "comic-book.label.file-details" | translate }}</h3>
<div>
  <cx-label-and-value
    [label]="'comic-book.label.comic-state' | translate"
    [value]="'comic-book.text.state-' + comic.comicState | translate"
  ></cx-label-and-value>
</div>
<div>
  <cx-label-and-value
    [label]="'comic-book.label.filename' | translate"
    [value]="comic.filename"
  ></cx-label-and-value>
</div>
<div>
  <cx-label-and-value
    [label]="'comic-book.label.filesize' | translate"
    [value]="'comic-book.text.filesize' | translate: { size: 0 }"
  ></cx-label-and-value>
</div>
<div>
  <cx-label-and-value
    [label]="'comic-book.label.file-entries' | translate"
    [value]="
      'comic-book.text.file-entries'
        | translate: { count: comic.fileEntries.length }
    "
  ></cx-label-and-value>
</div>
<div>
  <cx-label-and-value
    [label]="'comic-book.label.filesize' | translate"
    [value]="'text.archive-type' | translate: { type: comic.archiveType }"
  ></cx-label-and-value>
</div>
<div>
  <cx-label-and-value
    [label]="'comic-book.label.added-date' | translate"
    [value]="comic.addedDate | date: 'medium'"
  ></cx-label-and-value>
</div>
<div *ngIf="!!lastRead">
  <cx-label-and-value
    [label]="'comic-book.label.last-read-date' | translate"
    [value]="lastRead.lastRead | date: 'medium'"
  ></cx-label-and-value>
</div>
<div *ngIf="comic.notes?.length > 0">
  <cx-label-and-value
    [label]="'comic-book.label.scraping-notes' | translate"
    [value]="comic.notes"
  ></cx-label-and-value>
</div>

<h3>{{ "comic-book.label.other-details" | translate }}</h3>
<div *ngIf="comic.sortName?.length > 0">
  <cx-label-and-value
    [label]="'comic-book.label.sort-name' | translate"
    [value]="comic.sortName"
  ></cx-label-and-value>
</div>
<div *ngIf="!!comic.scanType">
  <cx-label-and-value
    [label]="'comic-book.label.scan-type' | translate"
    [value]="comic.scanType"
  ></cx-label-and-value>
</div>
<div *ngIf="!!comic.format">
  <cx-label-and-value
    [label]="'comic-book.label.comic-format' | translate"
    [value]="comic.format"
  ></cx-label-and-value>
</div>
<div *ngIf="!!comic.imprint">
  <cx-label-and-value
    [label]="'comic-book.label.imprint' | translate"
    [value]="comic.imprint"
  ></cx-label-and-value>
</div>
