.comic-title-text, .comic-subtitle-text {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.comic-cover-details-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.card-body {
	padding: 15px;
}

#comic-select {
	top: 0;
	left: 0;
	margin-left: 5px;
	margin-top: 5px;
}

#comic-delete {
	top: 0;
	right: 0;
	margin-top: 5px;
	margin-right: 5px;
}

#comic-summary {
	bottom: 0;
	left: 0;
	margin-left: 5px;
	margin-bottom: 5px;
}

#comic-open {
	bottom: 0;
	right: 0;
	margin-right: 5px;
	margin-bottom: 5px;
}

#comic-select, #comic-delete, #comic-summary, #comic-open {
	position: absolute;
	font-size: 24px;
}