<div class='media'>
  <div class='media-left media-center'>
    <img src='{{cover_url}}' class='img-thumbnail' width='64'>
  </div>
  <div class='media-body'>
    <div class='row'>
      <div class='col-sm-10'>
        <span class='media-heading text-primary'><a
          [routerLink]='["/comics", comic.id]'>{{title_text}}</a> -
          added {{comic.added_date | date: 'MM/dd/yyyy' }}</span><br /> <span
          class='text-info' *ngIf='comic.title'>{{comic.title}}<br /></span>
      </div>
      <div class='col-sm-2'>
        <button type='button' class='btn btn-sm btn-primary'
          (click)='clicked($event)' data-toggle='modal'
          data-target='#display_comic_details'>Details</button>
      </div>
    </div>
  </div>
</div>
