<div class="row">
	<div class="col-md-2">
		<img src="{{coverUrl}}" width="128"
			alt="Cover for {{comic.series}} #{{comic.issue_number}}">
	</div>
	<div class="col-md-8">
		<div class="row">
			<div *ngIf="comic.series && comic.volume && comic.issue_number">
				<h5>{{comic.series}} #{{comic.issue_number}} (Vol.
					{{comic.volume}})</h5>
			</div>
		</div>
		<div class="row">
			<div *ngIf="comic.title">
				<h4>{{comic.title}}</h4>
			</div>
		</div>
		<div class="row">Added {{comic.added_date}}</div>
		<div class="row">
			<div *ngIf="comic.last_read_date">Last read
				{{comic.last_read_date | date}}</div>
		</div>
		<div class="row">
			<a href="{{comic.filename}}">Download Comic
				({{comic.archive_type}}, {{comic.page_count}} pages)</a>
		</div>
	</div>
	<div class="col-md-2">
		<button md-button (click)="deleteComic()">Delete</button>
	</div>
</div>
<br />