<div id='user-edit-form-container'>
    <div id='user-edit-form'>
        <form [formGroup]='userForm'>
            <div>
                <label for='email'
                       class='cx-input-label'>{{"user-details-editor.label.email-address"|translate}}</label>
                <input id='email'
                       pInputText
                       class='form-control cx-input-field'
                       type='text'
                       formControlName='email'/>
                <span *ngIf='userForm.controls.email.errors?.required'
                      class='cx-form-validation-error'>{{'user-details-editor.user-form.email-required'|translate}}</span>
                <span *ngIf='userForm.controls.email.errors?.email'
                      class='cx-form-validation-error'>{{'user-details-editor.user-form.email-invalid'|translate}}</span>
            </div>
            <div>
                <label for='password'
                       class='cx-input-label'>{{"user-details-editor.label.password"|translate}}</label>
                <input id='password'
                       pInputText
                       class='form-control cx-input-field'
                       type='password'
                       formControlName='password'/>
                <span *ngIf='userForm.controls.password.errors?.required'
                      class='cx-form-validation-error'>{{'user-details-editor.user-form.password-required'|translate}}</span>
                <span *ngIf='userForm.controls.password.errors?.minlength'
                      class='cx-form-validation-error'>{{'user-details-editor.user-form.password-min-length'|translate:{length: userForm.controls.password.errors.minlength.requiredLength} }}</span>
                <span *ngIf='userForm.controls.password.errors?.maxlength'
                      class='cx-form-validation-error'>{{'user-details-editor.user-form.password-max-length'|translate:{length: userForm.controls.password.errors.maxlength.requiredLength} }}</span>
            </div>
            <div>
                <label for='passwordVerify'
                       class='cx-input-label'>{{"user-details-editor.label.password-verify"|translate}}</label>
                <input id='passwordVerify'
                       pInputText
                       type='password'
                       class='form-control cx-input-field'
                       formControlName='passwordVerify'/>
                <span *ngIf='userForm.controls.passwordVerify.errors?.mustMatch'
                      class='cx-form-validation-error'>{{'user-details-editor.user-form.passwords-must-match'|translate}}</span>
            </div>
            <div *ngIf='isAdmin'>
                <label for='is-admin'
                       class='cx-input-label'>{{(adminIsSet() ? "user-details-editor.label.user-is-admin" : "user-details-editor.label.user-is-reader")|translate}}</label>
                <p-inputSwitch id='is-admin'
                               formControlName='isAdmin'></p-inputSwitch>
            </div>
        </form>
        <div class='cx-button-box-vertical'>
            <button pButton
                    class='cx-selection-button ui-button-primary'
                    [disabled]='!userForm.valid'
                    icon='fa fa-fw fa-save'
                    label='{{"button.save"|translate}}'
                    (click)='saveUser()'></button>
            <button pButton
                    class='cx-selection-button ui-button-danger'
                    icon='fa fa-fw fa-reset'
                    label='{{"button.reset"|translate}}'
                    (click)='resetUser()'></button>
        </div>
    </div>
</div>
