:host >>> .cx-volume-column {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

:host >>> h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}