@use '@angular/material' as mat;

$lite-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: mat.m2-define-palette(mat.$m2-deep-purple-palette),
      accent: mat.m2-define-palette(mat.$m2-green-palette)
    ),
    typography: mat.m2-define-typography-config(),
    density: 0
  )
);
