<div class="cx-width-100">
  <form [formGroup]="loadFilesForm">
    <div fxLayout="row">
      <div fxFlex="60"
           class="cx-padding-left-5 cx-padding-right-15">
        <input id="directory"
               class="cx-width-100"
               matInput
               formControlName="directory"
               [placeholder]="'load-comic-files.directory-placeholder'|translate"
               required>
      </div>
      <div fxFlex="20">
        <mat-select formControlName="maximum">
          <mat-option *ngFor="let option of maximumOptions"
                      [value]="option.value">{{option.label|translate}}</mat-option>
        </mat-select>
      </div>
      <div fxFlex="20">
        <button mat-icon-button
                color="primary"
                [disabled]="!loadFilesForm.valid"
                (click)="onLoadFiles()">
          <mat-icon>search</mat-icon>
          <span>{{"button.load"|translate}}</span></button>
      </div>
    </div>
  </form>
</div>
