<mat-toolbar class="cx-primary-light-background">
  <div class="cx-spacer"></div>
  <button
    mat-icon-button
    (click)="onSave()"
    [disabled]="!libraryConfigurationForm.valid"
    color="primary"
  >
    <mat-icon>save</mat-icon>
  </button>
</mat-toolbar>

<form [formGroup]="libraryConfigurationForm">
  <mat-form-field class="cx-width-100" appearance="standard">
    <mat-checkbox
      id="delete-empty-directories-checkbox"
      color="primary"
      formControlName="deleteEmptyDirectories"
    >
      {{ "configuration.label.delete-empty-directories" | translate }}
    </mat-checkbox>
    <input hidden matInput />
  </mat-form-field>
  <mat-form-field class="cx-width-100" appearance="standard">
    <mat-label>
      {{ "configuration.label.root-directory" | translate }}
    </mat-label>
    <input
      id="root-directory-input"
      matInput
      formControlName="rootDirectory"
      required
    />
  </mat-form-field>
  <div class="cx-width-100">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ "configuration.label.comic-renaming-variables" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <table class="cx-width-100 cx-border-primary-1 cx-padding-5">
        <caption>
          {{ "configuration.text.comic-variable-caption" | translate }}
        </caption>
        <colgroup>
          <col class="cx-table-column-medium" />
          <col />
        </colgroup>
        <thead>
          <th scope="col">
            {{ "configuration.label.comic-variable-name" | translate }}
          </th>
          <th scope="col">
            {{ "configuration.label.comic-variable-description" | translate }}
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let option of comicVariableOptions">
            <td>{{ option.label }}</td>
            <td>{{ option.value | translate }}</td>
          </tr>
        </tbody>
      </table>
    </mat-expansion-panel>
  </div>
  <mat-form-field class="cx-width-100" appearance="standard">
    <mat-label>
      {{ "configuration.label.comic-renaming-rule" | translate }}
    </mat-label>
    <input
      id="comic-renaming-rule-input"
      matInput
      formControlName="comicRenamingRule"
    />
    <mat-error>
      {{ "validation.field-required" | translate }}
    </mat-error>
  </mat-form-field>

  <div class="cx-width-100">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ "configuration.label.page-renaming-variables" | translate }}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <table class="cx-width-100 cx-border-primary-1 cx-padding-5">
        <caption>
          {{ "configuration.text.page-variable-caption" | translate }}
        </caption>
        <colgroup>
          <col class="cx-table-column-medium" />
          <col />
        </colgroup>
        <thead>
          <th scope="col">
            {{ "configuration.label.page-variable-name" | translate }}
          </th>
          <th scope="col">
            {{ "configuration.label.page-variable-description" | translate }}
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let option of pageVariableOptions">
            <td>{{ option.label }}</td>
            <td>{{ option.value | translate }}</td>
          </tr>
        </tbody>
      </table>
    </mat-expansion-panel>
  </div>
  <mat-form-field class="cx-width-100" appearance="standard">
    <mat-label>
      {{ "configuration.label.page-renaming-rule" | translate }}
    </mat-label>
    <input
      id="page-renaming-rule-input"
      matInput
      formControlName="pageRenamingRule"
    />
    <mat-error>
      {{ "validation.field-required" | translate }}
    </mat-error>
  </mat-form-field>
</form>
