<mat-card class="cx-width-100 cx-height-100">
  <mat-card-title>
    <h3 class="cx-width-100 cx-justify-center cx-no-text-wrap">
      {{ title }}
    </h3>
  </mat-card-title>
  <mat-card-content>
    <ngx-charts-bar-vertical
      [results]="chartData()"
      [showGridLines]="true"
      [gradient]="false"
      [xAxis]="true"
      [yAxis]="true"
      [roundEdges]="true"
      [showRefLabels]="true"
      [legend]="false"
      [noBarWhenZero]="true"
    ></ngx-charts-bar-vertical>
  </mat-card-content>
</mat-card>
