<mat-toolbar class="cx-width-100">
  <button
    *ngIf="!user"
    class="cx-action-button"
    mat-flat-button
    color="primary"
    [matTooltip]="'user.login-user.login-tooltip' | translate"
    (click)="onLogin()"
  >
    <mat-icon>login</mat-icon>
    <mat-label>{{ "button.login" | translate }}</mat-label>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-label class="cx-spacer">ComiXed</mat-label>
  <mat-label *ngIf="!!user">
    {{ "app.logged-in" | translate: { email: user.email } }}
    <button
      mat-icon-button
      color="warn"
      [matTooltip]="'user.login-user.logout-tooltip' | translate"
      (click)="onLogout()"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-label>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button *ngIf="isReader" mat-menu-item [matMenuTriggerFor]="libraryMenu">
    <mat-icon>local_library</mat-icon>
    <mat-label>{{ "menu.library-menu.root" | translate }}</mat-label>
  </button>
  <button *ngIf="isAdmin" mat-menu-item [matMenuTriggerFor]="adminMenu">
    <mat-icon>admin_panel_settings</mat-icon>
    <mat-label>{{ "menu.admin-menu.root" | translate }}</mat-label>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="optionsMenu">
    <mat-icon>settings</mat-icon>
    <mat-label>{{ "menu.options-menu.root" | translate }}</mat-label>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="languageMenu">
    <mat-icon>language</mat-icon>
    <mat-label>{{ "menu.language-menu.root" | translate }}</mat-label>
  </button>
  <button mat-menu-item [routerLink]="['/build']">
    <mat-icon>construction</mat-icon>
    <mat-label>{{ "menu.build-details" | translate }}</mat-label>
  </button>
</mat-menu>

<mat-menu #libraryMenu="matMenu">
  <button mat-menu-item [routerLink]="['library']">
    <mat-icon>library_books</mat-icon>
    <mat-label>{{ "menu.library-menu.all-comics" | translate }}</mat-label>
  </button>
</mat-menu>

<mat-menu #adminMenu="matMenu">
  <button mat-menu-item [routerLink]="['admin', 'import']">
    <mat-icon>import_export</mat-icon>
    <mat-label>
      {{ "menu.admin-menu.import-comic-files" | translate }}
    </mat-label>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item [routerLink]="['/admin', 'audit', 'web']">
    <mat-icon>view_headline</mat-icon>
    <mat-label>{{ "menu.admin-menu.web-audit-log" | translate }}</mat-label>
  </button>
</mat-menu>

<mat-menu #languageMenu="matMenu">
  <button
    *ngFor="let language of languages"
    mat-menu-item
    (click)="onSelectLanguage(language)"
  >
    <mat-icon *ngIf="currentLanguage === language">check_box</mat-icon>
    <mat-icon *ngIf="currentLanguage !== language">
      check_box_outline_blank
    </mat-icon>
    <mat-label>{{ "menu.language-menu." + language | translate }}</mat-label>
  </button>
</mat-menu>

<mat-menu #optionsMenu="matMenu">
  <button *ngIf="isReader" mat-menu-item (click)="onShowDisplayOptions()">
    <mat-icon>tv</mat-icon>
    <mat-label>
      {{ "menu.options-menu.show-options-panel" | translate }}
    </mat-label>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="loggingMenu">
    <mat-icon>settings</mat-icon>
    <mat-label>{{ "menu.logging-menu.root" | translate }}</mat-label>
  </button>
</mat-menu>

<mat-menu #loggingMenu="matMenu">
  <button
    *ngFor="let option of loggingOptions"
    mat-menu-item
    (click)="onSetLogging(option)"
  >
    <mat-icon *ngIf="isCurrentLoggingLevel(option)">
      radio_button_checked
    </mat-icon>
    <mat-icon *ngIf="!isCurrentLoggingLevel(option)">
      radio_button_unchecked
    </mat-icon>
    <mat-label>{{ "menu.logging-menu." + option | translate }}</mat-label>
  </button>
</mat-menu>
