<img
  id="cx-user-avatar"
  loading="lazy"
  class="cx-float-left cx-margin-left-5"
  ngxGravatar
  size="50"
  [alt]="user?.email"
  [email]="user?.email"
  [round]="true"
/>
<div>
  <h2>{{ user?.email }}</h2>
  <h3>
    {{
      "user.edit-current-user.label.member-since"
        | translate : { date: user?.firstLoginDate | date : "mediumDate" }
    }}
  </h3>
  <h3>
    {{
      "user.edit-current-user.label.last-logged-in"
        | translate : { date: user?.lastLoginDate | date : "medium" }
    }}
  </h3>
</div>
<!-- /div -->

<form [formGroup]="userForm">
  <mat-card>
    <mat-card-content>
      <mat-form-field class="cx-width-100 cx-padding-5">
        <mat-label>
          {{ "user.edit-current-user.label.email" | translate }}
        </mat-label>
        <input
          id="email-input"
          matInput
          type="email"
          formControlName="email"
          required
        />
        <mat-error>
          @if (controls.email.errors?.required) {
          <span>
            {{ "validation.field-required" | translate }}
          </span>
          } @if (controls.email.errors?.email) {
          <span>
            {{ "validation.email-required" | translate }}
          </span>
          }
        </mat-error>
      </mat-form-field>
      <mat-form-field class="cx-width-100 cx-padding-5">
        <mat-label>
          {{ "user.edit-current-user.label.password" | translate }}
        </mat-label>
        <input
          id="password-input"
          matInput
          type="password"
          formControlName="password"
          (keyup)="onPasswordChanged()"
        />
        <mat-error>
          @if (!!controls.password.errors?.minlength) {
          <span>
            {{
              "validation.value-too-short"
                | translate
                  : {
                      length: controls.password.errors.minlength.requiredLength
                    }
            }}
          </span>
          } @if (!!controls.password.errors?.maxlength) {
          <span>
            {{
              "validation.value-too-long"
                | translate
                  : {
                      length: controls.password.errors.maxlength.requiredLength
                    }
            }}
          </span>
          }
        </mat-error>
      </mat-form-field>
      <mat-form-field class="cx-width-100 cx-padding-5">
        <mat-label>
          {{ "user.edit-current-user.label.password-verify" | translate }}
        </mat-label>
        <input
          id="password-verify-input"
          matInput
          type="password"
          formControlName="passwordVerify"
        />
        <mat-error>
          @if (userForm.errors?.passwordsDontMatch) {
          <span>
            {{
              "user.edit-current-user.validation.passwords-dont-match"
                | translate
            }}
          </span>
          }
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        id="edit-user-save-button"
        mat-raised-button
        class="cx-action-button"
        color="accent"
        [disabled]="!userForm.valid || busy"
        [class.cx-spinner]="busy"
        (click)="onSaveChanges()"
      >
        <mat-icon>save</mat-icon>
        <mat-label>{{ "button.save" | translate }}</mat-label>
      </button>
      <button
        id="edit-user-reset-button"
        mat-raised-button
        class="cx-action-button"
        color="primary"
        [disabled]="!userForm.dirty"
        (click)="onResetChanges()"
      >
        <mat-icon>undo</mat-icon>
        <mat-label>{{ "button.reset" | translate }}</mat-label>
      </button>
      <button
        id="edit-user-close-button"
        mat-raised-button
        class="cx-action-button"
        color="warn"
        (click)="onCloseForm()"
      >
        <mat-icon>close</mat-icon>
        <mat-label>{{ "button.close" | translate }}</mat-label>
      </button>
    </mat-card-actions>
  </mat-card>
</form>

<mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="name">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "user.user-preferences.label.preference-name" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">{{ entry.name }}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="value">
    <mat-header-cell mat-sort-header *matHeaderCellDef>
      {{ "user.user-preferences.label.preference-value" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <span class="cx-width-100 cx-text-nowrap">{{ entry.value }}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell mat-sort-header *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let entry">
      <button
        id="'delete-preference-value-' + entry.name + '-button'"
        mat-icon-button
        [matTooltip]="
          'user.user-preferences.tooltip.delete-preference' | translate
        "
        (click)="onDeletePreference(entry.name)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
